<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">@lang('legend_title')</h3></div>
	<div class="panel-body">
		<div style="float: left; width: 50%;">
			<img src="@theme('images/cat_open.gif')" alt="" /> @lang('legend_cat_old_post')
		</div><div style="float: right; width: 49%;">
			<img src="@theme('images/cat_red.gif')" alt="" /> @lang('legend_cat_new_post')
		</div>
		<br class="invclear" />
		<div style="float: left; width: 50%;">
			<img src="@theme('images/cat_locked.gif')" alt="" /> @lang('legend_cat_hidden')
		</div><div style="float: right; width: 49%;">
			<img src="@theme('images/cat_redirect.gif')" alt="" /> @lang('legend_cat_re')
		</div>
		<br class="invclear" />
	</div>
</div>
