@if($_GET['action'] == 'preview')
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title"><img src="@theme('images/edit.gif')" alt="" /> @lang('preview_title')</h3></div>
	<div class="panel-body">
		<span class="stext">@lang('showtopic_subject') <strong>@if(!empty($data['formatted_prefix'])) [{{ $data['formatted_prefix']}}] @endif {{ $data['topic'] }}</strong></span>
		<hr />
		{!! $data['formatted_comment'] !!}
	</div>
</div>

@endif
<form name="form2" method="post" action="edit.php?id={{ $_GET['id'] }}{{ SID2URL_x }}&amp;action=save">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><img src="@theme('images/edit.gif')" alt="" /> @lang('edit')</h3></div>
		<div class="panel-body">
			<label for="topic">@lang('title')</label>
			@if(empty($inner['index_prefix']))
			<input type="text" class="label" id="topic" name="topic" size="40" tabindex="1" value="{{ $data['topic'] }}" />
			@else
			<div class="label">
				{!! $inner['index_prefix'] !!}<input type="text" id="topic" tabindex="2" name="topic" size="35" value="{{ $data['topic'] }}" />
			</div>
			@endif
			<br class="newinput" /><hr class="formsep" />
			<label for="about">@lang('edit_reason')</label>
			<input class="label" type="text" id="about" name="about" size="40" tabindex="3" value="{{ $data['about'] }}" />
			<br class="newinput" /><hr class="formsep" />
			<label for="comment">@lang('post')</label>
			<div class="label textright"><a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><img src="@theme('images/help.gif')" alt="" /> <strong>@lang('bbcode_help')</strong></a></div>
			<br class="newinput" />
			{!! $bbcode->getEditorArea('comment', $data['comment'], 'cols="75" rows="9" tabindex="4"') !!}
			<hr class="formsep" />
			<label for="dosmileys">@lang('post_settings')</label>
			<div class="label">
				<input type="checkbox" tabindex="5" name="dosmileys" value="1"@checked($data['dosmileys'] == 1)> @lang('post_settings_smileys')
			</div>
			<br class="newinput" />
			@if($p_upload)
			<hr class="formsep" />
			<label>@lang('attachments')</label>
			<div class="label">
				<a href="attachments.php?type=edit&amp;id={{ $_GET['id'] }}&amp;location=comment{{ SID2URL_x }}" tabindex="7" target="adduploads" onclick="adduploads(this);"><strong>@lang('manage_uploads')</strong></a><br />
				<span class="stext">@lang('max_uploads')</span>
			</div>
			<br class="newinput" />
			@endif
			@if($del_mod || $del_user)
			<hr class="formsep" />
			<label for="temp">@lang('edit_del')</label>
			<div class="label"><input type="checkbox" id="temp" name="temp" tabindex="8" onclick="confirmdelete(this);" value="1" /></div>
			<br class="newinput" />
			@endif
		</div>
		<div class="panel-footer center"><input accesskey="s" tabindex="9" type="submit" name="Submit" value="@lang('submit_form')" /> <input type="submit" accesskey="p" tabindex="10" name="Preview" value="@lang('preview_form')" /></div>
	</div>
</form>
