<form name="form2" method="post" action="register.php?action=resend2{{ SID2URL_x }}">
<div class="border">
<h3><img src="@img(register)" alt="" /> @lang(register_resend_title)</h3>
<div class="bbody">
@lang(register_resend_desc)
<br class="newinput" /><hr />
<label for="name">@lang(name)</label>
<input tabindex="1" id="name" class="label" type="text" name="name" value="{{ $name }}" size="40" />
<br class="newinput" />
<?php if ($captcha !== null) { ?>
<hr class="formsep" />
<label for="letter">
	@lang(veriword_check)<br />
	<span class="stext">@lang(register_veriword)</span>
</label>
<div class="label">
	{{ $captcha->generateCode(2) }}
</div>
<br class="newinput" />
<?php } ?>
</div>
<div class="bfoot center"><input tabindex="3" accesskey="s" type="submit" name="Submit1" value="@lang(submit_form)" /></div>
</div>
</form>