<table class="tables">
 <tr> 
  <th colspan="<?php echo $colspan; ?>">
  <?php if ($my->p['team'] == 1) { ?>
   <span class="right">[<a href="team.php<?php echo SID2URL_1; ?>"><?php echo $lang->phrase('team'); ?></a>]</span>
  <?php } ?>
   <img src="<?php echo $tpl->img('members'); ?>" alt="" /> <?php echo $lang->phrase('members'); ?>
  </th>
 </tr>
 <tr> 
  <td class="tfoot" colspan="<?php echo $colspan; ?>"><span class="right"><?php echo $temp; ?></span><?php echo $lang->phrase('member_count'); ?></td>
 </tr>
 <tr> 
  <td class="tbody center" colspan="<?php echo $colspan; ?>"><?php echo $inner['index_letter']; ?></td>
 </tr>
 <?php if ($count[0] > 0) { ?>
 <tr class="tfoot">
  <?php if (in_array('pic', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_pic'); ?>
  </td>
  <?php } ?>
  <td align="center">
   <?php echo $lang->phrase('th_name'); ?>
   <a href="members.php?<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php if ($pm) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_pm'); ?>
  </td>
  <?php } if (in_array('mail', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_email'); ?>
  </td>
  <?php } if (in_array('hp', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_homepage'); ?>
  </td>
  <?php } if (in_array('location', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_location'); ?>
   <a href="members.php?sort=location&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?sort=location&amp;order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php } if (in_array('gender', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_gender'); ?>
   <a href="members.php?sort=gender&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?sort=gender&amp;order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php } if (in_array('birthday', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_birthday'); ?>
   <a href="members.php?sort=birthday&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?sort=birthday&amp;order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php } if (in_array('posts', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_posts'); ?>
   <a href="members.php?sort=posts&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?sort=posts&amp;order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php } if (in_array('regdate', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_registered_since'); ?>
   <a href="members.php?sort=regdate&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?sort=regdate&amp;order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php } if (in_array('lastvisit', $fields)) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_lastvisit'); ?>
   <a href="members.php?sort=lastvisit&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('asc'); ?>" /></a>
   <a href="members.php?sort=lastvisit&amp;order=desc&amp;<?php echo $query_th; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('desc'); ?>" /></a>
  </td>
  <?php } if ($im) { ?>
  <td align="center">
   <?php echo $lang->phrase('th_im'); ?>
  </td>
  <?php } ?>
 </tr>
<?php echo $inner['index_bit']; ?>
 <tr> 
  <td class="tfoot textright" colspan="<?php echo $colspan; ?>"><?php echo $temp; ?></td>
 </tr>
<?php } else { ?>
 <tr> 
  <td class="tbody center" colspan="<?php echo $colspan; ?>"><?php echo $lang->phrase('members_empty'); ?></td>
 </tr>
<?php } ?>
</table>
<?php if ($config['mlist_filtergroups'] == 1) { ?>
<br class="minibr" />
<form action="members.php" method="get">
 <input type="hidden" name="letter" value="<?php echo $_GET['letter']; ?>" />
 <input type="hidden" name="sort" value="<?php echo $_GET['sort']; ?>" />
 <input type="hidden" name="order" value="<?php echo $_GET['order']; ?>" />
 <div class="border">
  <h3><img id="img_filtergroups" alt="switch" src="<?php echo $tpl->img('minus'); ?>" title="<?php echo $lang->phrase('box_collapse'); ?>" /> <?php echo $lang->phrase('members_filtergroups'); ?></h3>
  <div id="part_filtergroups">
  <div class="bbody">
   <label for="g[]"><?php echo $lang->phrase('members_filtergroups_label'); ?></label>
   <select name="g[]" id="g[]" size="<?php echo count($groups); ?>" multiple="multiple" class="label">
   	<?php foreach ($groups as $id => $title) { ?>
    <option value="<?php echo $id; ?>"<?php echo iif(in_array($id, $g), ' selected="selected"'); ?>><?php echo $title; ?></option>
    <?php } ?>
   </select>
   <br class="newinput" /><br class="iefix_br" />
  </div>
  <div class="bfoot center"><input type="submit" value="<?php echo $lang->phrase('members_show_form'); ?>" /></div>
  </div>
 </div>
</form>
<?php } ?>