 <tr class="tbody">
  <td>
   <a href="profile.php?id=<?php echo $row['id'].SID2URL_x; ?>"><?php echo $row['name']; ?></a>
   <?php if(!empty($row['fullname'])) { ?>
   	<br /><em><?php echo $row['fullname']; ?></em>
   	<?php } ?>
  </td>
  <?php if ($online) { ?>
  <td class="center high">
   <img src="<?php echo $tpl->img(iif($row['online'] == 1, 'online', 'offline')); ?>"  title="<?php echo $row['lang_online']; ?>" alt="<?php echo $row['lang_online']; ?>" />
  </td>
  <?php } if (isset($row['pic'])) { ?>
  <td class="center low">
   <?php if (!empty($row['pic'])) { ?>
   <img src="<?php echo $row['pic']; ?>" alt="<?php echo $row['name']; ?>" />
   <?php } ?>
  </td>
  <?php } if ($pm) { ?>
  <td class="center high">
   <a href="pm.php?action=new&amp;id=<?php echo $row['id'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('pm'); ?>" alt="" /></a>
  </td>
  <?php } if (isset($row['mail'])) { ?>
  <td class="center med">
   <a href="profile.php?action=mail&amp;id=<?php echo $row['id'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('email'); ?>" alt="" /></a>
  </td>
  <?php } if (isset($row['hp'])) { ?>
  <td class="center med">
   <?php echo iif($row['hp'], '<a href="'.$row['hp'].'" target="_blank"><img src="'.$tpl->img('homepage').'" alt="" /></a>', $lang->phrase('homepage_no_data')); ?>
  </td>
  <?php } if (isset($row['location'])) { ?>
  <td class="low">
   <?php echo $row['location']; ?>
  </td>
  <?php } if (isset($row['gender'])) { ?>
  <td class="center med">
   <?php echo $row['gender']; ?>
  </td>
  <?php } if (isset($row['posts'])) { ?>
  <td class="textright high">
   <?php echo $row['posts']; ?>
  </td>
  <?php } if (isset($row['birthday'])) { ?>
  <td class="low">
   <?php echo $row['birthday']; ?>
  </td>
  <?php } if (isset($row['regdate'])) { ?>
  <td class="center low">
   <?php echo $row['regdate']; ?>
  </td>
  <?php } if (isset($row['lastvisit'])) { ?>
  <td class="low">
   <?php echo $row['lastvisit']; ?>
  </td>
  <?php } ?>
 </tr>
