<form name="form2" method="post" action="editprofile.php?action=abos2<?php echo SID2URL_x; ?>">
<table class="tables">
<tr> 
<th colspan="4"><img src="<?php echo $tpl->img('user'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_abos'); ?></th>
</tr>
<?php if ($count > 0) { ?>
<tr> 
  <td class="tfoot" colspan="4"><?php echo $pages; ?></td>
</tr>
<tr> 
<th width="2%">
  <input type="checkbox" onclick="check_all(this)" name="all" value="delete[]" />
</th>
<th width="42%"><?php echo $lang->phrase('forum_topic'); ?></th>
<th width="21%"><?php echo $lang->phrase('forum_last'); ?></th>
<th width="35%"><?php echo $lang->phrase('editprofile_digest_type'); ?></th> 
</tr>
<?php foreach ($cache[$p] as $row) { ?>
<tr class="tbody"> 
<td><input type="checkbox" name="delete[]" value="<?php echo $row['id']; ?>" /></td>
<td>
	<?php echo $row['prefix']; ?><a href="showtopic.php?id=<?php echo $row['tid'].SID2URL_x; ?>"><?php echo $row['topic']; ?></a>
	<?php echo iif (!empty($row['topic_pages']), '<br /><span class="stext">'.$row['topic_pages'].'</span>'); ?>
</td>
<td class="textright stext">
	<a title="<?php echo $lang->phrase('jump_to_last_post'); ?>" href="showtopic.php?action=last&amp;id=<?php echo $row['tid'].SID2URL_x; ?>"><?php echo $row['last']; ?></a><br />
	<?php echo $lang->phrase('written_by'); ?> <?php echo $row['last_name']; ?>
</td>
<td><select name="digest[<?php echo $row['id']; ?>]" style="width: 100%">
<option<?php echo iif($row['type'] == 'f', ' selected="selected"'); ?> value="f"><?php echo $lang->phrase('editprofile_digest_f'); ?></option>
<option<?php echo iif($row['type'] == 's', ' selected="selected"'); ?> value="s"><?php echo $lang->phrase('editprofile_digest_s'); ?></option>
<option<?php echo iif($row['type'] == 'd', ' selected="selected"'); ?> value="d"><?php echo $lang->phrase('editprofile_digest_d'); ?></option>
<option<?php echo iif($row['type'] == 'w', ' selected="selected"'); ?> value="w"><?php echo $lang->phrase('editprofile_digest_w'); ?></option>
</select></td> 
</tr>
<?php } ?>
<tr> 
  <td class="tfoot" colspan="4">
  <span class="right"><input accesskey="s" type="submit" name="Submit1" value="<?php echo $lang->phrase('delete_form'); ?>" /></span>
  <?php echo $pages; ?>
  </td>
</tr>
<?php } else { ?>
<tr>
	<td class="tbody center" colspan="4"><?php echo $lang->phrase('forum_empty'); ?></td>
</tr>
<?php } ?>
</table>
</form>
<br class="minibr" />
<div class="border">
<h3><?php echo $lang->phrase('forum_filter'); ?></h3>
<div class="bbody">
<form method="get" action="editprofile.php">
  <select name="type">
    <option<?php echo iif(empty($_GET['type']), ' selected="selected"'); ?> value=""><?php echo $lang->phrase('editprofile_no_filter'); ?></option>
	<option<?php echo iif($_GET['type'] == 'f', ' selected="selected"'); ?> value="f"><?php echo $lang->phrase('editprofile_digest_f'); ?></option>
	<option<?php echo iif($_GET['type'] == 's', ' selected="selected"'); ?> value="s"><?php echo $lang->phrase('editprofile_digest_s'); ?></option>
	<option<?php echo iif($_GET['type'] == 'd', ' selected="selected"'); ?> value="d"><?php echo $lang->phrase('editprofile_digest_d'); ?></option>
	<option<?php echo iif($_GET['type'] == 'w', ' selected="selected"'); ?> value="w"><?php echo $lang->phrase('editprofile_digest_w'); ?></option>
  </select>
  <input type="hidden" name="page" value="<?php echo $_GET['page']; ?>" />
  <input type="hidden" name="action" value="<?php echo $_GET['action']; ?>" />
  <input type="hidden" name="s" value="<?php echo SID2URL; ?>" />
  <input type="submit" accesskey="s" value="<?php echo $lang->phrase('submit_form'); ?>" />
</form>
</div>
</div>
