<?php if ($preview) { ?>
<div class="border">
  <h3><img src="<?php echo $tpl->img('about'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_about_preview'); ?></h3>
  <div class="bbody"><?php echo $parsedPreview; ?></div>
</div>
<br class="minibr" />
<?php } ?>
<form name="form2" method="post" action="editprofile.php?action=about2<?php echo SID2URL_x; ?>">
<div class="border">
<h3><img src="<?php echo $tpl->img('about'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_about'); ?></h3>
<div class="bbody">
	<label><?php echo $inner['smileys']; ?></label>
	<?php echo $inner['bbhtml']; ?>
	<script type="text/javascript">
	<!--
	setTextfield('about');
	-->
	</script>
	<br class="newinput" /><hr class="formsep" />
	<label for="about" class="stext"><?php echo $lang->phrase('editprofile_about_longdesc'); ?></label>
	<div class="label">
		<textarea class="label_inner" name="about" id="about" cols="65" rows="18" tabindex="1"><?php echo $data; ?></textarea>
		<div class="stext">
			<span class="textright right">
				[<a href="#" onclick="return resize_textarea(1)"><?php echo $lang->phrase('textarea_increase_size'); ?></a>]
				[<a href="#" onclick="return resize_textarea(-1)"><?php echo $lang->phrase('textarea_decrease_size'); ?></a>]
			</span>
			[<a href="#" onclick="return textarea_length(<?php echo $config['maxaboutlength']; ?>)"><?php echo $lang->phrase('textarea_check_length'); ?></a>]
		</div>
	</div>
	<br class="newinput" /><br class="iefix_br" />
</div>
<div class="bfoot center">
 <input accesskey="s" type="submit" name="Submit" tabindex="2" value="<?php echo $lang->phrase('submit_form'); ?>" />
 <input accesskey="p" type="submit" name="Preview" tabindex="3" value="<?php echo $lang->phrase('preview_form'); ?>" />
</div>
</div>
</form>
