<?php if ($preview) { ?>
<div class="border">
  <h3><img src="<?php echo $tpl->img('about'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_about_preview'); ?></h3>
  <div class="bbody"><?php echo $parsedPreview; ?></div>
</div>
<br class="minibr" />
<?php } ?>
<form name="form2" method="post" action="editprofile.php?action=about2<?php echo SID2URL_x; ?>">
<div class="border">
<h3><img src="<?php echo $tpl->img('about'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_about'); ?></h3>
<div class="bbody">
	<span class="right"><a href="misc.php?action=bbhelp<?php echo SID2URL_x; ?>" target="_blank"><img src="<?php echo $tpl->img('help'); ?>" alt="" /> <strong><?php echo $lang->phrase('bbcode_help'); ?></strong></a></span>
	<?php echo $lang->phrase('editprofile_about_longdesc'); ?>
	<hr class="formsep" />
	<?php echo $bbcode->getEditorArea('about', $data, 'cols="80" rows="18" tabindex="1"', $config['maxaboutlength']); ?>
</div>
<div class="bfoot center">
 <input accesskey="s" type="submit" name="Submit" tabindex="2" value="<?php echo $lang->phrase('submit_form'); ?>" />
 <input accesskey="p" type="submit" name="Preview" tabindex="3" value="<?php echo $lang->phrase('preview_form'); ?>" />
</div>
</div>
</form>
