<form name="form2" method="post" action="editprofile.php?action=attachments2{{ SID2URL_x }}">
	<table class="tables">
		<tr> 
			<th colspan="5"><img src="@img('user')" alt="" /> @lang('editprofile_attachments')</th>
		</tr>
		<tr class="tfoot"> 
			<td width="40%">@lang('forum_topic')</td>
			<td width="40%">@lang('editprofile_attachments_uploads')</td>
			<td width="10%">@lang('editprofile_attachments_size')</td>
			<td width="5%">@lang('editprofile_attachments_hits')</td>
			<td width="5%">@lang('delete_title')</td>
		</tr>
		@foreach ($cache as $row)
		<tr class="tbody"> 
			<td width="40%"><a href="showtopic.php?action=jumpto&amp;topic_id={{ $row['tid'] }}{{ SID2URL_x }}" target="_blank">{{ $row['topic'] }}</a></td>
			<td width="40%"><a href="attachments.php?action=attachment&amp;id={{ $row['id'] }}{{ SID2URL_x }}" target="_blank">{{ $row['file'] }}</a></td>
			<td width="10%" nowrap="nowrap">{{ $row['fsize'] }}</td>
			<td class="textright" width="5%">{{ $row['hits'] }}</td>
			<td class="center" width="5%"><input type="checkbox" name="delete[]" value="{{ $row['id'] }}" /></td>
		</tr>
		@endforeach
		<tr class="tfoot"> 
			<td class="textright" colspan="2">@lang('editprofile_attachments_allfiles')</td> 
			<td nowrap="nowrap">{{ $all[1] }}</td> 
			<td nowrap="nowrap" class="textright">{{ $all[2] }}</td>
			<td nowrap="nowrap"><input type="checkbox" onclick="check_all(this)" name="all" value="delete[]" /> @lang('check_all')</td>  
		</tr>
		<tr> 
			<td class="tfoot center" colspan="5"><input type="submit" name="Submit1" value="@lang('delete_form')" /></td> 
		</tr>
	</table>
</form>
