<form name="form2" method="post" action="editprofile.php?action=pic2<?php echo SID2URL_x; ?>" enctype="multipart/form-data">
<div class="border">
<h3><img src="<?php echo $tpl->img('user'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_pic'); ?></h3>
<div class="bfoot"><?php echo $lang->phrase('editprofile_pic_current'); ?></div>
<div class="bbody center">
<?php if (file_exists($my->pic)) { ?>
<img src="<?php echo $my->pic; ?>" border="0" alt="">
<?php } else { echo $lang->phrase('editprofile_pic_empty'); } ?>
</div>
<div class="bfoot"><?php echo $lang->phrase('editprofile_pic_new'); ?></div>
<div class="bbody">
  <strong><?php echo $lang->phrase('editprofile_pic_url'); ?></strong><br />
  <input type="text" name="pic" size="60" value="" />
  <hr class="formsep" />
  <strong><?php echo $lang->phrase('editprofile_pic_upload'); ?></strong><br />
  <input type="file" name="upload" size="60" value="" />
  <hr class="formsep">
  <span class="stext">
    <strong><?php echo $lang->phrase('editprofile_pic_settings'); ?></strong>
    <br />
  	<?php echo iif ($config['avfilesize'] > 0, $lang->phrase('editprofile_pic_filesize').'<br />'); ?>
	<?php echo $lang->phrase('editprofile_pic_restricitons'); ?>
  </span>
</div>
<div class="bfoot center"><input accesskey="s" type="submit" name="Submit1" value="<?php echo $lang->phrase('submit_form'); ?>" /></div> 
</div>
</form>
