<?php if ($preview) { ?>
<div class="border">
  <h3><img src="<?php echo $tpl->img('signature'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_signature_preview'); ?></h3>
  <div class="bbody signature"><?php echo $parsedPreview; ?></div>
</div>
<br class="minibr" />
<?php } ?>
<form name="form2" method="post" action="editprofile.php?action=signature<?php echo SID2URL_x; ?>">
<div class="border">
  <h3>
  	<span class="right textright"><a href="misc.php?action=bbhelp<?php echo SID2URL_x; ?>" target="_blank"><img src="<?php echo $tpl->img('help'); ?>" alt="" /> <strong><?php echo $lang->phrase('bbcode_help'); ?></strong></a></span>
  	<img src="<?php echo $tpl->img('signature'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_signature'); ?>
  </h3>
  <div class="bbody">
	<?php echo $bbcode->getEditorArea('signature', $signature, 'cols="80" rows="7" tabindex="1"', $config['maxsiglength']); ?>
  </div>
  <div class="bfoot center">
   <input type="submit" name="Submit" tabindex="2" value="<?php echo $lang->phrase('submit_form'); ?>" />
   <input type="submit" name="Preview" tabindex="3" value="<?php echo $lang->phrase('preview_form'); ?>" />
  </div>
</div>
</form>