@if($preview)
<div class="border">
	<h3><img src="@img(signature)" alt="" /> @lang(editprofile_signature_preview)</h3>
	<div class="bbody signature">{{ $parsedPreview }}</div>
</div>
<br class="minibr" />
@endif
<form name="form2" method="post" action="editprofile.php?action=signature{{ SID2URL_x }}">
	<div class="border">
		<h3>
			<span class="right textright"><a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><img src="@img(help)" alt="" /> <strong>@lang(bbcode_help)</strong></a></span>
			<img src="@img(signature)" alt="" /> @lang(editprofile_signature)
		</h3>
		<div class="bbody">
			{!! $bbcode->getEditorArea('signature', $signature, 'cols="80" rows="7" tabindex="1"', $config['maxsiglength']) !!}
		</div>
		<div class="bfoot center">
			<input type="submit" name="Submit" tabindex="2" value="@lang(submit_form)" />
			<input type="submit" name="Preview" tabindex="3" value="@lang(preview_form)" />
		</div>
	</div>
</form>