@include('header')

<h1>@lang('active_topics_title')</h1>

@if($count > 0)
{!! $temp !!}
<table class="table search-results table-striped">
	<thead>
		<tr> 
			<th class="cell-icon"></th>
			<th class="cell-name">@lang('forum_topic')</th>
			<th class="cell-author hidden-xs">@lang('forum_start')</th>
			<th class="cell-stat hidden-xs hidden-sm">@lang('forum_replies')</th>
			<th class="cell-last">@lang('forum_last')</th>
		</tr>
	</thead>
	<tbody>
		{!! $inner['index_bit'] !!}
	</tbody>
</table>
{!! $temp !!}
@else
<div class="alert alert-info" role="alert">@lang('search_nothingfound')</div>
@endif

@include('footer')