<tr>
	<td class="cell-icon">
		@if($row->read)
		@if($row->status == 0)
		<i class="fa fa-lg fa-folder-open icon-old" title="@lang('forum_icon_old')"></i>
		@else
		<i class="fa fa-lg fa-lock icon-old" title="@lang('forum_icon_closed')"></i>
		@endif
		@else
		@if($row->status == 0)
		<i class="fa fa-lg fa-folder-open icon-new clickable" onclick="marktopicread({{ $row->id }}, this)" title="@lang('forum_icon_new') | @lang('forum_options_markread')"></i>
		@else
		<i class="fa fa-lg fa-lock icon-new clickable" onclick="marktopicread({{ $row->id }}, this)" title="@lang('forum_icon_closed') | @lang('forum_options_markread')"></i>
		@endif
		@endif
	</td>
	<td class="cell-name">
		@if($row->vquestion)
		<img align="right" src="@theme('images/vote.gif')" alt="@lang('vote_titlevote') {{ $row->vquestion }}" />
		@endif
		@if(!$row->read)
		<a href="showtopic.php?action=firstnew&amp;id={{ $row->id }}{{ SID2URL_x }}"><img src="@theme('images/desc.gif')" alt="@lang('move_to_first_new_post')" /></a>
		<strong>
			@endif
			{{ $pref }}
			<a href="showtopic.php?id={{ $row->id }}{{ SID2URL_x }}">@if(!empty($prefix)) [{{ $prefix }}] @endif {{ $row->topic }}</a>
			@if(!$row->read)
		</strong>
		@endif
		{!! $topic_pages !!}
		<span class="stext">@lang('result_board') <a href="showforum.php?id={{ $row->board }}{{ SID2URL_x }}" target="_blank">{{ $forums[$row->board]['name'] }}</a></span>
	</td>
	<td class="cell-author hidden-xs">
		@reldatetime($row->date)<br />
		@lang('written_by')
		<a href="profile.php?id={{ $row->uid }}{{ SID2URL_x }}">{{ $row->name }}</a>
	</td>
	<td class="cell-stat text-center hidden-xs hidden-sm">{{ numbers($row->posts) }}</td>
	<td class="cell-last">
		<a title="@lang('jump_to_last_post')" href="showtopic.php?action=last&amp;id={{ $row->id }}{{ SID2URL_x }}">@reldatetime($row->last)</a><br />
		@lang('written_by')
		<a href="profile.php?id={{ $row->luid }}{{ SID2URL_x }}">{{ $row->luname }}</a>
	</td>
</tr>
