<h1>@lang('search')</h1>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a id="search_presets" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span> @lang('search_presets')
				</a>
				<ul class="dropdown-menu" aria-labelledby="search_presets">
					<li><strong>@lang('search_active_topics')</strong></li>
					<li><a tabindex="4001" href="search.php?action=active&amp;type=days-1{{ SID2URL_x }}">@lang('sat_24h')</a></li>
					<li><a tabindex="4002" href="search.php?action=active&amp;type=days-2{{ SID2URL_x }}">@lang('sat_2d')</a></li>
					<li><a tabindex="4003" href="search.php?action=active&amp;type=days-3{{ SID2URL_x }}">@lang('sat_3d')</a></li>
					<li><a tabindex="4004" href="search.php?action=active&amp;type=days-7{{ SID2URL_x }}">@lang('sat_7d')</a></li>
					<li><a tabindex="4005" href="search.php?action=active&amp;type=days-14{{ SID2URL_x }}">@lang('sat_14d')</a></li>
					@if($my->vlogin)
					<li><a tabindex="4006" href="search.php?action=active&amp;type=abo{{ SID2URL_x }}">@lang('sat_abo')</a></li>
					@endif
					<li><a tabindex="4008" href="search.php?action=active&amp;type=lastvisit{{ SID2URL_x }}">@lang('sat_lastvisit')</a></li>
				</ul>
			</li>
		</ul>
    </div>
</nav>

<form method="post" action="search.php?action=search{{ SID2URL_x }}">
	<div class="form-group">
		<label for="searchsuggest_val">@lang('search_keywords')</label>
		<input tabindex="1" class="form-control" id="searchsuggest_val" type="text" name="search" onkeyup="ajax_search(this.value, key(event))" onblur="ajax_search(this.value)" size="40" />
		<span class="help-block" id="searchsuggest"></span>
	</div>
	<div class="form-group">
		<label for="membersuggest_val">@lang('search_username')</label>
		<input tabindex="2" class="form-control" id="membersuggest_val" type="text" onkeyup="ajax_searchmember(this.value, key(event))" onblur="ajax_searchmember(this.value)" name="name" size="40" />
		<span class="help-block" id="membersuggest"></span>
	</div>

	<h2>@lang('search_soptions')</h2>
	<div class="form-group">
		<label for="boards">@lang('search_boards')</label>
		<select tabindex="2001" class="form-control" id="boards" name="boards[]" multiple="multiple" size="10">
			<option value="" selected="selected">@lang('search_boards_all')</option>
			{!! $forums !!}
		</select>
	</div>
	<div class="form-group">
		<label for="opt_0">@lang('search_scontent')</label>
		<select tabindex="2002" id="opt_0" class="form-control" name="opt_0">
			<option value="0" selected="selected">@lang('search_scontent_pt')</option>
			<option value="1">@lang('search_scontent_t')</option>
		</select>
	</div>
	<div class="form-group">
		<label for="opt_1">@lang('search_match_case')</label>
		<select tabindex="2003" name="opt_1" id="opt_1" class="form-control">
			<option value="0" selected="selected">@lang('search_match_case1')</option>
			<option value="1">@lang('search_match_case2')</option>
		</select>
	</div>
	<div class="form-group">
		<label for="opt_2">@lang('search_linking')</label>
		<select tabindex="2004" id="opt_2" class="form-control" name="opt_2">
			<option value="0" selected="selected">@lang('search_linking_and')</option>
			<option value="1">@lang('search_linking_or')</option>
		</select>
	</div>
	<div class="form-group">
		<label for="temp">@lang('search_sdate')</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
			<select tabindex="2005" name="temp" id="temp" class="form-control">
				<option value="0" selected="selected">@lang('search_sdate0')</option>
				<option value="1">@lang('search_sdate1')</option>
				<option value="7">@lang('search_sdate7')</option>
				<option value="14">@lang('search_sdate14')</option>
				<option value="30">@lang('search_sdate30')</option>
				<option value="90">@lang('search_sdate90')</option>
				<option value="180">@lang('search_sdate180')</option>
				<option value="365">@lang('search_sdate365')</option>
			</select>
			<select tabindex="2006" name="temp2" class="form-control">
				<option value="0" selected="selected">@lang('search_sdate_order0')</option>
				<option value="1">@lang('search_sdate_order1')</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="sort">@lang('search_sortby')</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-sort-amount-asc"></i></div>
			<select tabindex="2007" name="sort" id="sort" class="form-control">
				<option value="topic">@lang('search_sortby_topic')</option>
				<option value="posts">@lang('search_sortby_posts')</option>
				<option value="date">@lang('search_sortby_date')</option>
				<option value="last" selected="selected">@lang('search_sortby_last')</option>
				<option value="name">@lang('search_sortby_name')</option>
				<option value="board">@lang('search_sortby_board')</option>
			</select>
			<select tabindex="2008" name="order" class="form-control">
				<option value="0" selected="selected">@lang('search_sortby_desc')</option>
				<option value="1">@lang('search_sortby_asc')</option>
			</select>
		</div>
	</div>
	<div class="form-group form-buttons"><input type="submit" tabindex="2008" name="Submit3" value="@lang('submit_form')" class="btn btn-primary" /></div>
</form>