<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $lang->phrase('charset'); ?>">
<link rel="stylesheet" type="text/css" href="designs/<?php echo $my->cssid; ?>/standard.css" />
<script type="text/javascript">
<!--
	var sidx = '<?php echo SID2URL_JS_x; ?>';
	var sid1 = '<?php echo SID2URL_JS_1; ?>';
-->
</script>
<script src="templates/lang2js.php?id=<?php echo $my->language; ?>" type="text/javascript"></script>
<script type="text/javascript" src="templates/wordWindow.js"></script>
<script type="text/javascript">
var suggs = new Array();
var words = new Array();
var textinputs = new Array();
var error;
<?php
print_textinputs_var();
print_checker_results();
?>

var wordWindowObj = new wordWindow();
wordWindowObj.originalSpellings = words;
wordWindowObj.suggestions = suggs;
wordWindowObj.textInputs = textinputs;

function init_spell() {
	// check if any error occured during server-side processing
	if( error ) {
		alert( error );
	} else {
		// call the init_spell() function in the parent frameset
		if (parent.frames.length) {
			parent.init_spell( wordWindowObj );
		} else {
			alert('This page was loaded outside of a frameset. It might not display properly');
		}
	}
}



</script>

</head>
<body onLoad="init_spell();">
<div id="window">
<div class="border">
	<h3><?php echo $lang->phrase('spellcheck'); ?></h3>
	<div class="bbody">
	<script type="text/javascript"> wordWindowObj.writeBody(); </script>
	</div>
</div>
</div>
</body>
</html>
