<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $lang->phrase('charset'); ?>">
<script type="text/javascript">
<!--
	var sidx = '<?php echo SID2URL_JS_x; ?>';
	var sid1 = '<?php echo SID2URL_JS_1; ?>';
-->
</script>
<script type="text/javascript">

var wordWindow = null;
var controlWindow = null;

function init_spell( spellerWindow ) {

	if( spellerWindow ) {
		if( spellerWindow.windowType == "wordWindow" ) {
			wordWindow = spellerWindow;
		} else if ( spellerWindow.windowType == "controlWindow" ) {
			controlWindow = spellerWindow;
		}
	}

	if( controlWindow && wordWindow ) {
		// populate the speller object and start it off!
		var speller = opener.speller;
		wordWindow.speller = speller;
		speller.startCheck( wordWindow, controlWindow );
	}
}

// encodeForPost
function encodeForPost( str ) {
	var s = new String( str );
	s = encodeURIComponent( s );
	// additionally encode single quotes to evade any PHP 
	// magic_quotes_gpc setting (it inserts escape characters and 
	// therefore skews the btye positions of misspelled words)
	return s.replace( /\'/g, '%27' );
}

// post the text area data to the script that populates the speller
function postWords() {
	var bodyDoc = window.frames[0].document;
	bodyDoc.open();
	bodyDoc.write('<html>');
	bodyDoc.write('<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $lang->phrase('charset'); ?>" />');
	bodyDoc.write('<link rel="stylesheet" type="text/css" href="designs/<?php echo $my->cssid; ?>/standard.css" />');
	if (opener) {
		var speller = opener.speller;
		bodyDoc.write('<body onload="document.forms[0].submit();"><div id="window">');
		bodyDoc.write('<div class="border"><h3><?php echo $lang->phrase('spellcheck'); ?></h3><div class="bbody"><?php echo $lang->phrase('spellcheck_in_progress'); ?></div></div>');
		bodyDoc.write('<form action="spellcheck.php?action=execute<?php echo SID2URL_x; ?>" method="post">');
		for( var i = 0; i < speller.textInputs.length; i++ ) {
			bodyDoc.write('<input type="hidden" name="textinputs[]" value="'+encodeForPost(speller.textInputs[i].value)+'" />');
		}
		bodyDoc.write('</form>');
		bodyDoc.write('</div></body>');
	} else {
		bodyDoc.write('<body>');
		bodyDoc.write('<p><b>This page cannot be displayed</b></p><p>The window was not opened from another window.</p>');
		bodyDoc.write('</body>');
	}
	bodyDoc.write('</html>');
	bodyDoc.close();
}
</script>
<title>Spellcheck</title>
</head>
<frameset rows="*,201" onLoad="postWords();" framespacing="0" border="1" frameborder="0">
<frame src="spellcheck.php?action=blank<?php echo SID2URL_x; ?>" marginwidth="0" marginheight="0" scrolling="auto" noresize="noresize" />
<frame src="spellcheck.php?action=controls<?php echo SID2URL_x; ?>" marginwidth="0" marginheight="0" scrolling="auto" noresize="noresize" />
</frameset>
</html>
