<script src="templates/editor.js" type="text/javascript"></script>
<div class="border">
<h3><?php echo $lang->phrase('geshi_bbcode_title'); ?></h3>
<div class="bbody">
<strong><?php echo $lang->phrase('geshi_bbcode_desc'); ?></strong><br /><br />
<ul>
   <li><input type="radio" name="data" onclick="InsertTagsCode('[code]','[/code]')" /> <?php echo $lang->phrase('geshi_bbcode_nohighlighting'); ?></li>
   <?php foreach ($clang as $row) { ?>
   <li><input type="radio" name="data" onclick="InsertTagsCode('[code=<?php echo $row['short']; ?>]','[/code]')" /> <?php echo $row['name']; ?></li>
   <?php } ?>
</ul>
</div>
</div>
