<script src="templates/menu.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
	window.onload = function () {
		initImg(<?php echo $config['resizebigimgwidth']; ?>);
	}
-->
</script>
<div class="border">
<div class="topfooter bfoot">
<span class="right"><a href="showtopic.php?id=<?php echo $row->topic_id; ?>" target="_blank"><?php echo $lang->phrase('showpost_show_topic'); ?></a></span>
<img src="<?php echo $tpl->img('post_'.$new); ?>" alt="" /> <?php echo $row->date; ?>
</div>
<div class="inlineheader h3">
  <div class="viewmembername">
    <a href="profile.php?id=<?php echo $row->mid.SID2URL_x.iif($row->guest == 1, "&amp;guest=".$row->id); ?>"><?php echo $row->name; ?></a>
    <?php if ($config['post_user_status'] == 1 && $row->guest == 0) { ?>
    <img src="<?php echo $tpl->img(iif($row->online == 1, 'online', 'offline')); ?>"  title="<?php echo $row->lang_online; ?>" alt="<?php echo $row->lang_online; ?>" />
    <?php } ?>
    <br /><span class="stext"><?php echo $row->level; ?></span>
  </div>
  <?php if ($row->guest == 0) { ?>
  <div class="viewmemberdetails stext">
    <?php echo $lang->phrase('post_info_registered_since').$row->regdate; ?><br />
    <?php echo $lang->phrase('post_info_location').$row->location; ?>
  </div>
  <?php } ?>
  <br class="invclear" /><br class="iefix_br" />
</div>
<div class="bbody iefix_left">
   <span class='stext'><?php echo $lang->phrase('showtopic_subject'); ?><strong><?php echo $row->topic; ?></strong></span>
   <hr />
<?php
echo $row->comment;
if (!empty($inner['upload_box'])) {
?>
   <br /><br />
   <strong><?php echo $lang->phrase('post_uploads'); ?></strong><br class="uploadbox_br" />
   <?php echo $inner['upload_box']; ?>
   <br class="uploadbox_br" />
<?php } if ($bottom) { ?>
   <hr />
  <?php if (!empty($row->fullname) && $config['fullname_posts'] == 1) { ?>
   <div class="fullname stext"><?php echo $row->fullname; ?></div>
  <?php } if (!empty($row->signature) && $my->opt_showsig == 1) { ?>
   <div class="signature"><?php echo $row->signature; ?></div>
 <?php } } if (!empty($row->edit)) { ?>
   <div class="textright stext">
   <?php echo $lang->phrase('post_editinfo1'); ?>
   <strong><a href="popup.php?action=edithistory&amp;id=<?php echo $row->id.SID2URL_x; ?>" target="edithistory" onclick="edithistory(this)"><?php echo $anz; ?></a></strong>
   <?php echo $lang->phrase('post_editinfo2'); ?>
   </div>
 <?php } ?>
</div>
</div>
