<script src="admin/html/editor/bbcode.js" type="text/javascript"></script>
<table class="editor_textarea_outer">
	@if(!in_array(TOOLBAR_FORMATTING, $disable))
	<tr class="js-only">
		<td class="editor_toolbar">
			<div class="dropdown">
				<a id="menu_bbcolor_{{ $id }}" class="editor_toolbar_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> @lang('bbcodes_color')</a>
				<div class="dropdown-menu bbcolor" aria-labelledby="menu_bbcolor_{{ $id }}">
					<li>
						<script type="text/javascript">
							document.write(generateColorPicker("InsertTags('{{ $id }}', '[color=<color>]', '[/color]')"));
						</script>
					</li>
				</div>
			</div>
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<div class="dropdown">
				<a id="menu_bbsize_{{ $id }}" class="editor_toolbar_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> @lang('bbcodes_size')</a>
				<ul class="dropdown-menu bbsize" aria-labelledby="menu_bbsize_{{ $id }}">
					<li><a onclick="InsertTags('{{ $id }}', '[size = large]','[/size]')" style="font-size: 1.3em;">@lang('bbcodes_size_large')</a></li>
					<li><a onclick="InsertTags('{{ $id }}', '[size = small]','[/size]')" style="font-size: 0.8em;">@lang('bbcodes_size_small')</a></li>
					<li><a onclick="InsertTags('{{ $id }}', '[size = extended]','[/size]')" style="letter-spacing: 3px;">@lang('bbcodes_size_extended')</a></li>
				</ul>
			</div>
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<div class="dropdown">
				<a id="menu_bbhx_{{ $id }}" class="editor_toolbar_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> @lang('bbcodes_header')</a>
				<ul class="dropdown-menu bbheading" aria-labelledby="menu_bbhx_{{ $id }}">
					<li><a onclick="InsertTags('{{ $id }}', '[h = large]','[/h]')"><h4>@lang('bbcodes_header_h1')</h4></a></li>
					<li><a onclick="InsertTags('{{ $id }}', '[h = middle]','[/h]')"><h5>@lang('bbcodes_header_h2')</h5></a></li>
					<li><a onclick="InsertTags('{{ $id }}', '[h = small]','[/h])"><h6>@lang('bbcodes_header_h3')</h6></a></li>
				</ul>
			</div>
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<div class="dropdown">
				<a id="menu_bbtable_{{ $id }}" class="editor_toolbar_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> @lang('bbcodes_table')</a>
				<ul class="dropdown-menu bbtable" aria-labelledby="menu_bbtable_{{ $id }}">
					<li><input type="checkbox" id="table_head_{{ $id }}" value="1" /> @lang('bbcodes_table_show_head')</li>
					<li><input type="text" size="4" id="table_rows_{{ $id }}" value="2" /> @lang('bbcodes_table_rows')</li>
					<li><input type="text" size="4" id="table_cols_{{ $id }}" value="2" /> @lang('bbcodes_table_cols')</li>
					<li><button type="button" class="btn btn-primary" onclick="InsertTable('{{ $id }}')">@lang('bbcodes_table_insert_table')</button></li>
				</ul>
			</div>
			@if(!empty($cbb))
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			@endif
			@foreach ($cbb as $bb)
			<img src="{{ $bb['buttonimage'] }}" onclick="{{ $bb['href'] }}" title="{{ $bb['title'] }}" alt="{{ $bb['title'] }}" class="editor_toolbar_button" />
			@endforeach
		</td>
	</tr>
	<tr class="js-only">
		<td class="editor_toolbar">
			<img src="admin/html/editor/images/bold.gif" onclick="InsertTags('{{ $id }}', '[b]', '[/b]');" title="@lang('bbcodes_bold')" alt="@lang('bbcodes_bold')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/italic.gif" onclick="InsertTags('{{ $id }}', '[i]', '[/i]');" title="@lang('bbcodes_italic')" alt="@lang('bbcodes_italic')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/underline.gif" onclick="InsertTags('{{ $id }}', '[u]', '[/u]');" title="@lang('bbcodes_underline')" alt="@lang('bbcodes_underline')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<img src="admin/html/editor/images/left.gif" onclick="InsertTags('{{ $id }}', '[align=left]', '[/align]');" title="@lang('bbcodes_align_left')" alt="@lang('bbcodes_align_left')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/center.gif" onclick="InsertTags('{{ $id }}', '[align=center]', '[/align]');" title="@lang('bbcodes_align_center')" alt="@lang('bbcodes_align_center')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/right.gif" onclick="InsertTags('{{ $id }}', '[align=right]', '[/align]');" title="@lang('bbcodes_align_right')" alt="@lang('bbcodes_align_right')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/justify.gif" onclick="InsertTags('{{ $id }}', '[align=justify]', '[/align]');" title="@lang('bbcodes_align_justify')" alt="@lang('bbcodes_align_justify')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<img src="admin/html/editor/images/img.gif" onclick="InsertTags('{{ $id }}', '[img]', '[/img]');" title="@lang('bbcodes_img')" alt="@lang('bbcodes_img')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/url.gif" onclick="InsertTagsURL('{{ $id }}', '[url={param1}]{param2}', '[/url]');" title="@lang('bbcodes_url')" alt="@lang('bbcodes_url')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/email.gif" onclick="InsertTags('{{ $id }}', '[email]', '[/email]');" title="@lang('bbcodes_email')" alt="@lang('bbcodes_email')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<img src="admin/html/editor/images/quote.gif" onclick="InsertTags('{{ $id }}', '[quote]', '[/quote]');" title="@lang('bbcodes_quote')" alt="@lang('bbcodes_quote')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/ot.gif" onclick="InsertTags('{{ $id }}', '[ot]', '[/ot]');" title="@lang('bbcodes_ot')" alt="@lang('bbcodes_ot')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/edit.gif" onclick="InsertTags('{{ $id }}', '[edit]', '[/edit]');" title="@lang('bbcodes_edit')" alt="@lang('bbcodes_edit')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/code.gif" onclick="InsertTags('{{ $id }}', '[code]', '[/code]');" title="@lang('bbcodes_code')" alt="@lang('bbcodes_code')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<img src="admin/html/editor/images/list_unordered.gif" onclick="InsertTagsList('{{ $id }}');" title="@lang('bbcodes_list')" alt="@lang('bbcodes_list')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/list_ordered.gif" onclick="InsertTagsList('{{ $id }}', 'ol');" title="@lang('bbcodes_list_ol')" alt="@lang('bbcodes_list_ol')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<img src="admin/html/editor/images/hr.gif" onclick="InsertTags('{{ $id }}', '[hr]', '');" title="@lang('bbcodes_hr')" alt="@lang('bbcodes_hr')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/tt.gif" onclick="InsertTags('{{ $id }}', '[tt]', '[/tt]');" title="@lang('bbcodes_tt')" alt="@lang('bbcodes_tt')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<img src="admin/html/editor/images/subscript.gif" onclick="InsertTags('{{ $id }}', '[sub]', '[/sub]');" title="@lang('bbcodes_sub')" alt="@lang('bbcodes_sub')" class="editor_toolbar_button" />
			<img src="admin/html/editor/images/superscript.gif" onclick="InsertTags('{{ $id }}', '[sup]', '[/sup]');" title="@lang('bbcodes_sup')" alt="@lang('bbcodes_sup')" class="editor_toolbar_button" />
		</td>
	</tr>
	@endif
	@if(!in_array(TOOLBAR_SMILEYS, $disable))
	<tr class="js-only">
		<td class="editor_toolbar">
			@foreach ($smileys[1] as $bb)
			<img src="{{ $bb['replace'] }}" onclick="InsertTags('{{ $id }}', ' {{ $bb['jssearch'] }} ', '');" title="{{ $bb['desc'] }}" alt="{{ $bb['desc'] }}" class="editor_toolbar_smiley" onmouseover="buttonOverSmiley(this)" onmouseout="buttonOutSmiley(this)" /></a>
			@endforeach
			@if(!empty($smileys[0]))
			<img src="admin/html/editor/images/seperator.gif" alt="" />
			<div class="dropdown">
				<a id="menu_bbsmileys_{{ $id }}" class="editor_toolbar_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span> @lang('more_smileys')
				</a>
				<ul class="dropdown-menu bbsmileys" aria-labelledby="menu_bbsmileys_{{ $id }}">
					@foreach ($smileys[0] as $bb)
					<li><a href="javascript:InsertTags('{{ $id }}', ' {{ $bb['jssearch'] }} ', '')"><img src="{{ $bb['replace'] }}" alt="{{ $bb['desc'] }}" /> {{ $bb['desc'] }}</a></li>
					@endforeach
				</ul>
			</div>
			@endif
		</td>
	</tr>
	@endif
	<tr>
		<td class="editor_textarea">
			<textarea name="{{ $id }}" id="{{ $id }}" class="editor_textarea_inner"{!! $taAttr !!}>{{ $content }}</textarea>
		</td>
	</tr>
	@if(!in_array(TOOLBAR_STATUS, $disable))
	<tr class="js-only">
		<td class="editor_statusbar">
			<span class="pull-right">
				<a href="javascript:resize_textarea('{{ $id }}', 1);">@lang('textarea_increase_size')</a>
				<img src="admin/html/editor/images/seperator.gif" alt="" style="max-height: 1em;" />
				<a href="javascript:resize_textarea('{{ $id }}', -1);">@lang('textarea_decrease_size')</a>
			</span>
			<a href="javascript:textarea_length('{{ $id }}', {{ $maxlength }});">@lang('textarea_check_length')</a>
		</td>
	</tr>
	@endif
</table>
