<h1>@lang('re_login_title')</h1>
<div class="alert alert-danger alert-dismissible" role="alert">
	<ul>
		@foreach ($errormsg as $error)
		<li>{{ $error }}</li>
		@endforeach
	</ul>
</div>
<h2>@lang('re_login_login')</h2>
<p>
	<strong>@lang('logged_in_as')</strong>
	{{ $my->name }}
	@if($my->vlogin)
	<a href="log.php?action=logout&amp;redirect={{ rawurlencode($errorurl) }}{{ SID2URL_x }}" class="btn btn-danger">@lang('logout')</a>
	@endif
</p>
@if(!$my->vlogin)
<form method="post" action="log.php?action=login2{{ SID2URL_x }}">
	<div class="form-group">
		<label for="name">@lang('login_name')</label>
		<input type="text" name="name" tabindex="1" id="name" class="form-control" size="15" />
	</div>
	<div class="form-group">
		<label for="pw">@lang('login_password')</label>
		<input type="password" name="pw" tabindex="2" id="pw" class="form-control" size="15" />
		<input type="hidden" name="redirect" value="{{ $errorurl }}" />
	</div>
	<div class="form-group form-buttons">
		<input accesskey="s" tabindex="3" type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>
@endif
