@if($pagecount > 1)
<nav class="pagination-block">
	<ul class="pagination">
		@if($page > 1)
		<li class="pagination-previous"><a href="{{ $uri }}page={{ $page - 1 }}{{ SID2URL_x }}"><i class="fa fa-angle-left"></i><span class="pagination-btn-label">@lang('pages_previous')</span></a></li>
		@endif
		@foreach($pages as $k => $i)
			@if($i == $page)
			<li class="active pagination-current"><span>{{ $i }}</span></li>
			@else
				@if($k > 0 && $pages[$k-1]+1 < $i)
				<li class="disabled pagination-separator"><a href="javascript:jumptopage('{{ $uri }}');">...</a></li>
				@endif
				<li class="pagination-pagenumber"><a href="{{ $uri }}page={{ $i }}{{ SID2URL_x }}">{{ $i }}</a></li>
			@endif
		@endforeach
		@if($page < $pagecount)
		<li class="pagination-next"><a href="{{ $uri }}page={{ $page + 1 }}{{ SID2URL_x }}"><span class="pagination-btn-label">@lang('pages_next')</span><i class="fa fa-angle-right"></i></a></li>
		@endif
	</ul>
</nav>
@endif