/nbproject/
/admin/backup/*.sql
/admin/backup/*.zip
/admin/html/language_*.js
/classes/vendor/
/data/cache/
/data/cron/*.job
/feeds/
/templates/language_*.js
/temp/
locked.txt
composer.lock
!.htaccess