/nbproject/
/admin/backup/*.sql
/admin/backup/*.zip
/admin/html/language_*.js
/assets/cache/
/classes/vendor/
/data/cache/
/data/cron/*.log
/data/cron/*.job
/data/logs/
/feeds/
/temp/
/uploads/
locked.txt
composer.lock
!.htaccess
!.gitkeep