<tr class="tbody">
	<td width="2%" class="center"><input type="checkbox" name="delete[]" value="{{ $row['id'] }}" /></td>
	<td width="2%" class="center">
		@if($row['status'])
		<i class="fa fa-lg fa-envelope icon-neutral" title="@lang('pm_oldicon')"></i>
		@else
		<i class="fa fa-lg fa-envelope icon-new" title="@lang('pm_newicon')"></i>
		@endif
	</td>
	<td width="66%"><a href="pm.php?action=show&amp;id={{ $row['id'] }}{{ SID2URL_x }}">{{ $row['topic'] }}</a></td>
	<td width="30%" class="stext">
		@reldatetime($row['date'])<br />
		@if($_GET['id'] != 2) @lang('by') @elselang('pm_outgoing_by')
		<a href="profile.php?id={{ $row['pm_from'] }}{{ SID2URL_x }}">{{ $row['name'] }}</a>
	</td>
</tr>
