<h1>@lang('pm_writenew')</h1>
@if(!empty($data['formatted_comment']))
<h2>@lang('preview_title')</h2>
<div class="well">
	@lang('showtopic_subject') <strong>@if(!empty($prefix)) [{{ $prefix }}] @endif {{ $data['topic'] }}</strong>
	<hr />
	{!! $data['formatted_comment'] !!}
</div>
@endif
<form name="form2" method="post" action="pm.php?action=save{{ SID2URL_x }}">
	<div class="form-group">
		<label for="membersuggest_name">@lang('pm_addressee')</label>
		<input id="membersuggest_name" class="form-control" name="name" tabindex="1" type="text" onkeyup="ajax_searchmember(this.value, key(event))" onblur="ajax_searchmember(this.value)" size="40" value="{{ $data['name'] }}" />
		<span class="help-block" id="membersuggest"></span>	
	</div>
	<div class="form-group">
		<label for="topic">@lang('pm_title'):</label>
		<input type="text" tabindex="2000" id="topic" class="form-control" name="topic" size="30" value="{{ $data['topic'] }}" />
	</div>
	<div class="form-group">
		<label for="comment">
			@lang('pm_postarea')
			<small><a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><i class="fa fa-question-circle"></i> @lang('bbcode_help')</a></small>
		</label>
		{!! $bbcode->getEditorArea('comment', $data['comment'], 'cols="75" rows="9" tabindex="2001"') !!}
	</div>
	<div class="form-group">
		<label for="temp">
			<input tabindex="2002" type="checkbox" name="" value="1"@checked($data['outgoing'] == 1) />
			@lang('pm_saveoutgoing')
		</label>
	</div>
	<div class="form-group form-buttons">
		<input type="submit" accesskey="p" tabindex="2003" name="Preview" value="@lang('preview_form')" class="btn btn-default" />
		<input type="submit" accesskey="s" tabindex="2004" name="Submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>
