<div class="border">
	<h3><img id="img_cat_i3" alt="switch" src="@theme('images/minus.gif')" title="@lang('box_collapse')" /> @lang('last_x_forumposts')</h3>
	<div class="bbody" id="part_cat_i3">
		<span class="stext">
			@foreach ($lastbox as $row)
			@reldatetime($row['date']): <a title="{{ $row['topic_full'] }}" href="showtopic.php?action=last&amp;id={{ $row['id'] }}{{ SID2URL_x }}">{{ $row['prefix'] }}{{ $row['topic'] }}</a>
			@lang('by') <a href="profile.php?id={{ $row['luid'] }}{{ SID2URL_x }}">{{ $row['luname'] }}</a><br />
			@endforeach
		</span>
	</div>
</div>
<br class="minibr" />