<tr class="tbody">
	<td><img src="<?php echo $src; ?>" alt="<?php echo $alt; ?>" /></td>
	<td>
		<?php echo iif($row->vquestion," <img align='right' src='".$tpl->img('vote')."' alt='Umfrage: $row->vquestion' />"); ?>
		<?php echo iif($firstnew,'<a href="showtopic.php?action=firstnew&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('desc').'" alt="'.$lang->phrase('move_to_first_new_post').'" /></a>'); ?>
		<?php echo $pref; ?>
		<a href='showtopic.php?id=<?php echo $row->id.SID2URL_x; ?>'><?php echo iif(!empty($showprefix), '['.$showprefix.'] ').$row->topic; ?></a><br />
		<span class="stext">Forum: <a href="showforum.php?id=<?php echo $row->board.SID2URL_x; ?>" target="_blank"><?php echo $forums[$row->board]['name']; ?></a></span></td>
	<td><span class="stext">
		<?php echo $rstart; ?><br />
		<?php echo $lang->phrase('written_by'); ?> <?php echo iif($row->mid,"<a href='profile.php?id=".$row->mid.SID2URL_x."'>".$row->name."</a>",$row->name); ?>
	</span></td>
	<td class="center"><?php echo numbers($row->posts); ?></td>
	<td class="textright"><span class="stext">
		<a title="<?php echo $lang->phrase('jump_to_last_post'); ?>" href="showtopic.php?action=last&amp;id=<?php echo $row->id.SID2URL_x; ?>"><?php echo $rlast; ?></a><br />
		<?php echo $lang->phrase('written_by'); ?> <?php echo $row->last_name; ?></span>
	</td>
</tr>
