<table class="tables">
  <tr> 
	<th colspan="5"><img src="@img(last)" border="0" alt="" /> @lang(active_topics_title)</th>
  </tr>
  <?php if ($count > 0) { ?>
  <tr> 
	<td class="tfoot textright" colspan="5">{{ $temp }}</td>
  </tr>
  <tr> 
	<th width="2%">&nbsp;</th>
	<th width="48%">@lang(forum_topic)</th>
	<th width="20%">@lang(forum_start)</th>
	<th width="10%">@lang(forum_replies)</th>
	<th width="20%">@lang(forum_last)</th>
  </tr>
	{!! $inner['index_bit'] !!}
  <tr> 
	<td class="tfoot textright" colspan="5">{{ $temp }}</td>
  </tr>
  <?php } else { ?>
  <tr>
    <td colspan="5" class="bbody center">@lang(search_nothingfound)</td>
  </tr>
  <?php } ?>
</table>
