<form name="form2" method="post" action="search.php?action=search<?php echo SID2URL_x; ?>">
<div class="border">
<div class="h3">
  <a class="right" id="menu_activetopics" href="#activetopics"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('box_collapse'); ?>" /> <?php echo $lang->phrase('search_presets'); ?></a>
  <script type="text/javascript">RegisterMenu('activetopics');</script>
  <div class="popup" id="popup_activetopics">
	<strong><?php echo $lang->phrase('search_active_topics'); ?></strong>
	<ul>
	<li><a href="search.php?action=active&amp;type=days-1<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_24h'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-2<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_2d'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-3<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_3d'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-7<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_7d'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-14<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_14d'); ?></a></li>
	<?php if ($my->vlogin) { ?>
	<li><a href="search.php?action=active&amp;type=abo<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_abo'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=fav<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_fav'); ?></a></li>
	<?php } if ($my->clv > 0) { ?>
	<li><a href="search.php?action=active&amp;type=lastvisit<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_lastvisit'); ?></a></li>
	<?php } ?>
	</ul>
  </div>
  <img src="<?php echo $tpl->img('suchen'); ?>" alt="" /> <?php echo $lang->phrase('search'); ?>
</div>
<div class="bbody">
<label for="searchsuggest_val"><?php echo $lang->phrase('search_keywords'); ?></label>
<div class="label">
    <input class="label_inner" id="searchsuggest_val" type="text" name="search" onblur="ajax_search(this.value);" size="40" />
    <span class="stext" id="searchsuggest"></span>
</div>
<br class="newinput" /><hr class="formsep" />
<label for="membersuggest_val"><?php echo $lang->phrase('search_username'); ?></label>
<div class="label">
    <input class="label_inner" id="membersuggest_val" type="text" onkeyup="ajax_searchmember(this.value);" name="name" size="40" />
    <span class="stext" id="membersuggest"></span>
</div>
<br class="newinput" /><br class="iefix_br" />
</div>
<div class="h3"><img id="img_searchopt" alt="switch" src="<?php echo $tpl->img('minus'); ?>" title="<?php echo $lang->phrase('box_collapse'); ?>" /> <?php echo $lang->phrase('search_soptions'); ?></div>
<div class="bbody" id="part_searchopt">
<label for="boards"><?php echo $lang->phrase('search_boards'); ?></label>
<select class="label" id="boards" name="boards[]" multiple="multiple" size="10">
 <option value="" selected="selected"><?php echo $lang->phrase('search_boards_all'); ?></option>
 <?php echo $forums; ?>
</select>
<br class="newinput" /><hr class="formsep" />
<label for="opt_0"><?php echo $lang->phrase('search_scontent'); ?></label>
<select id="opt_0" class="label" name="opt_0">
	<option value="0" selected="selected"><?php echo $lang->phrase('search_scontent_pt'); ?></option>
	<option value="1"><?php echo $lang->phrase('search_scontent_t'); ?></option>
</select>
<br class="newinput" /><hr class="formsep" />
<label for="opt_1"><?php echo $lang->phrase('search_match_case'); ?></label>
<select name="opt_1" id="opt_1" class="label">
    <option value="0" selected="selected"><?php echo $lang->phrase('search_match_case1'); ?></option>
	<option value="1"><?php echo $lang->phrase('search_match_case2'); ?></option>
</select>
<br class="newinput" /><hr class="formsep" />
<label for="opt_2"><?php echo $lang->phrase('search_linking'); ?></label>
<select id="opt_2" class="label" name="opt_2">
	<option value="0" selected="selected"><?php echo $lang->phrase('search_linking_and'); ?></option>
	<option value="1"><?php echo $lang->phrase('search_linking_or'); ?></option>
</select>
<br class="newinput" /><hr class="formsep" />
<label for="temp"><?php echo $lang->phrase('search_sdate'); ?></label>
<div class="label">
<select name="temp" id="temp">
	<option value="0" selected="selected"><?php echo $lang->phrase('search_sdate0'); ?></option>
	<option value="1"><?php echo $lang->phrase('search_sdate1'); ?></option>
	<option value="7"><?php echo $lang->phrase('search_sdate7'); ?></option>
	<option value="14"><?php echo $lang->phrase('search_sdate14'); ?></option>
	<option value="30"><?php echo $lang->phrase('search_sdate30'); ?></option>
	<option value="90"><?php echo $lang->phrase('search_sdate90'); ?></option>
	<option value="180"><?php echo $lang->phrase('search_sdate180'); ?></option>
	<option value="365"><?php echo $lang->phrase('search_sdate365'); ?></option>
</select>
<select name="temp2">
	<option value="0" selected="selected"><?php echo $lang->phrase('search_sdate_order0'); ?></option>
	<option value="1"><?php echo $lang->phrase('search_sdate_order1'); ?></option>
</select>
</div>
<br class="newinput" /><hr class="formsep" />
<label for="sort"><?php echo $lang->phrase('search_sortby'); ?></label>
<div class="label">
<select name="sort" id="sort">
	<option value="topic"><?php echo $lang->phrase('search_sortby_topic'); ?></option>
	<option value="posts"><?php echo $lang->phrase('search_sortby_posts'); ?></option>
	<option value="date"><?php echo $lang->phrase('search_sortby_date'); ?></option>
	<option value="last" selected="selected"><?php echo $lang->phrase('search_sortby_last'); ?></option>
	<option value="name"><?php echo $lang->phrase('search_sortby_name'); ?></option>
	<option value="board"><?php echo $lang->phrase('search_sortby_board'); ?></option>
</select>
<select name="order">
	<option value="0" selected="selected"><?php echo $lang->phrase('search_sortby_desc'); ?></option>
	<option value="1"><?php echo $lang->phrase('search_sortby_asc'); ?></option>
</select>
</div>
<br class="newinput" /><br class="iefix_br" />
</div>
<div class="bfoot center"><input type="submit" name="Submit3" onclick="submit_flood(this)" value="<?php echo $lang->phrase('submit_form'); ?>" /></div>
</div>
</form>
<noscript>
 <br class="minibr" />
  <div class="popup_noscript">
	<a name="activetopics"></a><strong><?php echo $lang->phrase('search_active_topics'); ?></strong>
	<ul>
	<li><a href="search.php?action=active&amp;type=days-1<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_24h'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-2<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_2d'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-3<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_3d'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-7<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_7d'); ?></a></li>
	<li><a href="search.php?action=active&amp;type=days-14<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_14d'); ?></a></li>
	<?php if ($my->vlogin) { ?>
	<li><a href="search.php?action=active&amp;type=abo<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_abo'); ?></a></li>
	<?php } if ($my->clv > 0) { ?>
	<li><a href="search.php?action=active&amp;type=lastvisit<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('sat_lastvisit'); ?></a></li>
	<?php } ?>
	</ul>
  </div>
</noscript>