<form name="form2" method="post" action="log.php?action=login2<?php echo SID2URL_x; ?>">
<div class="border">
<h3><img src="<?php echo $tpl->img('login'); ?>" alt="" /> <?php echo $lang->phrase('login'); ?></h3>
<div class="bbody">
	<label for="name">
	<?php echo $lang->phrase('login_name'); ?>
	</label>
	<input tabindex="1" id="name" class="label" type="text" name="name" size="40" />
	<br class="newinput" /><hr class="formsep" />
	<label for="pw">
	<?php echo $lang->phrase('login_password'); ?><br />
	<span class="stext"><a tabindex="5" href="log.php?action=pwremind<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('login_lost_password'); ?></a></span>
	</label>
	<input tabindex="2" id="pw" class="label" type="password" name="pw" size="40" />
	<br class="newinput" /><hr class="formsep" />
	<label for="remember"><?php echo $lang->phrase('login_rememberme'); ?></label>
	<div class="label center"><input type="checkbox" tabindex="3" id="remember" name="remember" value="1" checked="checked" /></div>
	<br class="newinput" /><br class="iefix_br" />
</div>
<div class="bfoot center">
	 <input type="hidden" name="redirect" value="<?php echo $loc; ?>" />
	 <input tabindex="4" type="submit" accesskey="s" name="Submit1" value="<?php echo $lang->phrase('submit_form'); ?>" />
</div>
</div>
</form>
<br class="minibr" />
<div class="border">
<h3><img src="<?php echo $tpl->img('register'); ?>" alt="" /> <?php echo $lang->phrase('why_register'); ?></h3>
<div class="bbody">
<p><?php echo $lang->phrase('why_register_desc'); ?></p>
<p class="center">
[<a tabindex="6" href="misc.php?action=rules<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('rules'); ?></a>]
<?php if ($config['disableregistration'] == 0) { ?>
 &nbsp; [<a tabindex="7" href="register.php<?php echo SID2URL_1; ?>"><?php echo $lang->phrase('login_registered'); ?></a>]
<?php } ?>
 &nbsp; [<a tabindex="8" href="register.php?action=resend<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('register_resend_title'); ?></a>]
</p>
</div>
</div>
