<form name="form" method="post" action="pm.php?action=massmanage<?php echo SID2URL_x; ?>">
<table class="tables">
	<tr>
        <th colspan="4"><img src="<?php echo $tpl->img('pm'); ?>" alt="" /> <?php echo $lang->phrase('pm_browse_title'); ?></th>
	</tr> 
<?php if ($count[0] != 0) { ?>
	<tr> 
          <td class="tfoot textright" colspan="4"><?php echo $temp; ?></td>
	</tr>
	<tr> 
		<th width="4%" colspan="2" nowrap="nowrap"><input type="checkbox" onclick="check_all(this)" name="all" value="delete[]" /> <?php echo $lang->phrase('check_all'); ?></th>
		<th width="66%"><?php echo $lang->phrase('forum_topic'); ?></th>
		<th width="30%"><?php echo $lang->phrase('pm_authordate'); ?></th>
    </tr>	
	<?php echo $inner['index_bit']; ?>
    <tr> 
        <td class="tfoot textright" colspan="4"><?php echo $temp; ?></td>
    </tr>
    <tr> 
        <td class="tfoot center" colspan="4">
			<input type="submit" name="delete2" value="<?php echo $lang->phrase('delete_form'); ?>" />
			<?php if ($_GET['id'] != '2') { ?>
			<input type="hidden" name="id" value="<?php echo $_GET['id']; ?>" />
			<input type="submit" name="move2" value="<?php echo $lang->phrase('move_form'); ?>" />
			<?php } ?>
		</td>
    </tr>
<?php } else { ?>
	<tr>
		<td class="tbody center" colspan="4"><?php echo $lang->phrase('pm_empty'); ?></td>
	</tr>
<?php } ?>
</table>
</form>
