<div class="border">
<h3><?php echo $lang->phrase('delete_title'); ?></h3>
<div class="bbody">
    <p class="center"><?php echo $lang->phrase('pm_confirmdelete'); ?></p>
    <p class="center">
        <a href="pm.php?action=<?php echo iif($_GET['action'] == "massmanage", 'massdelete&amp;data='.$data, 'delete2&amp;id='.$data).SID2URL_x; ?>">
        <img alt="" src="<?php echo $tpl->img('yes'); ?>" /> <?php echo $lang->phrase('confirm_yes'); ?></a>
        <a class="sep" href="javascript:history.back(-1);"><img alt="" src="<?php echo $tpl->img('no'); ?>" /> <?php echo $lang->phrase('confirm_no'); ?></a>
    </p>
</div>
</div>
