<?php if ($count > 0) { ?>
<table class="tables">
<?php if ($ib > 0) { ?>
	<tr>
		<th colspan="3"><img src="<?php echo $tpl->img('pm'); ?>" alt="" /> <?php echo $lang->phrase('pm_title_index'); ?></th>
	</tr>
	<tr class="tfoot">
		<td width="4%">&nbsp;</td>
		<td width="66%"><?php echo $lang->phrase('forum_topic'); ?></td>
		<td width="30%"><?php echo $lang->phrase('pm_authordate'); ?></td>
	</tr>
<?php
	echo $inner['index_bit'];
}
if ($ibo > 0) {
?>
	<tr>
		<th colspan="3"><img src="<?php echo $tpl->img('pm'); ?>" alt="" /> <?php echo $lang->phrase('pm_index_old'); ?></th>
	</tr>
	<tr class="tfoot">
		<td width="4%">&nbsp;</td>
		<td width="66%"><?php echo $lang->phrase('forum_topic'); ?></td>
		<td width="30%"><?php echo $lang->phrase('pm_authordate'); ?></td>
	</tr>
<?php
	echo $inner['index_bit_old'];
}
?>
</table>
<?php } else { ?>
<div class="border">
	<h3><img src="<?php echo $tpl->img('pm'); ?>" alt="" /> <?php echo $lang->phrase('editprofile_pm'); ?></h3>
	<div class="bbody center"><?php echo $lang->phrase('pm_empty'); ?></div>
</div>
<br class="minibr" />
<?php } ?>