<div class="border"><h3 class="center">
[<a href="pm.php<?php echo SID2URL_1; ?>"><?php echo $lang->phrase('pm_dir_index'); ?></a>]&nbsp;
[<a href="pm.php?action=new<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('pm_new_title'); ?></a>]&nbsp;
[<a href="pm.php?action=browse&amp;id=1<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('pm_dirs_inbox'); ?></a>]&nbsp;
[<a href="pm.php?action=browse&amp;id=2<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('pm_dirs_outbox'); ?></a>]&nbsp;
[<a href="pm.php?action=browse&amp;id=3<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('pm_dirs_archive'); ?></a>]
</h3></div>
<br class="minibr" />
