<?php if (!empty($data['formatted_comment'])) { ?>
<div class="border">
<h3><img src="<?php echo $tpl->img('pm_new'); ?>" alt="" />  <?php echo $lang->phrase('preview_title'); ?></h3>
<div class="bbody">
	<span class="stext"><?php echo $lang->phrase('showtopic_subject'); ?> <strong><?php echo $data['topic']; ?></strong></span>
	<hr />
	<?php echo $data['formatted_comment']; ?>
</div>
</div>
<br class="minibr" />
<?php } ?>
<form name="form2" method="post" action="pm.php?action=save<?php echo SID2URL_x; ?>">
<div class="border">
<h3><img src="<?php echo $tpl->img('pm_new'); ?>" alt="" /> <?php echo $lang->phrase('pm_writenew'); ?></h3>
<div class="bbody">
<label><?php echo $lang->phrase('pm_sender'); ?>:</label>
<span class="iefix_left"><?php echo $my->name; ?><input type="hidden" name="id" value="<?php echo $my->id; ?>" /></span>
<br class="newinput" /><hr class="formsep" />
<label for="membersuggest_val"><?php echo $lang->phrase('pm_addressee'); ?></label>
<div class="label">
  <?php if (!isset($showname)) { ?>
  <input id="membersuggest_val" tabindex="1" type="text" onkeyup="ajax_searchmember(this.value);" name="name" size="40" value="<?php echo $data['name']; ?>" />
  <?php } else { ?>
  <input id="membersuggest_val" name="name2" disabled="disabled" type="text" onkeyup="ajax_searchmember(this.value);" size="40" value="<?php echo $showname; ?>" />
  <span class="stext" id="edit_pmto">[<a tabindex="2" href="javascript:edit_pmto();"><?php echo $lang->phrase('pm_addressee_edit'); ?></a>]</span>
  <input id="membersuggest_val2" type="hidden" name="name" value="<?php echo $data['name']; ?>" />
  <?php } ?>
  <br /><span class="stext" id="membersuggest"></span>
</div>
<br class="newinput" /><hr class="formsep" />
<label for="topic"><?php echo $lang->phrase('pm_title'); ?>:</label>
<input type="text" tabindex="2000" id="topic" class="label" name="topic" size="30" value="<?php echo $data['topic']; ?>" />
<br class="newinput" /><hr class="formsep" />
<label for="comment"><?php echo $lang->phrase('pm_postarea'); ?></label>
<div class="label textright"><a href="misc.php?action=bbhelp<?php echo SID2URL_x; ?>" target="_blank"><img src="<?php echo $tpl->img('help'); ?>" alt="" /> <strong><?php echo $lang->phrase('bbcode_help'); ?></strong></a></div>
<br class="newinput" /><br class="minibr" />
<?php echo $bbcode->getEditorArea('comment', $data['comment'], 'cols="75" rows="9" tabindex="2001"'); ?>
<hr class="formsep" />
<label for="temp"><?php echo $lang->phrase('post_settings'); ?></label>
<div class="label"><input tabindex="2002" type="checkbox" name="temp" value="1"<?php echo iif($data['outgoing'] == 1, ' checked="checked"'); ?> /> <?php echo $lang->phrase('pm_saveoutgoing'); ?></div>
<br class="newinput" /><br class="iefix_br" />
</div>
<div class="bfoot center">
  <input type="submit" tabindex="2003" accesskey="s" name="Submit" value="<?php echo $lang->phrase('submit_form'); ?>" />
  <input type="submit" tabindex="2004" accesskey="p" name="Preview" value="<?php echo $lang->phrase('preview_form'); ?>" />
</div>
</div>
</form>
