<div class="border">
	<div class="topfooter bfoot">
		<span class="right">
			<a href="pm.php?action=delete&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@img(pm_delete)" alt="" /> @lang(delete_title)</a>
			@if($row['dir'] != 2)
			<a class="sep" href="pm.php?action=reply&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@img(addreply)" alt="" /> @lang(forum_replies)</a>
			<a class="sep" href="pm.php?action=quote&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@img(quote)" alt="" /> @lang(post_quote)</a>
			@endif
		</span>
		<img src="{{ $tpl->img('post_'.$row['read']) }}" alt="" /> {{ $row['date'] }}
	</div>
	<div class="inlineheader h3">
		<div class="viewmembername">
			<a href='profile.php?id={{ $row['mid'] }}{{ SID2URL_x }}'>{{ $row['name'] }}</a>
			<img src="<?php echo iif($row['online'] == 1, $tpl->img('online'), $tpl->img('offline')); ?>"  title="{{ $row['lang_online'] }}" alt="{{ $row['lang_online'] }}" />
			<br /><span class="stext">{{ $row['level'] }}</span>
		</div>
		<div class="viewmemberdetails stext">
			@lang(post_info_registered_since){{ $row['regdate'] }}<br />
			@lang(post_info_location){{ $row['location'] }}
		</div>
		<br class="invclear" />
	</div>
	<div class="bbody">
		<span class='stext'>@lang(showtopic_subject)<strong>{{ $row['topic'] }}</strong></span>
		<hr />
		{{ $row['comment'] }}
		<br />
		@if($bottom)
		<hr />
		@if(!empty($row['fullname']) && $config['fullname_posts'] == 1)
		<div class="fullname stext">{{ $row['fullname'] }}</div>
		@endif
		@if(!empty($row['signature']) && $my->opt_showsig == 1)
		<div class="signature">{{ $row['signature'] }}</div>
		@endif
		@endif
	</div>
</div>
