<div class="border">
	<div class="topfooter bfoot">
		<span class="right">
			<a href="pm.php?action=delete&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@img('pm_delete')" alt="" /> @lang('delete_title')</a>
			@if($row['dir'] != 2)
			<a class="sep" href="pm.php?action=reply&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@img('addreply')" alt="" /> @lang('forum_replies')</a>
			<a class="sep" href="pm.php?action=quote&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@img('quote')" alt="" /> @lang('post_quote')</a>
			@endif
		</span>
		<img src="{{ $tpl->img('post_'.$row['read']) }}" alt="" /> @reldatetime($row['date'])
	</div>
	<div class="inlineheader h3">
		<div class="viewmembername">
			<a href="profile.php?id={{ $row['mid'] }}{{ SID2URL_x }}">{{ $row['name'] }}</a>
			@if($row['online'] == 1)
			<img src="@img('online')" title="@lang('profile_online')" alt="@lang('profile_online')" />
			@else
			<img src="@img('online')" title="@lang('profile_offline')" alt="@lang('profile_offline')" />
			@endif
			<br /><span class="stext">{{ $row['level'] }}</span>
		</div>
		<div class="viewmemberdetails stext">
			@lang('post_info_registered_since')@date($row['regdate'])<br />
			@lang('post_info_location'){{ $row['location'] }}
		</div>
		<br class="invclear" />
	</div>
	<div class="bbody">
		<span class="stext">@lang('showtopic_subject')<strong>{{ $row['topic'] }}</strong></span>
		<hr />
		{!! $row['comment'] !!}
		<br />
		@if($bottom)
		<hr />
		@if(!empty($row['fullname']) && $config['fullname_posts'] == 1)
		<div class="fullname stext">{{ $row['fullname'] }}</div>
		@endif
		@if(!empty($row['signature']) && $my->opt_showsig == 1)
		<div class="signature">{!! $row['signature'] !!}</div>
		@endif
		@endif
	</div>
</div>
