@include('header')

<h1>
	@lang('members')
	<span class="badge">{{ $count }}</span>
</h1>

<nav class="navbar navbar-default members-letters">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#members-letters" aria-expanded="false">
			<i class="fa fa-sort-alpha-asc fa-lg"></i>
		</button>
    </div>
	<div class="collapse navbar-collapse" id="members-letters">
		<ul class="nav navbar-nav">
			@foreach ($letters as $compare => $row)
			@if($letter == $compare)
			<li class="active"><a>{{ $row['html'] }}</a></li>
			@else
			<li><a href="members.php?letter={{ $row['url'] }}&amp;{{ $query_letter }}">{{ $row['html'] }}</a></li>
			@endif
			@endforeach
		</ul>
	</div>
</nav>

@if($count > 0)
{!! $temp !!}
<table class="table table-striped members">
	<thead>
		<tr>
			<th class="text-center">
				@lang('th_name')<br />
				<a class="btn btn-default" href="members.php?{{ $query_th }}"><i class="fa fa-sort-alpha-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-alpha-desc" title="@lang('desc')"></i></a>
			</th>
			@if($online)
			<th class="text-center">
				@lang('th_status')<br />
				<a class="btn btn-default" href="members.php?sort=online&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-amount-desc"></i></a>
			</th>
			@endif
			@if(in_array('pic', $fields))
			<th class="text-center hidden-xs hidden-sm">
				@lang('th_pic')
			</th>
			@endif
			@if($pm)
			<th class="text-center">
				@lang('th_pm')
			</th>
			@endif
			@if(in_array('mail', $fields))
			<th class="text-center hidden-xs">
				@lang('th_email')
			</th>
			@endif
			@if(in_array('hp', $fields))
			<th class="text-center hidden-xs">
				@lang('th_homepage')<br />
				<a class="btn btn-default" href="members.php?sort=hp&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-amount-desc"></i></a>
			</th>
			@endif
			@if(in_array('location', $fields))
			<th class="text-center hidden-xs hidden-sm">
				@lang('th_location')<br />
				<a class="btn btn-default" href="members.php?sort=location&amp;{{ $query_th }}"><i class="fa fa-sort-alpha-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?sort=location&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-alpha-desc" title="@lang('desc')"></i></a>
			</th>
			@endif
			@if(in_array('gender', $fields))
			<th class="text-center hidden-xs">
				@lang('th_gender')<br />
				<a class="btn btn-default" href="members.php?sort=gender&amp;{{ $query_th }}"><i class="fa fa-sort-alpha-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?sort=gender&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-alpha-desc" title="@lang('desc')"></i></a>
			</th>
			@endif
			@if(in_array('posts', $fields))
			<th class="text-center">
				@lang('th_posts')<br />
				<a class="btn btn-default" href="members.php?sort=posts&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?sort=posts&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-desc" title="@lang('desc')"></i></a>
			</th>
			@endif
			@if(in_array('birthday', $fields))
			<th class="text-center hidden-xs hidden-sm">
				@lang('th_birthday')<br />
				<a class="btn btn-default" href="members.php?sort=birthday&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?sort=birthday&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-desc" title="@lang('desc')"></i></a>
			</th>
			@endif
			@if(in_array('regdate', $fields))
			<th class="text-center hidden-xs hidden-sm">
				@lang('th_registered_since')<br />
				<a class="btn btn-default" href="members.php?sort=regdate&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?sort=regdate&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-desc" title="@lang('desc')"></i></a>
			</th>
			@endif
			@if(in_array('lastvisit', $fields))
			<th class="text-center hidden-xs hidden-sm">
				@lang('th_lastvisit')<br />
				<a class="btn btn-default" href="members.php?sort=lastvisit&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-asc" title="@lang('asc')"></i></a>
				<a class="btn btn-default" href="members.php?sort=lastvisit&amp;order=desc&amp;{{ $query_th }}"><i class="fa fa-sort-numeric-desc" title="@lang('desc')"></i></a>
			</th>
			@endif
		</tr>
	</thead>
	<tbody>
		@foreach($members as $row)
		<tr>
			<td>
				<a href="profile.php?id={{ $row['id'] }}{{ SID2URL_x }}">{{ $row['name'] }}</a>
				@if(!empty($row['fullname']))
				<small class="full-name">{{ $row['fullname'] }}</small>
				@endif
			</td>
			@if($online)
			<td class="text-center">
				@if($row['online'] == 1)
				<i class="fa fa-user fa-lg icon-online" title="@lang('profile_online')"></i>
				@else
				<i class="fa fa-user fa-lg icon-offline" title="@lang('profile_offline')"></i>
				@endif
			</td>
			@endif
			@if(isset($row['pic']))
			<td class="text-center hidden-xs hidden-sm">
				@if(!empty($row['pic']))
				<img src="{{ $row['pic'] }}" alt="{{ $row['name'] }}" />
				@endif
			</td>
			@endif
			@if($pm)
			<td class="text-center">
				<a href="pm.php?action=new&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><i class="fa fa-envelope fa-lg"></i></a>
			</td>
			@endif
			@if(isset($row['mail']))
			<td class="text-center hidden-xs">
				<a href="profile.php?action=mail&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><i class="fa fa-envelope fa-lg"></i></a>
			</td>
			@endif
			@if(isset($row['hp']))
			<td class="text-center hidden-xs">
				@if($row['hp'])
				<a href="{{ $row['hp'] }}" target="_blank"><i class="fa fa-home fa-lg"></i></a>
				@elselang('homepage_no_data')
			</td>
			@endif
			@if(isset($row['location']))
			<td class="text-center hidden-xs hidden-sm">
				{{ $row['location'] }}
			</td>
			@endif
			@if(isset($row['gender']))
			<td class="text-center hidden-xs">
				@if ($row['gender'] == 'm')
				<i class="fa fa-male fa-lg" title="@lang('gender_m')"></i>
				@elseif($row['gender'] == 'w')
				<i class="fa fa-female fa-lg" title="@lang('gender_w')"></i>
				@elselang('gender_na')
			</td>
			@endif
			@if(isset($row['posts']))
			<td class="text-right">
				{{ $row['posts'] }}
			</td>
			@endif
			@if(isset($row['birthday']))
			<td class="text-center hidden-xs hidden-sm">
				{{ $row['birthday'] }}
			</td>
			@endif
			@if(isset($row['regdate']))
			<td class="text-center hidden-xs hidden-sm">
				@date($row['regdate'])
			</td>
			@endif
			@if(isset($row['lastvisit']))
			<td class="text-center hidden-xs hidden-sm">
				@reldatetime($row['lastvisit'], 'members_na')
			</td>
			@endif
		</tr>
		@endforeach
	</tbody>
</table>
{!! $temp !!}
@else
<div class="alert alert-info" role="alert">@lang('members_empty')</div>
@endif

@if($config['mlist_filtergroups'] == 1)
<h2>@lang('members_filtergroups')</h2>
<form action="members.php" method="get">
	<input type="hidden" name="letter" value="{{ $letter }}" />
	<input type="hidden" name="sort" value="{{ $_GET['sort'] }}" />
	<input type="hidden" name="order" value="{{ $_GET['order'] }}" />
	<div class="form-group">
		<label for="g[]">@lang('members_filtergroups_label')</label>
		<select name="g[]" id="g[]" size="{{ count($groups) }}" multiple="multiple" class="form-control">
			@foreach ($groups as $id => $title)
			<option value="{{ $id }}"@selected(in_array($id, $g))>{{ $title }}</option>
			@endforeach
		</select>
	</div>
	<div class="form-group form-buttons">
		<input type="submit" value="@lang('members_show_form')" class="btn btn-primary" />
	</div>
</form>
@endif

@include('footer')