<table class="post">
	<tr>
		<th class="tleft" width="70%">{{ $row->name }}</th>
		<th class="tright" width="30%">{{ $row->date }}</th>
	</tr>
	<tr>
		<td colspan="2">
			<em>@lang('showtopic_subject')<strong>{{ $row->topic }}</strong></em><br /><br />
			{{ $row->comment }}
		</td>
    </tr>
    @if(!empty($inner['upload_box']))
    <tr><td colspan="2" class="upload"><strong>@lang('post_uploads')</strong><br />{!! $inner['upload_box'] !!}</td></tr>
    @endif
</table>
<br class="post_separator" />