<table class="post">
	<tr>
		<th class="tleft" width="70%"><?php echo $row->name; ?></th>
		<th class="tright" width="30%"><?php echo $row->date; ?></th>
	</tr>
	<tr>
		<td colspan="2">
		<em><?php echo $lang->phrase('showtopic_subject'); ?><strong><?php echo $row->topic; ?></strong></em><br /><br />
	    <?php echo $row->comment; ?>
	    </td>
    </tr>
    <?php if (!empty($inner['upload_box'])) { ?>
    <tr><td colspan="2" class="upload"><strong><?php echo $lang->phrase('post_uploads'); ?></strong><br /><?php echo $inner['upload_box']; ?></td></tr>
    <?php } ?>
</table>
<br class="post_separator" />