<h1>@lang('editprofile_about')</h1>
<p>@lang('editprofile_about_longdesc')</p>
@if($preview)
<h2>@lang('editprofile_about_preview')</h2>
<div class="well">{!! $parsedPreview !!}</div>
@endif
<form method="post" action="editprofile.php?action=about2{{ SID2URL_x }}">
	<div class="form-group">
		<span class="pull-right">
			<a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><i class="fa fa-question-circle"></i> @lang('bbcode_help')</a>
		</span>
		<p>@lang('editprofile_about_longdesc2')<p>
		{!! $bbcode->getEditorArea('about', $data, 'cols="80" rows="18" tabindex="1"', $config['maxaboutlength']) !!}
	</div>
	<div class="form-group form-buttons">
		<input accesskey="p" type="submit" name="Preview" tabindex="3" class="btn btn-primary" value="@lang('preview_form')" />
		<input accesskey="s" type="submit" name="Submit" tabindex="2" class="btn btn-default" value="@lang('submit_form')" />
	</div>
</form>
