@include('header')

<h1>@lang('editprofile_attachments')</h1>
<form method="post" action="editprofile.php?action=attachments2{{ SID2URL_x }}">
	<table class="table table-striped">
		<thead>
			<tr> 
				<th width="40%">@lang('forum_topic')</th>
				<th width="40%">@lang('editprofile_attachments_uploads')</th>
				<th width="10%">@lang('editprofile_attachments_size')</th>
				<th width="5%">@lang('delete_title')</th>
			</tr>
		</thead>
		<tbody>
		@foreach ($cache as $row)
		<tr> 
			<td width="40%"><a href="showtopic.php?action=jumpto&amp;topic_id={{ $row['tid'] }}{{ SID2URL_x }}" target="_blank">{{ $row['topic'] }}</a></td>
			<td width="40%"><a href="attachments.php?action=attachment&amp;id={{ $row['id'] }}{{ SID2URL_x }}" target="_blank">{{ $row['file'] }}</a></td>
			<td width="10%" nowrap="nowrap">{{ $row['fsize'] }}</td>
			<td class="center" width="5%"><input type="checkbox" name="delete[]" value="{{ $row['id'] }}" /></td>
		</tr>
		@endforeach
		<tbody>
		<tfoot>
		<tr> 
			<td class="textright" colspan="2">@lang('editprofile_attachments_allfiles')</td> 
			<td nowrap="nowrap">{{ $all[1] }}</td> 
			<td nowrap="nowrap" class="textright">{{ $all[2] }}</td>
			<td nowrap="nowrap"><input type="checkbox" onclick="checkAll(this)" value="delete[]" class="js-only" /></td>  
		</tr>
		</tfoot>
	</table>
	<input type="submit" name="Submit1" value="@lang('delete_form')"class="btn btn-danger" />
</form>

@include('footer')