@include('header')

<h1> @lang('editprofile_title')</h1>
<ul class="list-group editprofile-nav">
	<li class="list-group-item">
		<i class="fa fa-id-card fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=profile{{ SID2URL_x }}">@lang('editprofile_profile')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_profile_desc')</p>
	</li>
	<li class="list-group-item">
		<i class="fa fa-wrench fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=settings{{ SID2URL_x }}">@lang('editprofile_settings')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_settings_desc')</p>
	</li>
	<li class="list-group-item">
		<i class="fa fa-lock fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=pw{{ SID2URL_x }}">@lang('editprofile_pw')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_pw_desc')</p>
	</li>
	<li class="list-group-item">
		<i class="fa fa-pencil fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=signature{{ SID2URL_x }}">@lang('editprofile_signature')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_signature_desc')</p>
	</li>
	@if($my->p['usepic'] == 1)
	<li class="list-group-item">
		<i class="fa fa-photo fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=pic{{ SID2URL_x }}">@lang('editprofile_pic')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_pic_desc')</p>
	</li>
	@endif
	@if($my->p['useabout'] == 1)
	<li class="list-group-item">
		<i class="fa fa-file-text fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=about{{ SID2URL_x }}">@lang('editprofile_about')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_about_desc')</p>
	</li>
	@endif
	<li class="list-group-item">
		<i class="fa fa-bell fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=abos{{ SID2URL_x }}">@lang('editprofile_abos')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_abos_desc')</p>
	</li>
	<li class="list-group-item">
		<i class="fa fa-comments fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=mylast{{ SID2URL_x }}">@lang('editprofile_mylast')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_mylast_desc')</p>
	</li>
	@if($config['tpcallow'] == 1)
	<li class="list-group-item">
		<i class="fa fa-paperclip fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="editprofile.php?action=attachments{{ SID2URL_x }}">@lang('editprofile_attachments')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_attachments_desc')</p>
	</li>
	@endif
	<li class="list-group-item">
		<i class="fa fa-user fa-3x pull-left"></i>
		<h4 class="list-group-item-heading"><a href="profile.php?id={{ $my->id }}{{ SID2URL_x }}">@lang('editprofile_ownprofile')</a></h4>
		<p class="list-group-item-text">@lang('editprofile_ownprofile_desc')</p>
	</li>
</ul>

@include('footer')