<h1>@lang('editprofile_mylast')</h1>
{!! $pages !!}
<table class="table table-striped">
	<thead>
		<tr>
			<th width="5%">&nbsp;</th>
			<th width="85%">@lang('forum_topic')</th>
			<th width="10%">@lang('forum_replies')</th> 
		</tr>
	</thead>
	<tbody>
	@forelse($cache as $row)
	<tr class="tbody">
		<td width="5%">
			@if($row['read'])
			@if($row['status'] == 0)
			<i class="fa fa-lg fa-folder-open icon-old" title="@lang('forum_icon_old')"></i>
			@else
			<i class="fa fa-lg fa-lock icon-old" title="@lang('forum_icon_closed')"></i>
			@endif
			@else
			@if($row['status'] == 0)
			<i class="fa fa-lg fa-folder-open icon-new clickable" onclick="marktopicread({{ $row->id }},this)" title="@lang('forum_icon_new') | @lang('forum_options_markread')"></i>
			@else
			<i class="fa fa-lg fa-lock icon-new clickable" onclick="marktopicread({{ $row->id }},this)" title="@lang('forum_icon_closed') | @lang('forum_options_markread')"></i>
			@endif
			@endif
		</td>
		<td width="85%">
			@if(!$row['read'])
			<a href="showtopic.php?action=firstnew&amp;id={{ $row['id'] }}{{ SID2URL_x }}"><img src="@theme('images/desc.gif')" alt="@lang('move_to_first_new_post')" /></a>
			<strong>
				@endif
				{{ $row['pre'] }}
				<a href="showtopic.php?action=jumpto&amp;topic_id={{ $row['pid'] }}{{ SID2URL_x }}">{{ $row['topic'] }}</a>
				@if(!$row['read'])
			</strong>
			@endif
			{!! $row['topic_pages'] !!}
		</td>
		<td width="10%">{{ numbers($row['posts']) }}</td> 
	</tr>
	@empty
	<tr>
		<td colspan="3">@lang('forum_empty')</td>
	</tr>
	@endforelse	
	</tbody>
</table>
{!! $pages !!}