@include('header')

<h1>@lang('editprofile_pic')</h1>
<h2>@lang('editprofile_pic_current')</h2>
@if(file_exists($my->pic))
<img src="{{ $my->pic }}" border="0" alt="" class="pull-left" />
<form method="post" action="editprofile.php?action=pic3{{ SID2URL_x }}" class="form-inline">
	<div class="checkbox">
		<label for="delete_pic">
			<input type="checkbox" name="temp" tabindex="1" id="delete_pic" value="1" />
			@lang('editprofile_pic_delete')
		</label>
	</div>
	<input type="submit" value="@lang('delete_form')" class="btn btn-danger" />
</form>
@elselang('editprofile_pic_empty')
<h2>@lang('editprofile_pic_new')</h2>
<form method="post" action="editprofile.php?action=pic2{{ SID2URL_x }}" enctype="multipart/form-data">
	<div class="form-group">
		<label>@lang('editprofile_pic_settings')</label>
		<ul class="form-control-static">
			<li>@lang('upload_restriction_filesize') {{ $filesize }}</li>
			<li>@lang('editprofile_pic_restricitons')</li>
			<li>@lang('upload_restriction_filetype') {{ $filetypes }}</li>
		</ul>
	</div>
	<div class="form-group">
		<label for="upload">@lang('editprofile_pic_upload')</label>
		<input type="file" name="upload" tabindex="3" id="upload" size="60" class="form-control" />
	</div>
	<div class="form-group">
		<label for="pic">@lang('editprofile_pic_url')</label>
		<input type="text" name="pic" tabindex="2" id="pic" size="60" class="form-control" />
	</div>
	<div class="form-group form-buttons">
		<input accesskey="s" tabindex="4" type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>

@include('footer')