<h1>@lang('editprofile_pw')</h1>
<form method="post" action="editprofile.php?action=pw2{{ SID2URL_x }}">
	<div class="form-group">
		<label for="pw">@lang('editprofile_pw_old')</label>
		<input type="password" tabindex="1" class="form-control" id="pw" name="pw" size="40" />
	</div>
	<div class="form-group">
		<label for="type">
			@lang('editprofile_pw_new')
			<small>@lang('minmax_password')</small>
		</label>
		<input type="password" tabindex="2" class="form-control" id="type" name="type" size="40" />
	</div>
	<div class="form-group">
		<label for="pwx">@lang('editprofile_pw_new_repeat')</label>
		<input type="password" tabindex="3" class="form-control" id="pwx" name="pwx" size="40" />
	</div>
	<div class="form-group form-buttons">
		<input accesskey="s" tabindex="4" type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>
