@include('header')

<h1>@lang('editprofile_signature')</h1>
@if($preview)
<h2>@lang('editprofile_signature_preview')</h2>
<div class="well">{!! $parsedPreview !!}</div>
@endif
<form method="post" action="editprofile.php?action=signature{{ SID2URL_x }}">
	<div class="form-group">
		<div class="text-right">
			<a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><i class="fa fa-question-circle"></i> @lang('bbcode_help')</a>
		</div>
		{!! $bbcode->getEditorArea('signature', $signature, 'cols="80" rows="7" tabindex="1"', $config['maxsiglength']) !!}
	</div>
	<div class="form-group form-buttons">
		<input type="submit" name="Preview" tabindex="3" value="@lang('preview_form')" class="btn btn-default" />
		<input type="submit" name="Submit" tabindex="2" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>

@include('footer')