<?php echo iif($subforums, '<br />'); ?>
<?php if ($info['message_active'] == '1') { ?>
<div class="border">
<h3><img id="img_rules_<?php echo $board; ?>" alt="switch" src="<?php echo $tpl->img('minus'); ?>" title="<?php echo $lang->phrase('box_collapse'); ?>" />&nbsp;<?php echo $info['message_title']; ?></h3>
<div id="part_rules_<?php echo $board; ?>" class="bbody"><?php echo $info['message_text']; ?></div>
</div>
<br class="minibr" />
<?php } if ($info['readonly'] == '0' || $info['topics'] > 0 || !$subforums) { ?>
<table class="tables">
  <tr>
	<td class="tfoot textright" colspan="5">
		<span class="left"><?php echo $pages; ?></span>
		<a id="menu_forumtools" href="#forumtools" onmouseover="RegisterMenu('forumtools');"><img src="<?php echo $tpl->img('desc'); ?>" alt="" /> <?php echo $lang->phrase('forum_options'); ?></a>
		<div class="popup" id="popup_forumtools">
		<strong><?php echo $lang->phrase('forum_options_search'); ?></strong>
		<ul>
		<li>
		 <?php echo $lang->phrase('forum_options_search_forum'); ?>
		 <form method="post" action="search.php?action=search<?php echo SID2URL_x; ?>">
		   <input type="text" name="search" size="22" />
		   <input type="submit" value="<?php echo $lang->phrase('forum_options_search_submit'); ?>" /><input type="hidden" name="boards[]" value="<?php echo $board; ?>" />
		 </form>
		</li>
		</ul>
		<strong><?php echo $lang->phrase('forum_options_misc'); ?></strong>
		<ul>
		<li><a href="misc.php?action=markforumasread&amp;board=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('forum_options_markread'); ?></a></li>
		</ul>
		</div>
		<?php if ($my->p['posttopics'] == 1 && $info['readonly'] == '0') { ?>
		<a class="sep" href="newtopic.php?id=<?php echo $board.SID2URL_x; ?>"><img src="<?php echo $tpl->img('newtopic'); ?>" alt="" /> <?php echo $lang->phrase('forum_newtopic'); ?></a>
		<?php } ?>
	</td>
  </tr>
  <?php if ($info['message_active'] == '2') { ?>
  <tr>
    <td class="tbody" colspan="1"><img src="<?php echo $tpl->img('rules'); ?>" alt="" /></td>
    <td class="tbody" colspan="4">
      <?php echo $lang->phrase('board_rules'); ?>:
      <a href="misc.php?action=board_rules&amp;id=<?php echo $board.SID2URL_x; ?>">
        <?php echo $info['message_title']; ?>
      </a>
    </td>
  </tr>
  <?php } ?>
  <tr>
	<th width="2%">&nbsp;</th>
	<th width="48%"><?php echo $lang->phrase('forum_topic'); ?></th>
	<th width="20%"><?php echo $lang->phrase('forum_start'); ?></th>
	<th width="10%"><?php echo $lang->phrase('forum_replies'); ?></th>
	<th width="20%"><?php echo $lang->phrase('forum_last'); ?></th>
  </tr>
	<?php echo $inner['index_bit']; ?>
  <tr>
	<td class="tfoot" colspan="5">
	  <?php if ($my->p['posttopics'] == 1 && $info['readonly'] == '0') { ?>
	  <span class="right"><a href="newtopic.php?id=<?php echo $board.SID2URL_x; ?>"><img src="<?php echo $tpl->img('newtopic'); ?>" alt="" /> <?php echo $lang->phrase('forum_newtopic'); ?></a></span>
	  <?php } echo $pages; ?>
	</td>
  </tr>
</table>
<form method="get" action="showforum.php">
<input type="hidden" name="id" value="<?php echo $board; ?>" />
<input type="hidden" name="s" value="<?php echo SID2URL; ?>" />
<table class="tables">
	<tr>
		<th colspan="2"><?php echo $lang->phrase('forum_filter'); ?></th>
	</tr>
	<?php if (count($prefix_arr) > 0) { ?>
	<tr>
		<td class="tfoot" width="50%"><?php echo $lang->phrase('th_status'); ?></td>
		<td class="tfoot" width="50%"><?php echo $lang->phrase('prefix'); ?></td>
	</tr>
	<?php } ?>
	<tr>
		<td class="tbody">
			<select size="1" name="sort">
				<option value='0'<?php echo iif($filter == 0,' selected="selected"'); ?>><?php echo $lang->phrase('forum_filter_opt0'); ?></option>
				<option value="6"<?php echo iif($filter == 6,' selected="selected"'); ?>><?php echo $lang->phrase('forum_filter_opt6'); ?></option>
			</select>
		</td>
		<?php if (count($prefix_arr) > 0) { ?>
		<td class="tbody">
			<select size="1" name="prefix">
				<option value='-1'<?php echo iif($prefix_filter == -1,' selected="selected"'); ?>><?php echo $lang->phrase('forum_filter_opt0'); ?></option>
				<option value='0'<?php echo iif($prefix_filter == 0,' selected="selected"'); ?>><?php echo $lang->phrase('prefix_empty_filter'); ?></option>
				<?php foreach ($prefix_arr as $prefix_id => $prefix_row) { ?>
				<option value="<?php echo $prefix_id; ?>"<?php echo iif($prefix_filter == $prefix_id,' selected="selected"'); ?>><?php echo $prefix_row['value']; ?></option>
				<?php } ?>
			</select>
		</td>
		<?php } ?>
	</tr>
	<tr>
		<td class="tfoot" colspan="2">
			<input type="submit" accesskey="s" value="<?php echo $lang->phrase('submit_form'); ?>" />
		</td>
	</tr>
</table>
</form>
<noscript>
	<br class="minibr" />
	<div class="popup_noscript">
	<a name="forumtools"></a><strong><?php echo $lang->phrase('forum_options_search'); ?></strong>
	<ul><li><form method="post" action="search.php?action=search<?php echo SID2URL_x; ?>">
		<?php echo $lang->phrase('forum_options_search_forum'); ?>
	   	<input type="text" name="search" size="22" />
	   	<input type="submit" value="<?php echo $lang->phrase('forum_options_search_submit'); ?>" /><input type="hidden" name="boards[]" value="<?php echo $board; ?>" />
	 </form></li>
	</ul>
	<strong><?php echo $lang->phrase('forum_options_misc'); ?></strong>
	<ul>
	<li><a href="misc.php?action=markforumasread&amp;board=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('forum_options_markread'); ?></a></li>
	</ul>
	</div>
</noscript>
<?php if ($my->p['admin'] == 1 || $my->p['gmod'] == 1 || $my->mp[0] == 1) { ?>
<br />
<div class="border">
<h3><?php echo $lang->phrase('admin_options'); ?></h3>
<div class="bbody">
<a href="manageforum.php?action=index&amp;type=open&amp;id=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('admin_mass_open'); ?></a> |
<a href="manageforum.php?action=index&amp;type=close&amp;id=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('admin_mass_close'); ?></a> |
<a href="manageforum.php?action=index&amp;type=delete&amp;id=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('admin_mass_delete'); ?></a> |
<a href="manageforum.php?action=index&amp;type=move&amp;id=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('admin_mass_move'); ?></a> |
<a href="manageforum.php?action=stat&amp;id=<?php echo $board.SID2URL_x; ?>"><?php echo $lang->phrase('admin_forum_stats'); ?></a>
</div>
</div>
<?php } ?>
<br />
<?php } ?>