<tr class="tbody">
	<td width="2%">
		@if($modcp && $row->status != 2)
		<img ondblclick="ajax_openclosethread({{ $row->id }}, this, {{ $firstnew }});" src="{{ $src }}" alt="{{ $alt }}" />
		@else
		<img src="{{ $src }}" alt="{{ $alt }}" />
		@endif
	</td>
	<td width="48%">
		@if($row->vquestion)
		<img align="right" src="@img('vote')" alt="@lang('vote_titlevote') {{$row->vquestion}}" />
		@endif
		@if($firstnew)
		<a href="showtopic.php?action=firstnew&amp;id={{ $row->id }}{{ SID2URL_x }}"><img src="@img('desc')" alt="@lang('move_to_first_new_post')" /></a>
		<strong>
		@endif
		{{ $pref }}
		<a href="showtopic.php?id={{ $row->id }}{{ SID2URL_x }}">
		@if($firstnew)
		</strong>
		@endif
		@if($showprefix) @lang('showtopic_prefix_title') @endif {{ $row->topic }}
	</a>
	@if(!empty($topic_pages))
	<br /><span class="stext">{!! $topic_pages !!}</span>
	@endif
</td>
<td width="20%" class="stext">
	{{ $rstart }}<br />
	@lang('written_by')
	<a href="profile.php?id={{ $row->uid }}{{ SID2URL_x }}">{{ $row->name }}</a>
</td>
<td width="10%" class="center">{{ numbers($row->posts) }}</td>
<td width="20%" class="textrightstext">
		<a title="@lang('jump_to_last_post')" href="showtopic.php?action=last&amp;id={{ $row->id }}{{ SID2URL_x }}">{{ $rlast }}</a><br />
		@lang('written_by')
		<a href="profile.php?id={{ $row->luid }}{{ SID2URL_x }}">{{ $row->luname }}</a>
	</span></td>
</tr>
