<div class="navigation_cat">
<h3><?php echo $row['name']; ?></h3>
<ul>
<?php foreach ($navigation as $sub) { ?>
	<?php if(!empty($sub['link'])) { ?>
		<li><a href="<?php echo $sub['link']; ?>"<?php echo iif(!empty($sub['param']), ' target="'.$sub['param'].'"'); ?>><?php echo $sub['name']; ?></a>
	<?php } else { ?>
		<li><strong><?php echo $sub['name']; ?></strong>
	<?php } if (count($sub['navigation']) > 0) { ?>
	<ul>
	<?php foreach ($sub['navigation'] as $sub) { ?>
		<?php if(!empty($sub['link'])) { ?>
			<li><a href="<?php echo $sub['link']; ?>"<?php echo iif(!empty($sub['param']), ' target="'.$sub['param'].'"'); ?>><?php echo $sub['name']; ?></a>
		<?php } else { ?>
			<li><strong><?php echo $sub['name']; ?></strong>
		<?php } ?>
		</li>
	<?php } ?>
	</ul>
	<?php } ?></li>
<?php } ?>
</ul>
</div>