<h1>@lang('admin_move_title')</h1>
<form name="form2" method="post" action="managetopic.php?action=move2&amp;id={{ $_GET['id'] }}{{ SID2URL_x }}">
	<div class="form-group">
		<label>@lang('admin_where_to')</label>
		<select class="form-control" size="10" name="board">{!! $forums !!}</select>
	</div>
	<div class="form-group">
		<label>@lang('admin_move_redirect')</label>
		<label class="radio-inline"><input type="radio" name="temp" value="1" checked="checked" /> @lang('confirm_yes')</label>
		<label class="radio-inline"><input type="radio" name="temp" value="0" /> @lang('confirm_no')</label>
	</div>
	<div class="form-group">
		<label>@lang('admin_move_email')</label>
		<label class="radio-inline"><input type="radio" name="temp2" value="1" checked="checked" /> @lang('confirm_yes')</label>
		<label class="radio-inline"><input type="radio" name="temp2" value="0" /> @lang('confirm_no')</label>
	</div>
	<div class="form-group form-buttons">
		<input type="submit" value="@lang('move_form')" class="btn btn-primary" />
	</div>
</form>
