<h1>@lang('admin_merge_title')</h1>
<form method="post" action="managetopic.php?action=pmerge2&amp;id={{ $info['id'] }}{{ SID2URL_x }}">
	@foreach ($ids as $id)
	<input type="hidden" name="ids[]" value="{{ $id }}" />
	@endforeach
	<div class="form-group">
		<label for="author">@lang('admin_merge_author')</label>
		<div class="radio" id="author">
			@foreach ($posts as $row)
			<label><input type="radio" name="author" value="{{ $row['id'] }}" /> {{ $row['name'] }}</label>
			@endforeach
		</div>
	</div>
	<div class="form-group">
		<label for="topic">@lang('title')</label>
		<div class="radio" id="topic">
			@foreach ($posts as $row)
			<label><input type="radio" name="topic_id" value="{{ $row['id'] }}" /> {{ $row['topic'] }}</label>
			@endforeach
		</div>
	</div>
	<div class="form-group">
		<label for="comment">
			@lang('post')
			<small><a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><i class="fa fa-question-circle"></i> @lang('bbcode_help')</a></small>
		</label>
	</div>
	{!! $bbcode->getEditorArea('comment', implode("\r\n\r\n", $comment), 'cols="75" rows="12"') !!}
	<div class="form-group">
		<label for="dosmileys">
			<input type="checkbox" name="dosmileys" value="1" checked="checked" />
			@lang('post_settings_smileys')
		</label>
	</div>
	<div class="form-group form-buttons">
		<input type="submit" accesskey="s" name="Submit1" value="@lang('submit_form')" class="btn btn-primary" />
</div>
</form>