<h1>@lang('admin_report')</h1>
<form name="form2" method="post" action="managetopic.php?action=reports2&amp;id={{ $_GET['id'] }}&amp;topic_id={{ $_GET['topic_id'] }}{{ SID2URL_x }}">
	<div class="form-group">
		<label for="comment">@lang('report_message')</label>
		<textarea name="comment" id="comment" readonly="readonly" class="form-control" cols="70" rows="10">{{ $data['report'] }}</textarea>
	</div>
	<div class="form-group">
		<label for="temp">
			<input type="checkbox" id="temp" name="temp" value="1" />
			@lang('admin_report_reset')
		</label>
	</div>
	<div class="form-group form-buttons">
		<input type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>