@include('header')

<h1>@lang('admin_topic_vote_export')</h1>
<form method="get" action="managetopic.php">
	<input type="hidden" name="id" value="{{ $_GET['id'] }}" />
	<input type="hidden" name="action" value="vote_export" />
	<div class="form-group">
		<label>@lang('admin_vote_skin')</label>
		<select name="skin" class="form-control">
			@foreach ($PG->available_skins as $code => $color)
			<option value="{{ $code }}"@selected($code == $skin)>{{ $color }}</option>
			@endforeach
		</select>
	</div>
	<div class="form-group">
		<label>@lang('admin_vote_type')</label>
		<select name="modus" class="form-control">
			@foreach ($PG->available_types as $code => $type)
			<option value="{{ $code }}"@selected($code == $modus)>{{ $type }}</option>
			@endforeach
		</select>
	</div>
	<div class="form-group form-buttons">
		<input type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
	<div class="form-group">
		<label>@lang('admin_vote_preview')</label>
		<div class="form-control-static">
			<a href="images.php?action=vote&amp;id={{ $_GET['id'] }}&amp;skin={{ $skin }}&amp;modus={{ $modus }}" target="_blank">
				<img src="images.php?action=vote&amp;id={{ $_GET['id'] }}&amp;skin={{ $skin }}&amp;modus={{ $modus }}" border="1" alt="" />
			</a>
		</div>
	</div>
	<div class="form-group">
		<label>@lang('admin_vote_url')</label>
		<input value="{{ $config['furl'] }}/images.php?action=vote&amp;id={{ $_GET['id'] }}&amp;skin={{ $skin }}&amp;modus={{ $modus }}" class="form-control" type="text" />
	</div>
</form>

@include('footer')