@include('header')

<h1>@lang('admin_topic_vote_edit')</h1>
<form method="post" action="managetopic.php?action=vote_edit2&amp;id={{ $_GET['id'] }}{{ SID2URL_x }}">
	<div class="form-group">
		<label for="question">@lang('add_vote_question')</label>
		<input type="text" size="40" id="question" class="form-control" name="question" value="{{ $data['question'] }}" />
	</div>
	<h2>
		@lang('title_vote_replies')
		<small>@lang('title_vote_replies_desc')</small>
	</h2>
	@foreach ($data['answer'] as $id => $answer)
	<div class="form-group">
		@php $lang->assign('i', $data['original'][$id]); @endphp
		<label for="notice_{{ $id }}">@lang('managetopic_vote_reply')</label>
		<input type="text" size="40" id="notice_{{ $id }}" class="form-control" name="notice[{{ $id }}]" value="{{ $answer }}" />
	</div>
	@endforeach
	<div class="form-group">
		<label for="notice_0">@lang('managetopic_vote_reply_new')</label>
		<input type="text" size="40" id="notice_0" class="form-control" name="notice[0]" value="{{ $data[0] }}" />
	</div>
	<div class="form-group form-buttons">
		<input type="submit" name="Submit2" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>

@include('footer')