<script src="templates/editor/bbcode.js" type="text/javascript"></script>
<table class="editor_textarea_outer">
	@if(!in_array(TOOLBAR_FORMATTING, $disable))
	<tr><td class="editor_toolbar">
			<a id="menu_bbcolor_{{ $id }}" href="#" onmouseover="RegisterMenu('bbcolor_{{ $id }}');" class="editor_toolbar_dropdown"><img src="@img(desc)" alt="@lang(bbcodes_expand)" /> @lang(bbcodes_color)</a>
			<div class="popup" id="popup_bbcolor_{{ $id }}">
				<strong>@lang(bbcodes_color_title)</strong>
				<div class="bbcolor">
					<script type="text/javascript">
						document.write(generateColorPicker("InsertTagsMenu('{{ $id }}', '[color=<color>]', '[/color]', 'bbcolor_{{ $id }}')"));
					</script>
				</div>
			</div>
			<img src="templates/editor/images/seperator.gif" alt="" />
			<a id="menu_bbsize" href="#" onmouseover="RegisterMenu('bbsize');" class="editor_toolbar_dropdown"><img src="@img(desc)" alt="@lang(bbcodes_expand)" /> @lang(bbcodes_size)</a>
			<div class="popup" id="popup_bbsize">
				<strong>@lang(bbcodes_size_title)</strong>
				<ul>
					<li><span class="popup_line" onclick="InsertTagsMenu('{{ $id }}', '[size = large]','[/size]','bbsize_{{ $id }}')" style="font-size: 1.3em;">@lang(bbcodes_size_large)</span></li>
					<li><span class="popup_line" onclick="InsertTagsMenu('{{ $id }}', '[size = small]','[/size]','bbsize_{{ $id }}')" style="font-size: 0.8em;">@lang(bbcodes_size_small)</span></li>
					<li><span class="popup_line" onclick="InsertTagsMenu('{{ $id }}', '[size = extended]','[/size]','bbsize_{{ $id }}')" style="letter-spacing: 3px;">@lang(bbcodes_size_extended)</span></li>
				</ul>
			</div>
			<img src="templates/editor/images/seperator.gif" alt="" />
			<a id="menu_bbhx_{{ $id }}" href="#" onmouseover="RegisterMenu('bbhx_{{ $id }}');" class="editor_toolbar_dropdown"><img src="@img(desc)" alt="@lang(bbcodes_expand)" /> @lang(bbcodes_header)</a>
			<div class="popup" id="popup_bbhx_{{ $id }}">
				<strong>@lang(bbcodes_header_title)</strong>
				<ul>
					<li><h4 class="popup_line" onclick="InsertTagsMenu('{{ $id }}', '[h = large]','[/h]','bbhx_{{ $id }}')" style="margin: 0px; font-size: 14pt;">@lang(bbcodes_header_h1)</h4></li>
					<li><h5 class="popup_line" onclick="InsertTagsMenu('{{ $id }}', '[h = middle]','[/h]','bbhx_{{ $id }}')" style=" margin: 0px; font-size: 13pt;">@lang(bbcodes_header_h2)</h5></li>
					<li><h6 class="popup_line" onclick="InsertTagsMenu('{{ $id }}', '[h = small]','[/h]','bbhx_{{ $id }}')" style="margin: 0px; font-size: 12pt;">@lang(bbcodes_header_h3)</h6></li>
				</ul>
			</div>
			<img src="templates/editor/images/seperator.gif" alt="" />
			<a id="menu_bbtable_{{ $id }}" href="#" onmouseover="RegisterMenu('bbtable_{{ $id }}');" class="editor_toolbar_dropdown"><img src="@img(desc)" alt="@lang(bbcodes_expand)" /> @lang(bbcodes_table)</a>
			<div class="popup" id="popup_bbtable_{{ $id }}">
				<strong>@lang(bbcodes_create_table)</strong>
				<div class="bbtable">
					<input type="checkbox" style="height: 2em;" id="table_head_{{ $id }}" value="1" /> @lang(bbcodes_table_show_head)
					<br class="newinput" /><hr class="formsep" />
					<input type="text" size="4" id="table_rows_{{ $id }}" value="2" /> @lang(bbcodes_table_rows)
					<br class="newinput" /><hr class="formsep" />
					<input type="text" size="4" id="table_cols_{{ $id }}" value="2" /> @lang(bbcodes_table_cols)
					<br class="newinput" /><hr class="formsep" />
					<div class="center">[ <b><a href="javascript:InsertTable('{{ $id }}')">@lang(bbcodes_table_insert_table)</a></b> ]</div>
				</div>
			</div>
			<?php echo iif(count($cbb), '<img src="templates/editor/images/seperator.gif" alt="" />'); ?>
			@foreach ($cbb as $bb)
			<img src="{{ $bb['buttonimage'] }}" onclick="{{ $bb['href'] }}" title="{{ $bb['title'] }}" alt="{{ $bb['title'] }}" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			@endforeach
		</td></tr>
	<tr><td class="editor_toolbar">
			<img src="templates/editor/images/bold.gif" onclick="InsertTags('{{ $id }}', '[b]', '[/b]');" title="@lang(bbcodes_bold)" alt="@lang(bbcodes_bold)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/italic.gif" onclick="InsertTags('{{ $id }}', '[i]', '[/i]');" title="@lang(bbcodes_italic)" alt="@lang(bbcodes_italic)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/underline.gif" onclick="InsertTags('{{ $id }}', '[u]', '[/u]');" title="@lang(bbcodes_underline)" alt="@lang(bbcodes_underline)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/seperator.gif" alt="" />
			<img src="templates/editor/images/left.gif" onclick="InsertTags('{{ $id }}', '[align=left]', '[/align]');" title="@lang(bbcodes_align_left)" alt="@lang(bbcodes_align_left)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/center.gif" onclick="InsertTags('{{ $id }}', '[align=center]', '[/align]');" title="@lang(bbcodes_align_center)" alt="@lang(bbcodes_align_center)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/right.gif" onclick="InsertTags('{{ $id }}', '[align=right]', '[/align]');" title="@lang(bbcodes_align_right)" alt="@lang(bbcodes_align_right)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/justify.gif" onclick="InsertTags('{{ $id }}', '[align=justify]', '[/align]');" title="@lang(bbcodes_align_justify)" alt="@lang(bbcodes_align_justify)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/seperator.gif" alt="" />
			<img src="templates/editor/images/img.gif" onclick="InsertTags('{{ $id }}', '[img]', '[/img]');" title="@lang(bbcodes_img)" alt="@lang(bbcodes_img)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/url.gif" onclick="InsertTagsURL('{{ $id }}', '[url={param1}]{param2}', '[/url]');" title="@lang(bbcodes_url)" alt="@lang(bbcodes_url)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/email.gif" onclick="InsertTags('{{ $id }}', '[email]', '[/email]');" title="@lang(bbcodes_email)" alt="@lang(bbcodes_email)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/seperator.gif" alt="" />
			<img src="templates/editor/images/quote.gif" onclick="InsertTags('{{ $id }}', '[quote]', '[/quote]');" title="@lang(bbcodes_quote)" alt="@lang(bbcodes_quote)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/ot.gif" onclick="InsertTags('{{ $id }}', '[ot]', '[/ot]');" title="@lang(bbcodes_ot)" alt="@lang(bbcodes_ot)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/edit.gif" onclick="InsertTags('{{ $id }}', '[edit]', '[/edit]');" title="@lang(bbcodes_edit)" alt="@lang(bbcodes_edit)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/code.gif" onclick="InsertTags('{{ $id }}', '[code]', '[/code]');" title="@lang(bbcodes_code)" alt="@lang(bbcodes_code)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/seperator.gif" alt="" />
			<img src="templates/editor/images/list_unordered.gif" onclick="InsertTagsList('{{ $id }}');" title="@lang(bbcodes_list)" alt="@lang(bbcodes_list)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/list_ordered.gif" onclick="InsertTagsList('{{ $id }}', 'ol');" title="@lang(bbcodes_list_ol)" alt="@lang(bbcodes_list_ol)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/seperator.gif" alt="" />
			<img src="templates/editor/images/hr.gif" onclick="InsertTags('{{ $id }}', '[hr]', '');" title="@lang(bbcodes_hr)" alt="@lang(bbcodes_hr)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/tt.gif" onclick="InsertTags('{{ $id }}', '[tt]', '[/tt]');" title="@lang(bbcodes_tt)" alt="@lang(bbcodes_tt)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/seperator.gif" alt="" />
			<img src="templates/editor/images/subscript.gif" onclick="InsertTags('{{ $id }}', '[sub]', '[/sub]');" title="@lang(bbcodes_sub)" alt="@lang(bbcodes_sub)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
			<img src="templates/editor/images/superscript.gif" onclick="InsertTags('{{ $id }}', '[sup]', '[/sup]');" title="@lang(bbcodes_sup)" alt="@lang(bbcodes_sup)" class="editor_toolbar_button" onmouseover="buttonOver(this)" onmouseout="buttonOut(this)" />
		</td></tr>
	@endif
	@if(!in_array(TOOLBAR_SMILEYS, $disable))
	<tr><td class="editor_toolbar" style="height: auto; overflow: auto;">
			@foreach ($smileys[1] as $bb)
			<img src="{{ $bb['replace'] }}" onclick="InsertTags('{{ $id }}', ' {{ $bb['jssearch'] }} ', '');" title="{{ $bb['desc'] }}" alt="{{ $bb['desc'] }}" class="editor_toolbar_smiley" onmouseover="buttonOverSmiley(this)" onmouseout="buttonOutSmiley(this)" /></a>
			@endforeach
			<img src="templates/editor/images/seperator.gif" alt="" />
			@if(count($smileys[0]) > 0)
			<a id="menu_bbsmileys_{{ $id }}" href="#" onmouseover="RegisterMenu('bbsmileys_{{ $id }}');" class="editor_toolbar_dropdown"><img src="@img(desc)" alt="@lang(box_collapse)" /> @lang(more_smileys)</a>
			<div class="popup" id="popup_bbsmileys_{{ $id }}">
				<strong>@lang(more_smileys)</strong>
				<ul class="bbsmileys">
					@foreach ($smileys[0] as $bb)
					<li><span class="popup_line stext" onclick="InsertTagsMenu('{{ $id }}', ' < ?php echo $bb['jssearch'] ? > ', '', 'bbsmileys_{{ $id }}')"><img src="{{ $bb['replace'] }}" alt="{{ $bb['desc'] }}" /> {{ $bb['desc'] }}</span></li>
					@endforeach
				</ul>
			</div>
			@endif
		</td></tr>
	@endif
	<tr><td>
			<textarea name="{{ $id }}" id="{{ $id }}" class="editor_textarea_inner"{{ $taAttr }}>{{ $content }}</textarea>
		</td></tr>
	@if(!in_array(TOOLBAR_STATUS, $disable))
	<tr><td class="editor_statusbar">
			<span class="textright right">
				<a href="javascript:resize_textarea('{{ $id }}', 1);">@lang(textarea_increase_size)</a> &middot;
				<a href="javascript:resize_textarea('{{ $id }}', -1);">@lang(textarea_decrease_size)</a>
			</span>
			<a href="javascript:textarea_length('{{ $id }}', {{ $maxlength }});">@lang(textarea_check_length)</a>
		</td></tr>
	@endif
</table>