<form method="post" action="misc.php?action=boardin&amp;board=<?php echo $bid.SID2URL_x; ?>">
<div class="border">
<h3><img src="<?php echo $tpl->img('login'); ?>" alt="" /> <?php echo $lang->phrase('pwfaccess_title'); ?></h3>
<div class="bbody">
<label for="pw"><?php echo $lang->phrase('login_password'); ?></label><input tabindex="1" class="label" type="password" id="pw" name="pw" size="40" />
<br class="newinput" /><br class="minibr" />
</div>
<div class="bfoot center"><input type="submit" name="Submit1" tabindex="2" value="<?php echo $lang->phrase('submit_form'); ?>" /></div>
</div>
</form>
