<form method="post" action="misc.php?action=boardin&amp;board={{ $bid }}{{ SID2URL_x }}">
	<div class="border">
		<h3><img src="@img('login')" alt="" /> @lang('pwfaccess_title')</h3>
		<div class="bbody">
			<label for="pw">@lang('login_password')</label><input tabindex="1" class="label" type="password" id="pw" name="pw" size="40" />
			<br class="newinput" /><br class="minibr" />
		</div>
		<div class="bfoot center"><input type="submit" name="Submit1" tabindex="2" value="@lang('submit_form')" /></div>
	</div>
</form>
