<script type="text/javascript">
<!--
    window.setTimeout ('location.href="<?php echo str_replace('&amp;', '&', $errorurl); ?>"', 10000);
-->
</script>
<div class="border">
<h3><?php echo $lang->phrase('re_error_title'); ?></h3>
<div class="bbody">
<ul>
<?php foreach ($errormsg as $error) { ?>
	<li><?php echo $error; ?></li>
<?php } ?>
</ul>
</div>
<?php if (!empty($errorurl)) { ?>
<div class="bfoot center"><a href="<?php echo $errorurl; ?>"><?php echo $lang->phrase('re_error_link'); ?></a></div>
<?php } ?>
</div>
