<span class="pagination_small">
<?php
echo $lang->phrase('pages');
foreach ($pages as $page => $row) {
	if ($row['type'] == PAGES_CURRENT) {
		echo "<span class='page_number_current'>{$page}</span>";
	}
	elseif ($row['type'] == PAGES_SEPARATOR) {
		echo ' '.$lang->phrase('pages_sep').' ';
	}
	elseif ($row['type'] == PAGES_NUM) {
		echo "<a class='page_number' href='{$row['url']}'>{$page}</a>";
	}
	if ($row['separator']) {
		echo "<span class='page_separator'>".$lang->phrase('pages_sep2')."</span>";
	}
}
?>
</span>