<script>
var RecaptchaOptions = {
   lang : '<?php echo $language; ?>',
   tabindex : <?php echo $tabindex; ?>
};
</script>
<script type="text/javascript" src="<?php echo $server; ?>/challenge?k=<?php echo $pubkey.$errorpart; ?>"></script>

<noscript>
	<iframe src="<?php echo $server; ?>/noscript?lang=de&k=<?php echo $pubkey.$errorpart; ?>" style="width: 100%; height: 300px; overflow: auto; border-width: 0px;"></iframe>
	<br />
	Copy the confirmation code to this field:<br />
	<input name="recaptcha_challenge_field" class="label_inner" tabindex="<?php echo $tabindex; ?>" />
	<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
</noscript>