<li><a><i class="fa fa-folder fa-lg"></i> {{ $row['name'] }}</a>
	@if(!empty($navigation))
	<ul>
	@foreach($navigation as $sub)
		<li><a href="{{ $sub['link'] }}"@if(!empty($sub['param'])) target="{{ $sub['param'] }}"@endif>{{ $sub['name'] }}</a>
		@if(!empty($sub['navigation']))
			<ul>
				@foreach ($sub['navigation'] as $sub2)
				<li><a href="{{ $sub2['link'] }}"@if(!empty($sub2['param'])) target="{{ $sub['param'] }}"@endif>{{ $sub2['name'] }}</a></li>
				@endforeach
			</ul>
		@endif
		</li>
	@endforeach
	</ul>
	@endif
</li>