* {
	font-family: MS Sans Serif, Helvetica, Trebuchet MS, Verdana sans-serif;
}
body {
	background-color: #EEEEEE;
	margin: 5px;
	font-size: 9pt;
	color: #000000;
}
form {
	margin: 0px;
}
em, i {
	margin-right: 2px;
}
hr {
	height: 1px;
	border: 0;
	border-bottom: 1px #3465A4 solid;
}
li {
	font-size: 12px;
}
ul {
	margin-bottom: 2px;
	margin-top: 2px;
}
input, select, textarea {
	font-size: 9pt;
	background-color: #F7F8F9;
	border: 1px solid #3465A4;
	color: #666666;
	padding: 1px;
}
input:focus, select:focus, textarea:focus, input:hover, select:hover, textarea:hover {
	background-color: #F7F8F9;
	border: 1px solid #A40000;
	color: #000000;
}
.texteditor {
	font-family: Courier New, monospace;
	white-space: pre;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #204A87;
}
a:hover {
	color : #A40000;
}
.center {
	text-align: center;
}
.border {
	width: 98%;
	border-collapse: collapse;
	margin: auto;
}
.border td, .border th {
	border: 1px solid #3465A4;
	padding: 4px;
}
.invisibletable {
	border-width: 0px;
	width: 100%;
	border-collapse: collapse;
	margin: 5px;
}
.invisibletable td, .invisibletable th {
	border-width: 0px;
	padding: 3px;
}
.invisibletable th {
	text-align: left;
	border: 0px;
}
.inlinetable {
	border: 1px solid #bbbbbb;
	width: 100%;
	border-collapse: collapse;
	margin: 5px;
}
.inlinetable td, .inlinetable th {
	border: 1px dotted #bbbbbb;
	padding: 3px;
}
.inlinetable th {
	text-align: left;
	border: 1px solid #bbbbbb;
}
.minibr {
	line-height: 5px;
}
.box {
	border: 1px solid #3465A4;
	background-color: #2E3436;
	margin: 2px;
	padding: 2px;
}
.obox {
	padding: 2px;
	margin: 0px;
	background-color: #204A87;
	background-image: url(images/obox.gif);
	color: #ffffff;
	font-size: 9pt;
	border-bottom: 1px solid #3465A4;
	letter-spacing: 1px;
	font-weight: bold;
	vertical-align: middle;
}
.obox {
	line-height: expression('1.4em');;
}
.button, .obox a.button {
	text-Decoration: none;
	white-space: nowrap;
	padding: 1px 4px 1px 4px;
	margin-right: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd #333333 #333333 #dddddd;
	line-height: 1.6em;
}
.button:hover, .obox a.button:hover {
	border-color: #333333 #dddddd #dddddd #333333;
}
.obox a.button, .obox a.button:hover {
	margin: 1px 0px 1px 5px;
	color: #ffffff;
	line-height: 1.1em;
}
.ubox {
	background-color: #94B7DF;
	font-size: 8pt;
	font-weight: bold;
	color: #204a87;
}
.ubox a {
	border-bottom: 1px dotted #204A87;
}
.ubox a:hover {
	border-bottom: 1px dotted #A40000;
}
.mbox {
	background-color: #ffffff;
	font-size: 9pt;
}
.mmbox {
	background-color: #F7F8F9;
	font-size: 9pt;
}
.stext {
	font-size: 8pt;
	color: #555753;
}
#copyright {
	padding-top: 1em;
	clear: both;
	font-size: 8pt;
	text-align: center;
}
.right {
		float: right;
}
.valign {
	vertical-align: middle;
}

/* BB-Code Ausgabe */
.bb_table {
	border: 1px dotted #BCCADA;
	overflow: auto;
	display: block;
	padding: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.bb_inlinecode {
	color: #880000;
}
.bb_blockcode_header {
	display: block;
}
.bb_blockcode {
	border: 1px solid #839FBC;
	background-color: #F5F8FA;
	padding: 2px;
	margin: 0px;
	margin-left: 10px;
	overflow: auto;
	max-height: 400px;
	min-height: 50px;
	width: 550px;
}
.bb_blockcode td {
	font-family: Courier New, monospace;
	font-size: 11px;
	line-Height: 13px;
	white-space: nowrap;
	vertical-align: top;
}
.bb_header {
	margin: 0px;
	margin-top: 10px;
}
.bb_size_extended {
	letter-spacing: 3px;
}
.bb_quote {
	margin: 0px;
	width: 98%;
	padding-left: 5px;
	display: block;
}
.bb_quote cite {
	border-bottom: 1px solid #839FBC;
	border-top: 1px solid #839FBC;
	padding-left: 10px;
	font-size: 9pt;
	display: block;
	margin: 1px;
}
.bb_ot span {
	border-top: 1px dashed #BCCADA;
	border-bottom: 1px dashed #BCCADA;
	padding-left: 10px;
	color: #7E9AB8;
	font-size: 9pt;
	display: block;
}
.bb_edit ins {
	margin-left: 10px;
	display: block;
	text-decoration: none;
}
.bb_hide {
	color: #aaaaaa;
	font-size: 9pt;
}
.bb_hide span {
	margin-left: 10px;
	display: block;
}

.popup {
	z-index: 10;
	left: 0px;
	visibility: hidden;
	width: 200px;
	position: absolute;
	top: 0px;
	border: 1px solid #336699;
	border-top: 0px solid;
	text-align: left;
	font-weight: normal;
}
.popup select {
	width: 194px;
}
.popup strong {
	display: block;
	padding: 2px;
	font-size: 9pt;
	color: #336699;
	background-color: #BCCADA;
	border-top: 1px solid #336699;
}
.popup ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.popup li {
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: normal;
	border-top: 1px solid #336699;
	padding: 0px;
	display: block;
}
.popup li form, .popup li p {
	padding: 2px;
	margin: 0px;
}
.popup li a, .popup_line {
	padding: 2px;
	color: #336699;
	text-decoration: none;
	display: block;
	cursor: pointer;
	background-color: #ffffff;
}
.popup li a:hover, .popup_line:hover {
	color: #000000;
	background-color: #F5F8FA;
}
#menu_bbcolor, #menu_bbsize, #menu_bbhx, #menu_help, #menu_bbalign {
	font-size: 9pt;font-weight: bold;font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}
#codebuttons a, #menu_bbcolor, #menu_bbsize, #menu_bbhx, #menu_help, #menu_bbalign {
	border: 1px solid #336699;background-color: #F5F8FA;
}
#codebuttons br {
	clear: left;
}
#codebuttons a {
	height: 18px;float: left;display: block;padding: 2px;margin: 1px;vertical-align: middle;
}
#codebuttons a:hover {
	background-color: #BCCADA;
}
#codebuttons img {
	vertical-align: middle;border-width: 0px;
}
.bbcolor {
	line-height: 10px;font-size: 10px;
}
.bbcolor span {
	width: 10px;height: 10px;display: block;float: left;cursor: pointer;
}