<?php if ($_GET['action'] == 'preview') { ?>
<div class="border">
<h3><img src="<?php echo $tpl->img('newtopic'); ?>" alt="" /> <?php echo $lang->phrase('preview_title'); ?></h3>
<div class="bbody">
	<span class='stext'><?php echo $lang->phrase('showtopic_subject'); ?> <?php echo iif(!empty($prefix), $lang->phrase('showtopic_prefix_title')); ?><strong><?php echo $data['topic']; ?></strong></span>
	<hr />
	<?php echo $data['formatted_comment']; ?>
</div>
</div>
<br class="minibr" />
<?php } else { if ($last['message_active'] == '1') { ?>
<div class="border">
<h3><img id="img_rules_<?php echo $board; ?>" alt="switch" src="<?php echo $tpl->img('minus'); ?>" title="<?php echo $lang->phrase('box_collapse'); ?>" /> <?php echo $last['message_title']; ?></h3>
<div id="part_rules_<?php echo $board; ?>" class="bbody"><?php echo $last['message_text']; ?></div>
</div>
<br class="minibr" />
<?php }} ?>
<form name="form2" method="post" action="newtopic.php?id=<?php echo $board; ?>&amp;fid=<?php echo $fid.SID2URL_x; ?>&amp;action=save">
<div class="border">
<h3><img src="<?php echo $tpl->img('newtopic'); ?>" alt="" /> <?php echo $lang->phrase('newtopic_title'); ?></h3>
<div class="bbody">
<?php if (!$my->vlogin) { ?>
<label for="name"><?php echo $lang->phrase('name'); ?></label>
<input tabindex="1" type="text" id="name" class="label" name="name" size="40" value="<?php echo $data['name']; ?>" />
<br class="newinput" /><hr class="formsep" />
<label for="email"><?php echo $lang->phrase('email'); ?></label>
<input tabindex="2" type="text" id="email" class="label" name="email" size="40" value="<?php echo $data['email']; ?>" />
<br class="newinput" /><hr class="formsep" />
<?php if ($captcha !== null) { ?>
<label for="letter">
	<?php echo $lang->phrase('veriword_check'); ?><br />
	<span class="stext"><?php echo $lang->phrase('register_veriword'); ?></span>
</label>
<div class="label">
	<?php echo $captcha->generateCode(3); ?>
</div>
<br class="newinput" /><hr class="formsep" />
<?php } } else { ?>
<label><?php echo $lang->phrase('logged_in_as'); ?></label>
<span class="iefix_left"><?php echo $my->name; ?> [<a href="log.php?action=logout<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('logout'); ?></a>]</span>
<br class="newinput" /><hr class="formsep" />
<?php } if ($last['message_active'] == '2') { ?>
<label><?php echo $lang->phrase('board_rules'); ?>:</label>
<a class="label" href="misc.php?action=board_rules&amp;id=<?php echo $board.SID2URL_x; ?>" target="_blank"><?php echo $last['message_title']; ?></a>
<br class="newinput" /><hr class="formsep" />
<?php } ?>
<label for="topic"><?php echo $lang->phrase('title'); ?></label>
<?php if (empty($inner['index_prefix'])) { ?>
<input type="text" tabindex="4" class="label" id="topic" name="topic" size="40" value="<?php echo $data['topic']; ?>" />
<?php } else { ?>
<div class="label">
<?php echo $inner['index_prefix']; ?><input tabindex="5" type="text" id="topic" name="topic" size="35" value="<?php echo $data['topic']; ?>" />
</div>
<?php } ?>
<br class="newinput" /><hr class="formsep" />
<label for="comment"><?php echo $lang->phrase('post'); ?></label>
<div class="label textright"><a href="misc.php?action=bbhelp<?php echo SID2URL_x; ?>" target="_blank"><img src="<?php echo $tpl->img('help'); ?>" alt="" /> <strong><?php echo $lang->phrase('bbcode_help'); ?></strong></a></div>
<br class="newinput" /><br class="minibr" />
<?php echo $bbcode->getEditorArea('comment', $data['comment'], 'cols="75" rows="9" tabindex="6"'); ?>
<hr class="formsep" />
<label for="dosmileys"><?php echo $lang->phrase('post_settings'); ?></label>
<div class="label">
	<input type="checkbox" tabindex="7" name="dosmileys" value="1"<?php echo iif($data['dosmileys'] == 1, ' checked="checked"'); ?> /> <?php echo $lang->phrase('post_settings_smileys'); ?><br />
	<input type="checkbox" tabindex="8" name="dowords" value="1"<?php echo iif($data['dowords'] == 1, ' checked="checked"'); ?> /> <?php echo $lang->phrase('post_settings_words'); ?>
</div>
<br class="newinput" />
<?php if ($p_upload == 1) { ?>
<hr class="formsep" />
<label><?php echo $lang->phrase('attachments'); ?>&nbsp;</label>
<div class="label">
	<a tabindex="9" href="attachments.php?type=newtopic&amp;id=<?php echo $board.SID2URL_x; ?>" target="adduploads" onclick="adduploads(this);"><strong><?php echo $lang->phrase('manage_uploads'); ?></strong></a><br />
	<span class="stext"><?php echo $lang->phrase('max_uploads'); ?></span>
</div>
<br class="newinput" />
<?php } if ($my->p['addvotes'] == 1) {  ?>
<hr class="formsep" />
<label for="temp"><?php echo $lang->phrase('add_vote'); ?></label>
<div class="label">
  <input type="checkbox" tabindex="10" name="opt_2" value="1"<?php echo iif($data['vote'] == 1, ' checked="checked"'); ?> /> <?php echo $lang->phrase('yes_add_vote'); ?><br />
  <?php echo $lang->phrase('vote_replies'); ?> <input tabindex="11" type="text" id="temp" name="temp" size="4" value="<?php echo $data['replies']; ?>" />
</div>
<br class="newinput" />
<?php if ($my->vlogin) { ?>
<hr class="formsep" />
<label for="digest"><?php echo $lang->phrase('topic_abo'); ?></label>
<select class="label" name="digest" id="digest" tabindex="12">
	<option value="0"<?php echo iif($data['digest'] == 0, ' selected="selected"'); ?>><?php echo $lang->phrase('digest_none'); ?></option>
	<option value="1"<?php echo iif($data['digest'] == 1, ' selected="selected"'); ?>><?php echo $lang->phrase('digest_s'); ?></option>
	<option value="2"<?php echo iif($data['digest'] == 2, ' selected="selected"'); ?>><?php echo $lang->phrase('digest_d'); ?></option>
	<option value="3"<?php echo iif($data['digest'] == 3, ' selected="selected"'); ?>><?php echo $lang->phrase('digest_w'); ?></option>
</select>
<br class="newinput" />
<?php } ?>
<br class="iefix_br" />
<?php } ?>
</div>
<div class="bfoot center"><input accesskey="s" tabindex="13" type="submit" name="Submit" value="<?php echo $lang->phrase('submit_form'); ?>"> <input tabindex="14" type="submit" name="Preview" value="<?php echo $lang->phrase('preview_form'); ?>" /></div>
</div>
<?php if ($my->mp[0] == 1) { ?>
<br class="minibr" />
<div class="border">
<h3><?php echo $lang->phrase('admin_options'); ?></h3>
<div class="bbody">
<label for="close"><?php echo $lang->phrase('admin_addpost_close'); ?></label>
<div class="label"><input type="checkbox" tabindex="15" id="close" name="close" value="1" /> <?php echo $lang->phrase('admin_addpost_close_desc'); ?></div>
<br class="newinput" /><hr class="formsep" />
<label for="pin"><?php echo $lang->phrase('admin_addpost_pin'); ?></label>
<div class="label"><input type="checkbox" tabindex="16" id="pin" name="pin" value="1" /> <?php echo $lang->phrase('admin_addpost_pin_desc'); ?></div>
<br class="newinput" />
<?php if ($my->mp[2] == 1 || $my->mp[3] == 1) { ?>
<hr class="formsep" />
<label for="close"><?php echo $lang->phrase('admin_addpost_status'); ?></label>
<select tabindex="17" class="label" size="1" name="status" id="status">
	<option<?php echo iif(empty($last['auto_status']), ' value="0" selected="selected"', ' value="9"'); ?>><?php echo $lang->phrase('ats_choose'); ?></option>
	<?php if (!empty($last['auto_status'])) { ?>
	<option value="0" selected="selected"><?php echo $lang->phrase('ats_choose_standard_'.$last['auto_status']); ?></option>
	<?php } ?>
	<?php if ($my->mp[0] == 1 && $my->mp[3] == 1) { ?>
	<option value="1"><?php echo $lang->phrase('ats_select3'); ?></option>
	<?php } if ($my->mp[0] == 1 && $my->mp[2] == 1) { ?>
	<option value="2"><?php echo $lang->phrase('ats_select4'); ?></option>
	<?php } ?>
</select>
<br class="newinput" />
<?php } ?>
<br class="iefix_br" />
</div>
</div>
<?php } ?>
</form>