@include('header')

<h1>@lang('login')</h1>
<form method="post" action="log.php?action=login2{{ SID2URL_x }}">
	<input type="hidden" name="redirect" value="{{ $loc }}" />
	<div class="form-group">
		<label for="name">@lang('login_name')</label>
		<input tabindex="1" id="name" class="form-control" type="text" name="name" size="40" />
	</div>
	<div class="form-group">
		<label for="pw">
			@lang('login_password')
			<small><a tabindex="5" href="log.php?action=pwremind{{ SID2URL_x }}">@lang('login_lost_password')</a></small>
		</label>
		<input tabindex="2" id="pw" class="form-control" type="password" name="pw" size="40" />	
	</div>
	<div class="form-group">
		<label for="remember">
			<input type="checkbox" tabindex="3" id="remember" name="remember" value="1" checked="checked" />
			@lang('login_rememberme')
		</label>
	</div>
	<div class="form-group form-buttons">
		<input tabindex="4" type="submit" accesskey="s" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>

<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">@lang('why_register')</h3></div>
	<div class="panel-body">
		<p>@lang('why_register_desc')</p>
		<ul>
			<li><a tabindex="6" href="misc.php?action=rules{{ SID2URL_x }}">@lang('rules')</a></li>
			<li><a tabindex="7" href="register.php{{ SID2URL_1 }}">@lang('login_registered')</a></li>
			<li><a tabindex="8" href="register.php?action=resend{{ SID2URL_x }}">@lang('register_resend_title')</a></li>
		</ul>
	</div>

</div>

@include('footer')