<table class="table table-striped">
	<tr>
		<th colspan="2">
			<img src="@theme('images/user.gif')" alt="" /> @lang('profile')
		</th>
	</tr>
	<tr>
		<td class="tbody" colspan="2" valign="middle">
			@if(@file_exists($row->pic) && $row->p['usepic'])
			<img class="right" src="{{ $row->pic }}" alt="{{ $row->name }}" />
			@endif
			<span class="btext">{{ $row->name }}</span>
			@if($row->fullname)
			<br />{{ $row->fullname }}
			@endif
		</td>
	</tr>
	<tr>
		<th width="50%">@lang('profile_board_info')</th>
		<th width="50%">@lang('profile_user_info')</th>
	</tr>
	<tr class="tbody profiledata">
		<td valign="top" rowspan="3">
			<h5>@lang('profile_registered_since')</h5>
			<em>@reldatetime($row->regdate)</em>
			<br />
			<h5>@lang('profile_group')</h5>
			@if(count($row->level) == 1)
			<em>{{ current($row->level) }}</em>
			<br />
			@else
			<ul>
				@foreach ($row->level as $level)
				<li><em>{{ $level }}</em></li>
				@endforeach
			</ul>
			@endif
			<h5>@lang('profile_lastvisit')</h5>
			<em>@reldatetime($row->lastvisit, 'profile_never')</em>
			<br />
			<h5>@lang('profile_posts')</h5>
			<em>
				{{ $row->posts }}
				@if($config['showpostcounter']) @lang('profile_posts_perday') @endif
			</em>
			<br />
			<h5>@lang('profile_osi')</h5>
			@if($osi)
			<em class="highlight_pos" title="@lang('profile_osi_lastactivity') @time($wwo['active'])">@lang('profile_online')</em>
			@else
			<em>@lang('profile_offline')</em>
			@endif
			@foreach ($customfields['2'] as $field)
			<br />
			<h5>{{ $field['name'] }}:</h5>
			<em>{{ $field['value'] }}</em>
			@endforeach
		</td>
		<td valign="top">
			<h5>@lang('profile_homepage')</h5>
			<em>
				@if($row->hp)
				<a href="{{ $row->hp }}" target="_blank">{{ $row->hp }}</a>
				@elselang('profile_na')
			</em>
			<br />
			<h5>@lang('profile_gender')</h5>
			<em>{{ $gender }}</em>
			<br />
			<h5>@lang('profile_bday')</h5>
			<em>
				@if($show_bday)
				@if($bday[0] > 0)
				@lang('profile_bday_full')
				@elselang('profile_bday_short')
				@elselang('profile_na')
			</em>
			<br />
			<h5>@lang('profile_location')</h5>
			<em>
				@if($row->location)
				{{ $row->location }}
				@elselang('profile_na')
			</em>
			@foreach ($customfields['1'] as $field)
			<br />
			<h5>{{ $field['name'] }}:</h5>
			<em>{{ $field['value'] }}</em>
			@endforeach
		</td>
	</tr>
	<tr>
		<th>@lang('profile_contact')</th>
	</tr>
	<tr class="tbody profiledata">
		<td valign="top">
			<strong>@lang('profile_mail'):</strong>
			@if($row->opt_hidemail != 1)
			<a href="profile.php?action=mail&amp;id={{ $row->id }}{{ SID2URL_x }}">@lang('profile_mail_2')</a>
			@elselang('profile_mail_1')
			<br />
			<strong>@lang('profile_pm'):</strong> <a href="pm.php?action=new&amp;name={{ $row->id }}{{ SID2URL_x }}">@lang('profile_pm_send')</a>
			@foreach ($customfields['3'] as $field)
			<br /><strong>{{ $field['name'] }}:</strong> {{ $field['value'] }}
			@endforeach
		</td>
	</tr>
</table>
@if(mb_strlen($row->signature) > 3 && $row->p['usesignature'])

<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title"><img src="@theme('images/signature.gif')" alt="" /> @lang('profile_signature')</h3></div>
	<div class="panel-body">{!! $row->signature !!}</div>
</div>
@endif
@if(mb_strlen($row->about) > 3 && $row->p['useabout'])

<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title"><img src="@theme('images/about.gif')" alt="" /> @lang('profile_about')</h3></div>
	<div class="panel-body">{!! $row->about !!}</div>
</div>
@endif
@if($my->p['admin'] == 1)

<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">@lang('admin_options')</h3></div>
	<div class="panel-body">
		<a href="managemembers.php?action=delete&amp;id={{ $_GET['id'] }}{{ SID2URL_x }}">@lang('admin_user_delete')</a> |
		<a href="managemembers.php?action=edit&amp;id={{ $_GET['id'] }}{{ SID2URL_x }}">@lang('admin_user_edit')</a> |
		<a href="managemembers.php?action=recount&amp;id={{ $_GET['id'] }}{{ SID2URL_x }}">@lang('admin_user_recount')</a>
	</div>
</div>
@endif
