<h1>@lang('profile_mail_2')</h1>
<form name="form" method="post" action="profile.php?action=sendmail&amp;id={{ $row->id }}{{ SID2URL_x }}">
	@if($row->opt_hidemail == 0)
	<div class="form-group">
		<label>@lang('email')</label>
		<span><img src="images.php?action=m_email&amp;id={{ $row->id }}{{ SID2URL_x }}" alt="" /></span>
	</div>
	@endif
	<div class="form-group">
		<label for="topic">@lang('email_title')</label>
		<input tabindex="1" type="text" class="form-control" id="topic" name="topic" size="60" value="{{ $data['topic'] }}" />
	</div>
	<div class="form-group">
		<label for="ta">@lang('email_text')</label>
		<textarea tabindex="2" id="ta" name="comment" class="form-control" cols="60" rows="6">{{ $data['comment'] }}</textarea>
	</div>
	<div class="form-group form-buttons">
		<input accesskey="s" tabindex="3" type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>
