@extends('popup')

@section('content')
<script src="admin/html/editor/bbcode.js" type="text/javascript"></script>
<h1>@lang('manage_uploads')</h1>
<p>@lang('upload_intro')</p>
<h2>@lang('upload_restriction')</h2>
<ul>
	<li>@lang('upload_restriction_amount')</li>
	<li>@lang('upload_restriction_filesize') {{ $filesize }}</li>
	<li>@lang('upload_restriction_imagesize')</li>
	<li>@lang('upload_restriction_filetype') {{ $filetypes }}</li>
</ul>
<h2>@lang('attachments')</h2>
<form class="manage-attachments" method="post" enctype="multipart/form-data" action="attachments.php?action=save&amp;type={{ $_GET['type'] }}&amp;id={{ $_GET['id'] }}&amp;location={{ $_GET['location'] }}{{ SID2URL_x }}">
	<ol>
		@foreach($uploads as $i => $file)
		@if($file === null)
		<li>
			<input type="file" name="upload_{{ $i }}" />&nbsp;
		</li>
		@else
		<li>
			{{ $file['file'] }} (<em>{{ $file['filesize'] }}</em>)
			<button type="button" onclick="InsertAttachment('{{ $_GET['location'] }}', {{ $file['id'] }})" class="btn btn-default">@lang('upload_insert')</button>
			<button type="submit" name="delete[{{ $file['id'] }}]" class="btn btn-danger">@lang('delete_form')</button>
		</li>
		@endif
		@endforeach
	</ol>
	<div class="form-group form-buttons">
		<button accesskey="s" type="submit" class="btn btn-primary">@lang('upload_form')</button>
		<button accesskey="x" class="btn btn-danger" onclick="self.close()">@lang('close_window')</button>
	</div>
</form>
@endsection