@include('header')

@if($info['message_active'] == 1)
@include('misc.board_rules')
@endif
@if($info['readonly'] == '0' || $info['topics'] > 0 || !$subforums)
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- ToDo: Move to left sidebar and replace automatically with best fitting search -->
		<form class="navbar-form navbar-left" method="post" action="search.php?action=search{{ SID2URL_x }}">
			<div class="form-group">
				<input type="text" name="search" class="form-control" placeholder="@lang('forum_options_search')">
				<input type="hidden" name="boards[]" value="{{ $board }}" />
			</div>
			<button type="submit" class="btn btn-default"><i class="fa fa-search" title="@lang('submit')"></i></button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			@if($my->mp[0] == 1)
			<li class="dropdown">
				<a id="admin_options" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> @lang('admin_options')</a>
				<ul class="dropdown-menu" aria-labelledby="admin_options">
					<li><a href="manageforum.php?action=index&amp;type=open&amp;page={{ $_GET['page'] }}&amp;id={{ $board }}{{ SID2URL_x }}"><i class="fa fa-unlock"></i> @lang('admin_mass_open')</a></li>
					<li><a href="manageforum.php?action=index&amp;type=close&amp;page={{ $_GET['page'] }}&amp;id={{ $board }}{{ SID2URL_x }}"><i class="fa fa-lock"></i> @lang('admin_mass_close')</a></li>
					<li><a href="manageforum.php?action=index&amp;type=delete&amp;page={{ $_GET['page'] }}&amp;id={{ $board }}{{ SID2URL_x }}"><i class="fa fa-trash"></i> @lang('admin_mass_delete')</a></li>
					<li><a href="manageforum.php?action=index&amp;type=move&amp;page={{ $_GET['page'] }}&amp;id={{ $board }}{{ SID2URL_x }}"><i class="fa fa-arrow-right"></i> @lang('admin_mass_move')</a></li>
					<li><a href="manageforum.php?action=stat&amp;id={{ $board }}{{ SID2URL_x }}"><i class="fa fa-refresh"></i> @lang('admin_forum_stats')</a></li>
				</ul>
			</li>
			@endif
			<li><a href="misc.php?action=markforumasread&amp;board={{ $board }}{{ SID2URL_x }}"> <i class="fa fa-check"></i> @lang('forum_options_markread')</a></li>
			@if($my->p['posttopics'] == 1 && $info['readonly'] == 0)
			<li><a href="newtopic.php?id={{ $board }}{{ SID2URL_x }}"><i class="fa fa-plus"></i> @lang('forum_newtopic')</a></li>
			@endif
		</ul>
    </div>
</nav>

{!! $pages !!}

<table class="table threads table-striped">
	<thead>
		<tr>
			<th class="cell-icon"></th>
			<th class="cell-name">@lang('forum_topic')</th>
			<th class="cell-author hidden-xs">@lang('forum_start')</th>
			<th class="cell-stat hidden-xs hidden-sm">@lang('forum_replies')</th>
			<th class="cell-last">@lang('forum_last')</th>
		</tr>
	</thead>
	<tbody>
		@if($info['message_active'] == '2')
		<tr>
			<td colspan="1" class="cell-icon"><i class="fa fa-lg fa-exclamation icon-new"></i></td>
			<td colspan="4" class="cell-name">
				@lang('board_rules'):
				<a href="misc.php?action=board_rules&amp;id={{ $board }}{{ SID2URL_x }}">
					{{ $info['message_title'] }}
				</a>
			</td>
		</tr>
		@endif
		@forelse($topics as $row)
		<tr>
			<td class="cell-icon">
				@if($row->read)
				@if($row->status == 0)
				<i class="fa fa-lg fa-folder-open icon-old" title="@lang('forum_icon_old')"></i>
				@else
				<i class="fa fa-lg fa-lock icon-old" title="@lang('forum_icon_closed')"></i>
				@endif
				@else
				@if($row->status == 0)
				<i class="fa fa-lg fa-folder-open icon-new clickable" onclick="marktopicread({{ $row->id }},this)" title="@lang('forum_icon_new') | @lang('forum_options_markread')"></i>
				@else
				<i class="fa fa-lg fa-lock icon-new clickable" onclick="marktopicread({{ $row->id }},this)" title="@lang('forum_icon_closed') | @lang('forum_options_markread')"></i>
				@endif
				@endif
			</td>
			<td class="cell-name">
				@if($row->vquestion)
				<i class="fa fa-bar-chart pull-right" aria-hidden="true" title="@lang('vote_titlevote') {{$row->vquestion}}"></i>
				@endif
				@if(!$row->read)
				<a href="showtopic.php?action=firstnew&amp;id={{ $row->id }}{{ SID2URL_x }}"><i class="fa fa-chevron-down clickable" title="@lang('move_to_first_new_post')"></i></a>
				<strong>
				@endif
					{{ $row->type }}
					<a href="showtopic.php?id={{ $row->id }}{{ SID2URL_x }}">
					@php
					$lang->assign('prefix', $row->prefix); // ToDo: Remove this
					@endphp 
					@if(!empty($row->prefix)) @lang('showtopic_prefix_title') @endif
					{{ $row->topic }}
				@if(!$row->read)
				</strong>
				@endif
				</a>
				{!! $row->pages !!}
			</td>
			<td class="cell-author hidden-xs">
				@reldatetime($row->date)<br />
				@lang('written_by')
				<a href="profile.php?id={{ $row->uid }}{{ SID2URL_x }}">{{ $row->name }}</a>
			</td>
			<td class="cell-stat text-center hidden-xs hidden-sm">{{ numbers($row->posts) }}</td>
			<td class="cell-last">
				<a title="@lang('jump_to_last_post')" href="showtopic.php?action=last&amp;id={{ $row->id }}{{ SID2URL_x }}">@reldatetime($row->last)</a><br />
				@lang('written_by')
				<a href="profile.php?id={{ $row->luid }}{{ SID2URL_x }}">{{ $row->luname }}</a>
			</td>
		</tr>
		@empty
		<tr>
			<td class="tbody center" colspan="5">@lang('forum_empty')</td>
		</tr>
		@endforelse
	</tbody>
</table>

{!! $pages !!}

<form method="get" action="showforum.php">
	<input type="hidden" name="id" value="{{ $board }}" />
	<input type="hidden" name="s" value="{{ SID2URL }}" />
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="2">@lang('forum_filter')</th>
			</tr>
		</thead>
		@if(!empty($prefix_arr))
		<tr>
			<td width="50%"></td>
			<td width="50%"></td>
		</tr>
		@endif
		<tr>
			<td>
				<select size="1" name="sort">
					<option value="0"@selected($filter == 0)>@lang('forum_filter_opt0')</option>
					<option value="6"@selected($filter == 6)>@lang('forum_filter_opt6')</option>
				</select>
				<br />
				@if(!empty($prefix_arr))
				@lang('prefix')
				<select size="1" name="prefix">
					<option value="-1"@selected($prefix_filter == -1)>@lang('forum_filter_opt0')</option>
					<option value="0"@selected($prefix_filter == 0)>@lang('prefix_empty_filter')</option>
					@foreach($prefix_arr as $prefix_id => $prefix_row) {
					<option value="{{ $prefix_id }}"@selected($prefix_filter == $prefix_id)>{{ $prefix_row['value'] }}</option>
					@endforeach
				</select>
				<br />
				@endif
				<input type="submit" accesskey="s" value="@lang('submit_form')" />
			</td>
		</tr>
	</table>
</form>
@endif

@include('footer')