<div class="border">
	<h3><img src="@theme('images/wwo.gif')" alt="" /> @lang('wiw')</h3>
	<div class="bbody">@lang('active_usercounter')</div>
</div><br />
@if($wwo['r'] > 0)
<table class="tables">
	<tr>
		<th colspan="2">@lang('wiw_r') {{ $wwo['r'] }}</th>
	</tr>
	{!! $inner['wwo_bit_member'] !!}
</table>
<br class="minibr" />
@endif
@if($wwo['g'] > 0)
<table class="tables">
	<tr>
		<th colspan="2">@lang('wiw_g') {{ $wwo['g'] }}</th>
	</tr>
	{!! $inner['wwo_bit_guest'] !!}
</table>
<br class="minibr" />
@endif
