/* Header related */
.nav-breadcrumb li:first-child {
	display: none;
}
.nav-breadcrumb {
	border-bottom: 1px solid #bd1550;
}

#header {
	padding-right: 15px;
}
#header.navbar-fixed-top {
	position: relative;
}
#header .navbar-header {
	white-space: nowrap;
}
#header .navbar-brand {
	display: inline-block;
	float: none;
}

@media (min-width: 640px) {
	body {
		padding-top: 70px;
	}
	body.popup {
		padding: 10px;
	}
	#header.navbar-fixed-top {
		position: fixed;
	}
	.nav-breadcrumb li:first-child {
		display: inline-block;
	}
}

.navbar-nav.user-notification-header > li > a {
	padding-left: 25px;
	padding-right: 25px;
}
.navbar-nav.user-notification-header > li > a.notification-icon {
	padding-left: 25px;
	padding-right: 6px;
}
.navbar-nav.user-notification-header > li > a.notification-icon .label {
	position: relative;
	display: inline-block;
	font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
	border-radius: 10px;
    padding: 3px 4px;
	bottom: -0.5em;
	left: -6px;
	font-size: 11px;
	line-height: 11px;
	min-height: 19px;
	min-width: 19px;
}
.navbar-nav.user-notification-header > li > a.notification-icon .label:empty {
	visibility: hidden;
}

.navbar-nav.user-notification-header > li > a .label-danger {
	background-color: #bd1550;
}
.navbar-nav.user-notification-header > li > a:hover .label-danger {
	background-color: #373330;
}
.navbar-nav.user-notification-header > li.dropdown ul {
	max-height: 300px;
	overflow-y: auto;
}

.nav-condensed > li > a {
	padding-top: 4px; 
	padding-bottom: 4px; 
}

.user-header img.avatar {
	height: 1.66em;
	line-height: 0.75em;
	vertical-align: -50%;
	width: auto;
	border-radius: 0.3em;
}

/* Sidebar */
#wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-toggle {
	color: #fff;
	margin-left: 5px;
	display: none;
	border-width: 0px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
	width: 50px;
	margin: 0px;
	float: none;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 0px;
    width: 0px;
	height: 100%; /* Fit to actual content size */
	max-height: 100%;
	margin-left: 0px;
	margin-top: -20px;
	overflow-x: hidden;
    overflow-y: auto;
    background: #373330;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-toggled #sidebar-wrapper {
	width: 250px;
}
@media(min-width:768px) {
	#wrapper {
		margin-left: 50px;
	}
    #sidebar-wrapper {
        width: 50px;
		position: fixed;
		height: 100%;
    }
    .sidebar-toggled #sidebar-wrapper, #sidebar-wrapper:hover {
        width: 300px;
    }
	#header.navbar .container-fluid {
		padding-left: 0px;
	}
	.container {
		width: 700px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 920px;
	}
}
@media(min-width:1200px) {
	#wrapper {
		margin-left: 300px;
	}
    #sidebar-wrapper {
        width: 300px;
    }
	#wrapper.sidebar-toggled {
		margin-left: 50px;
	}
    .sidebar-toggled #sidebar-wrapper {
        width: 50px;
    }
    .sidebar-toggled #sidebar-wrapper:hover {
        width: 300px;
    }
}
@media(min-width: 1250px) {
	.container {
		width: 920px;
	}
}
@media(min-width: 1500px) {
	.container {
		width: 1170px;
	}
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #bd1550;
}

.sidebar-nav .fa {
	width: 2em;
	height: 2em;
	line-height: 2em;
	float: left;
	font-size: 1.33333333em;
	text-align: center;
}

/* Misc */
hr {
    height: 1px;
    background-color: #490A3D;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#footer {
	padding-top: 1em;
	text-align: center;
}

#footer span {
	padding-top: 1em;
	display: block;
}

.docs-container {
	margin-bottom: 1em;
}

.navbar-toggle {
	color: #fff;
}

.js-only {
	display: none;
}

.panel-title a {
	text-decoration: underline;
}

.table {
	border: 1px solid #490A3D;
}

.table thead {
	background-color: #490A3D;
	color: #fff;
}

@media(min-width: 992px) {
	/* ToDo: Check what happens when there are multiple of these alerts */
	.alert-dismissible {
		z-index: 20000;
		position: fixed;
		bottom: 10px;
		right: 10px;
		min-width: 300px;
		max-width: 500px;
		margin: 0px;
	}
}

.manage-attachments input[type="file"] {
	display: inline-block;
}

/* Pagination */
.pagination-block, .pagination-inline {
	text-align: right;
}
.pagination-block .pagination {
	margin-top: 0px;
	margin-bottom: 20px;
}
.pagination-inline .pagination {
	margin: 0px;
	margin-bottom: -3px;
}
.pagination-inline .pagination-sm > li > a, .pagination-inline  .pagination-sm > li > span {
	padding: 2px 6px;
}
.pagination-block .pagination-next i, .pagination-block .pagination-previous i {
	margin: 0 0.5em;
}
.pagination-block .pagination-btn-label {
	display: none;
}
.pagination-inline .pagination > li.pagination-label > span {
	color: #000;
}
li.pagination-separator, li.pagination-label {
	display: none;
}
@media(min-width:768px) {
	.pagination-block .pagination-next i {
		margin-right: 0px;
	}
	.pagination-block .pagination-previous i {
		margin-left: 0px;
	}
	.pagination-block .pagination-btn-label {
		display: inline;
	}
	li.pagination-separator, li.pagination-label {
		display: inline;
	}
}

/* Forum list table */
.forums h3 {
	margin: 0px;
	font-size: 1.2em;
}
.forums.table > tbody > tr > td {
    vertical-align: middle;
}
.forums .cell-icon {
    width: 6%;
    text-align: center;
	padding-right: 0px;
}
.forums.table th.cell-stat {
    width: 15%;
}
.forums.table th.cell-last {
    width: 25%;
}
.forums .moderators, .forums .subforums, .forums .description {
	display: block;
	margin-top: 4px;
}
.forums .subforums ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* Thread list table, incl. search results */

.threads .cell-icon, .search-results .cell-icon {
    width: 3%;
    text-align: center;
	padding-right: 0px;
}
.threads.table th.cell-stat, .search-results.table th.cell-stat {
    width: 10%;
	text-align: center;
}
.threads.table th.cell-author, .threads.table th.cell-last,
.search-results.table th.cell-author, .search-results.table th.cell-last {
    width: 20%;
}

/* Notifications */

.notifications .cell-icon {
    text-align: center;
    width: 2%;
}
.notifications.table th.cell-topic {
    width: 48%;
}
.notifications.table th.cell-last {
    width: 20%;
}
.notifications.table th.cell-type {
    width: 30%;
}
.notifications.table td.cell-type select {
    width: 100%;
}

/* Team */

.team .cell-icon {
    text-align: center;
}
.team.table th.cell-name {
    width: 35%;
}
.team.table th.cell-contact, .team.table td.cell-contact {
    width: 10%;
	text-align: center;
}
.team.table th.cell-location {
    width: 35%;
}
.team.table td.cell-location ul {
    margin: 0px;
}

/* PM */
.conversations .cell-select, .conversations .cell-icon {
    text-align: center;
	width: 2%;
}
.conversations .cell-title {
	width: 66%;
}
.conversations .cell-author {
	width: 30%;
}

/* Edit profile */
.editprofile-nav i {
	display: none;
}
.editprofile-nav p {
	display: none;
}
.editprofile-nav a {
	display: block;
}
	
@media(min-width:768px) {
	.editprofile-nav i {
		display: inline-block;
		width: 2em;
		text-align: center;
	}
	.editprofile-nav p {
		display: block;
	}
	.editprofile-nav a {
		display: inline;
	}
}

/* Thread and Post view */

.post .avatar {
	margin-right: 0.5em;
}

.post img.avatar {
	height: 2.25em;
	width: auto;
	border-radius: 0.5em;
}

.post .attachments {
	margin-top: 1em;
	
}

/* Member list */
.members > thead > tr > th {
	vertical-align: top;
}
.members > thead > tr > th .btn {
	padding: 1px 5px;
}
.members .full-name {
	display: none;
}
@media(min-width:768px) {
	.members .full-name {
		font-style: italic;
		display: block;
	}
}

/* Icons */

.fa {
	cursor: default;
}
.clickable, a .fa {
	cursor: pointer;
}
.icon-neutral, .icon-old, .icon-offline {
	color: #373330;
}
.icon-new {
	color: #bc0100;
}
.icon-online {
	color: #8A9B0F;
}

/* Forms */
label {
	display: block;
}
label small {
	float: right;
	font-weight: normal;
	margin: 2px 0; /* Optimize vertical-align for small width forms */
}
label small:after {
	clear: right;
}
.form-buttons {
	text-align: left;
}

/* BB-Codes */

.bb_inlinecode {
	color: #880000;
	white-space: normal;
}

.bb_blockcode {
	border: 1px solid #839FBC;
	background-color: #F5F8FA;
	padding: 1%;
	margin-left: 3%;
	overflow: auto;
	max-height: 400px;
	min-height: 50px;
	width: 94%;
}
.bb_blockcode * {
	font-family: 'Courier New', monospace;
}
.bb_blockcode li {
	margin-left: 12px;
	white-space: pre;
}

.bb_header {
	margin: 0px;
	margin-top: 10px;
}
.bb_size_extended {
	letter-spacing: 3px;
}
.bb_quote {
	margin: 0px;
	width: 98%;
	padding-left: 5px;
}
.bb_quote blockquote {
	border-bottom: 1px solid #839FBC;
	border-top: 1px solid #839FBC;
	padding-left: 10px;
	font-size: 9pt;
	margin: 1px;
}
.bb_ot span {
	border-top: 1px dashed #BCCADA;
	border-bottom: 1px dashed #BCCADA;
	padding-left: 10px;
	color: #7E9AB8;
	font-size: 9pt;
	display: block;
	margin: 1px;
}
.bb_edit ins {
	display: block;
	margin: 1px;
	padding-left: 5px;
	text-decoration: none;
	border-left: 2px solid #BCCADA;
}

/* BB-Code-Editor */
.editor_textarea_outer {
	border: 1px solid #888888;
	width: 100%;
	border-collapse: collapse;

}
.editor_textarea_outer td {
	padding: 4px;
}
.editor_textarea_outer td.editor_textarea {
	padding: 0px;
}
.editor_textarea_outer a, .editor_textarea_outer a:hover {
	text-decoration: none;
}
.editor_toolbar {
	border-bottom: 1px solid #C9C9C9;
	background-color: #F4F4F4;
	height: 28px;
}
.editor_toolbar .dropdown {
	display: inline;
}
.editor_toolbar .dropdown a {
	border: 1px solid #F4F4F4;
	padding: 2px;
	color: #000000;
	font-size: 9pt;
}
.editor_toolbar .dropdown a:hover {
	border: 1px solid #999999;
}
.editor_toolbar_smiley {
	border: 1px solid #F4F4F4;
	padding: 2px;
}
.editor_toolbar_smiley:hover {
	border: 1px solid #999999;
	padding: 2px;
}
.editor_toolbar_button {
	width: 22px;
	height: 22px;
	border: 1px solid #F4F4F4;
}
.editor_toolbar_button:hover {
	border: 1px solid #999999;
}
.editor_textarea_inner {
	background-color: #FFFFFF;
	font-size: 9pt;
	border-width: 0px;
	width: 100%;
	padding: 4px;
}
.editor_statusbar {
	font-size: 8pt;
	background-color: #F4F4F4;
	border-top: 1px solid #C9C9C9;
}
.editor_statusbar a {
	color: #000000;
	text-decoration: none;
}
.editor_statusbar a:hover {
	text-decoration: underline;
}


.bbcolor {
	width: 240px;
	padding: 10px;
	line-height: 12px;
	font-size: 12px;
}
.bbcolor img {
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
}
.bbheading h1, .bbheading h2, .bbheading h3, .bbheading h4, .bbheading h5, .bbheading h6 {
	margin: 4px;
}
.bbtable {
	width: 300px;
	padding: 4px;
}
.bbtable input {
	width: 35px;
	text-align: center;
	margin-right: 5px;
}

.bbsmileys {
	max-height: 200px;
	overflow: auto;
}
.bbsmileys img {
	margin: 2px 8px 2px 4px;
}