@if($error_state)
<div class="border">
	<h3>@lang('re_error_title')</h3>
	<div class="bbody">
		@if($hidden == 0)
		@lang('error_no_forums_found')
		@elselang('error_no_forum_permissions')
		@if($hidden > 0)
		<div class="bfoot">
			<label>@lang('logged_in_as')</label>{{ $my->name }}
		</div>
		@endif
	</div>
	<br class="minibr" />
	@else
	@foreach ($cats as $cat)
	<table class="tables">
		<thead>
			<tr>
				<th colspan="4">
					<img id="img_cat_f{{ $cat['id'] }}" alt="switch" src="@theme('images/minus.gif')" title="@lang('box_collapse')" /> {{ $cat['name'] }}
					@if(!empty($cat['description']))
					<br /><span class="stext">{{ $cat['description'] }}</span>
					@endif
				</th>
			</tr>
		</thead>
		<tbody id="part_cat_f{{ $cat['id'] }}">
			<tr class="tfoot">
				<td width="3%">&nbsp;</td>
				<td width="45%">@lang('board')</td>
				<td width="18%">@lang('contentcounter')</td>
				<td width="34%">@lang('last_post')</td>
			</tr>
			@foreach($cat['forums'] as $forum)
			@if($forum['opt'] == 're')
			<tr class="tbody">
				<td width="3%" class="center"><img src="@theme('images/cat_redirect.gif')" alt="{{ $forum['name'] }}" /></td>
				<td width="97%" colspan="3">
					<span class="right stext">{{ $forum['optvalue'] }}</span>
					<strong><a href="{{ $forum['optvalue'] }}">{{ $forum['name'] }}</a></strong>
					@if(!empty($forum['description']))
					<br />{{ $forum['description'] }}
					@endif
				</td>
			</tr>
			@else
			<tr class="tbody">
				<td width="3%" class="center">
					@if($forum['state'] == BOARD_STATE_LOCKED)
					<img src="@theme('images/cat_locked.gif')" alt="{{ $forum['name'] }}" />
					@elseif($forum['state'] == BOARD_STATE_NEW)
					<img src="@theme('images/cat_open.gif')" alt="{{ $forum['name'] }}" title="@lang('forum_options_markread')" onmouseover="HandCursor(this)" onclick="ajax_markforumread({{ $forum['id'] }},this)" />
					@else
					<img src="@theme('images/cat-red.gif')" alt="{{ $forum['name'] }}" />
					@endif
				</td>
				<td width="45%">
					<strong><a href="showforum.php?id={{ $forum['id'] }}{{ SID2URL_x }}">{{ $forum['name'] }}</a></strong>
					@if(!empty($forum['description']))
					<br />{{ $forum['description'] }}
					@endif
					@if(!empty($forum['mod']))
					<br /><span class="stext">
						<strong>@lang('forum_mods')</strong>
						@foreach($forum['mod'] as $m)
						<a href="profile.php?id={{ $m['mid'] }}{{ SID2URL_x }}">{{ $m['name'] }}</a>{{ $m['sep'] }}
						@endforeach
					</span>
					@endif
					@if(!empty($forum['sub']))
					<br /><span class="stext">
						<strong>@lang('forum_subforums')</strong>
						@foreach ($forum['sub'] as $s)
						<br />
						@if($forum['state'] == BOARD_STATE_WWW)
						<img src="@theme('images/subcat_redirect.gif')" alt="{{ $forum['name'] }}" />
						@elseif($forum['state'] == BOARD_STATE_LOCKED)
						<img src="@theme('images/subcat_locked.gif')" alt="{{ $forum['name'] }}" />
						@elseif($forum['state'] == BOARD_STATE_NEW)
						<img src="@theme('images/subcat_open.gif')" alt="{{ $forum['name'] }}" title="@lang('forum_options_markread')" onmouseover="HandCursor(this)" onclick="ajax_markforumread({{ $s['id'] }},this,1)" />
						@else
						<img src="@theme('images/subcat-red.gif')" alt="{{ $forum['name'] }}" />
						@endif
						@if($s['opt'] != 're')
						<a href="showforum.php?id={{ $s['id'] }}{{ SID2URL_x }}">
						@else
						<a href="{{ $s['optvalue'] }}">
						@endif
						{{ $s['name'] }}</a>
						@endforeach
					</span>
					@endif
				</td>
				<td width="18%">
					{{ $forum['topics'] }} @lang('xtopics')<br />
					{{ $forum['replies'] }} @lang('xreplies')
				</td>
				<td width="34%" class="stext">
					@if(!empty($forum['l_topic']))
					<a title="{{ $forum['l_topic_full'] }}" href="showtopic.php?id={{ $forum['l_tid'] }}{{ SID2URL_x }}&amp;action=last">
						<strong>{{ $forum['l_prefix'] }}{{ $forum['l_topic'] }}</strong>
					</a><br />
					<span class="left nowrap">
						@lang('by')
						<a href="profile.php?id={{ $forum['l_uid'] }}{{ SID2URL_x }}">{{ $forum['l_name'] }}</a>
					</span>
					<span class="right nowrap">@reldatetime($forum['l_date'])</span>
					@elselang('cat_no_lastpost')
				</td>
			</tr>
			@endif
			@endforeach
		</tbody>
	</table>
	@endforeach
	@endif
