<div class="border">
<div class="bfoot topfooter">
  <div class="right textright">
	<a id="menu_threadtools" href="#threadtools"><img src="<?php echo $tpl->img('desc'); ?>" alt="<?php echo $lang->phrase('box_collapse'); ?>" /> <?php echo $lang->phrase('showtopic_options'); ?></a>
	<script type="text/javascript">RegisterMenu('threadtools');</script>
	<div class="popup" id="popup_threadtools">
<?php if($my->vlogin) { ?>
	 <strong><?php echo $lang->phrase('showtopic_options_manage'); ?></strong>
	 <ul>
	 <li><a href="editprofile.php?action=addabo&amp;type=9&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_favs'); ?></a></li>
	 </ul>
	 <?php if ($info['status'] == 0) { ?>
	 <strong><?php echo $lang->phrase('showtopic_options_abo'); ?></strong>
	 <ul>
	 <?php if ($abox['id'] > 0) { ?>
     <li><a href="editprofile.php?action=removeabo&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo_remove'); ?></a></li>
	 <?php } else { ?>
     <li><a href="editprofile.php?action=addabo&amp;type=0&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo0'); ?></a></li>
     <li><a href="editprofile.php?action=addabo&amp;type=1&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo1'); ?></a></li>
     <li><a href="editprofile.php?action=addabo&amp;type=7&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo7'); ?></a></li>
     <?php } ?>
     </ul>
<?php }} ?>
	 <strong><?php echo $lang->phrase('showtopic_options_export'); ?></strong>
	 <ul>
	 <li><a href="print.php?id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('print'); ?>" alt="" /> <?php echo $lang->phrase('showtopic_options_print'); ?></a></li>
<?php if ($config['pdfdownload'] == 1) { ?>
	  <li><a href="pdf.php?id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('pdf'); ?>" alt="" /> <?php echo $lang->phrase('showtopic_options_pdf'); ?></a></li>
<?php } ?>
	 </ul>
	</div>
<?php if($my->p['postreplies'] == 1 && $info['status'] == 0 && $last['readonly'] == '0') { ?>
	<a class="sep" href="addreply.php?id=<?php echo $info['id'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('addreply'); ?>" alt="" /> <?php echo $lang->phrase('box_reply'); ?></a>
<?php } ?>
	</div>
	<?php echo $temp; if ($firstnew_url != null) { ?>
	<br />
	<a href="<?php echo $firstnew_url; ?>"><img src="<?php echo $tpl->img('desc'); ?>" alt="" />&nbsp;<?php echo $lang->phrase('show_first_unread_post'); ?></a>
	<?php } ?>
  </div>
</div>
<br class="minibr" />
<?php echo $inner['vote_result']; ?>
<form action="managetopic.php?id=<?php echo $info['id'].SID2URL_x; ?>" method="post">
<?php echo $inner['index_bit']; ?>
<div class="border">
<div class="bfoot topfooter">
<?php if($my->p['postreplies'] == 1 && $info['status'] == 0 && $last['readonly'] == '0') { ?>
<span class="right">
<a href="addreply.php?id=<?php echo $info['id'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('addreply'); ?>" alt="" /> <?php echo $lang->phrase('box_reply'); ?></a>
</span>
<?php } echo $temp; ?>
</div></div>
<noscript>
	<br class="minibr" />
	<div class="popup_noscript"><a name="threadtools"></a>
<?php if($my->vlogin) { ?>
	 <strong><?php echo $lang->phrase('showtopic_options_manage'); ?></strong>
	 <ul>
	 <li><a href="editprofile.php?action=addabo&amp;temp=9&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_favs'); ?></a></li>
	 </ul>
	 <?php if ($info['status'] == 0) { ?>
	 <strong><?php echo $lang->phrase('showtopic_options_abo'); ?></strong>
	 <ul>
     <li><a href="editprofile.php?action=addabo&amp;temp=0&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo0'); ?></a></li>
     <li><a href="editprofile.php?action=addabo&amp;temp=1&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo1'); ?></a></li>
     <li><a href="editprofile.php?action=addabo&amp;temp=7&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('showtopic_options_abo7'); ?></a></li>
     </ul>
<?php }} ?>
	 <strong><?php echo $lang->phrase('showtopic_options_export'); ?></strong>
	 <ul>
	 <li><a href="print.php?id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('print'); ?>" alt="" /> <?php echo $lang->phrase('showtopic_options_print'); ?></a></li>
<?php if ($config['pdfdownload'] == 1) { ?>
	  <li><a href="pdf.php?id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>"><img src="<?php echo $tpl->img('pdf'); ?>" alt="" /> <?php echo $lang->phrase('showtopic_options_pdf'); ?></a></li>
<?php } ?>
	  <li><a href="print.php?id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>&amp;action=word"><img src="<?php echo $tpl->img('word'); ?>" alt="" /> <?php echo $lang->phrase('showtopic_options_word'); ?></a></li>
	 </ul>
	</div>
</noscript>
<?php if ($my->mp[0] == 1) { ?>
<br />
<div class="border">
<h3><?php echo $lang->phrase('admin_options'); ?></h3>
<div class="bbody">
<?php  if ($info['status'] != 2) { if ($info['status'] == 1) { ?>
<a href="managetopic.php?action=open&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_open'); ?></a> | 
<?php } else { ?>
<a href="managetopic.php?action=close&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_close'); ?></a> | 
<?php } if ($info['sticky'] == '1') { ?>
<a href="managetopic.php?action=unpin&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_unpin'); ?></a> | 
<?php } else { ?>
<a href="managetopic.php?action=pin&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_pin'); ?></a> | 
<?php }} ?>
<a href="managetopic.php?action=delete&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_delete'); ?></a> | 
<a href="managetopic.php?action=move&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_move'); ?></a> | 
<a href="managetopic.php?action=status&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topics_status'); ?></a> | 
<a href="managetopic.php?action=stat&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topic_stats'); ?></a> | 
<?php if (empty($info['vquestion'])) { ?>
<a href="newtopic.php?action=startvote&amp;id=<?php echo $info['board']; ?>&amp;topic_id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topic_vote'); ?></a>
<?php } else { ?>
<a href="managetopic.php?action=vote_export&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topic_vote_export'); ?></a> | 
<a href="managetopic.php?action=vote_edit&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topic_vote_edit'); ?></a> | 
<a href="managetopic.php?action=vote_delete&amp;id=<?php echo $info['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_topic_vote_delete'); ?></a>
<?php } if ($info['posts'] > 0) { ?>
<hr />
<?php echo $lang->phrase('admin_marked_posts'); ?>&nbsp;
<select name="action">
	<option value="pdelete"><?php echo $lang->phrase('admin_topics_delete'); ?></option>
	<option value="pmerge"><?php echo $lang->phrase('admin_posts_merge'); ?></option>
</select>&nbsp;
<input type="submit" value="<?php echo $lang->phrase('submit_form'); ?>" />
<?php } ?>
</div>
</div>
<?php } ?>
</form>
