<div class="attachment" style="max-width: <?php echo $config['tpcthumbwidth'] ?>px;">
	<strong>
		<?php
		if($my->p['downloadfiles'] == 0) {
			echo $file['file'];
		} else if ($file['image']) { ?>
		<a href="attachments.php?action=attachment&amp;id=<?php echo $file['id'] ?><?php echo SID2URL_x ?>" target="_blank" rel="lightbox[<?php echo $row->id ?>]">
			<img src="attachments.php?action=thumbnail&amp;id=<?php echo $file['id'] ?><?php echo SID2URL_x ?>" alt="<?php echo $file['file'] ?>" title="<?php echo $file['file'] ?>" />
		</a>
		<?php } else { ?>
		<a href="attachments.php?action=attachment&amp;id=<?php echo $file['id'] ?><?php echo SID2URL_x ?>"><?php echo $file['file'] ?></a>
		<?php } ?>
	</strong><br />
	<span class="stext">
		<?php echo $lang->phrase('uploads_hits') . $file['hits']; ?>
		<br /><?php echo $lang->phrase('uploads_size') . $file['size']; ?>
		<?php if ($file['image']) { ?>
		<br /><?php echo $lang->phrase('uploads_imgsize'); ?>
		<?php } ?>
	</span>
</div>