<form name="form2" method="post" action="misc.php?action=vote&amp;id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>">
<div class="border">
<h3>
	<span class="right">[<a href="showtopic.php?temp=1&amp;id=<?php echo $info['id']; ?>&amp;page=<?php echo $_GET['page'].SID2URL_x; ?>"><?php echo $lang->phrase('vote_showresult'); ?></a>]</span>
	<img src="<?php echo $tpl->img('vote'); ?>" alt="" /> <?php echo $lang->phrase('vote_titlevote').$vote['question']; ?>
</h3>
<div class="bbody">
<?php foreach ($vote['entries'] as $row) { ?>
	<input type="radio" id="vote_<?php echo $row['id']; ?>" value="<?php echo $row['id']; ?>" name="temp"<?php echo iif($vote['voted'] == $row['id'], ' checked="checked"'); ?> /><label class="plainlabel sep" for="vote_<?php echo $row['id']; ?>"><?php echo $row['answer']; ?></label><br />
<?php } ?>
</div>
<div class="bfoot center"><input type="submit" value="<?php echo $lang->phrase('submit_form'); ?>" /></div>
</div>
</form>
<br class="minibr" />