@if($firstnew == 1)
<a name="firstnew" id="firstnew"></a>
@endif
<a name="p{{ $row->id }}" id="p{{ $row->id }}"></a>
<div class="panel panel-default post">
	<div class="panel-heading">
		<span class="pull-right">
			@if($row->unread)
			<i class="fa fa-clock-o icon-new"></i>
			@else
			<i class="fa fa-clock-o icon-old"></i>
			@endif
			@reldatetime($row->date)
		</span>
		<h3 class="panel-title">
			@if(!empty($my->pic))
			<img src="{{ $my->pic }}" alt="{{ $my->name }}" class="pull-left avatar">
			@else
			<i class="fa fa-user-circle-o fa-2x pull-left avatar"></i>
			@endif
			<a href="profile.php?id={{ $row->mid }}{{ SID2URL_x }}">{{ $row->name }}</a>
			@if($row->online == 1)
			<i class="fa fa-user icon-online" title="@lang('profile_online')"></i>
			@else
			<i class="fa fa-user icon-offline" title="@lang('profile_offline')"></i>
			@endif
			<br />
			<small>{{ $row->level }}</small>
		</h3>
	</div>
	<div class="panel-body">
		{!! $row->comment !!}
		@if(!empty($inner['uploads']))
		<div class="attachments">
			<h5>@lang('attachments')</h5>
			<div class="row">
				{!! $inner['uploads'] !!}
			</div>
		</div>
		@endif
		@if($bottom)
		<hr />
		@if(!empty($row->fullname) && $config['fullname_posts'] == 1)
		<div class="fullname stext">{{ $row->fullname }}</div>
		@endif
		@if(!empty($row->signature) && $my->opt_showsig == 1)
		<div class="signature">{!! $row->signature !!}</div>
		@endif
		@endif
		@if(!empty($row->edit))
		<div class="text-right">
			<small>
			@lang('post_editinfo1')
			<strong><a href="misc.php?action=edithistory&amp;id={{ $row->id }}{{ SID2URL_x }}">{{ $anz }}</a></strong>
			@lang('post_editinfo2')
			</small>
		</div>
		@endif
	</div>
	<div class="panel-footer">
		<span class="pull-right">
			<strong>#<a href="showtopic.php?action=jumpto&amp;topic_id={{ $row->id }}{{ SID2URL_x }}" target="_blank">{{ $row->rel_post_num }}</a></strong>
			@if($my->mp[0] == 1 && $info['posts'] > 0)
			<input type="checkbox" name="ids[]" value="{{ $row->id }}" onchange="topicSelectedForMod(this, 'mod-marked-posts')" />
			@endif
		</span>
		<ul class="nav nav-pills nav-condensed pull-left">
			@if($my->vlogin && empty($row->report))
			<li><a href="misc.php?action=report_post&amp;id={{ $row->id }}{{ SID2URL_x }}"><i class="fa fa-bomb"></i> @lang('post_report')</a></li>
			@elseif($my->mp[0] == 1 && !empty($row->report))
			<li><a class="sep" href="managetopic.php?action=reports&amp;topic_id={{ $row->id }}&amp;id={{ $info['id'] }}{{ SID2URL_x }}"><i class="fa fa-bomb"></i> @lang('post_reported')</a>
			@endif
			@if($can_edit)
			<li><a class="sep" href="edit.php?id={{ $row->id }}{{ SID2URL_x }}"><i class="fa fa-edit"></i> @lang('post_edit')</a>
			@endif
			@if($my->p['postreplies'] == 1 && $info['status'] == 0 && $last['readonly'] == 0)
			<li class="dropdown" id="mq_{{ $row->id }}">
				<a id="mquote_{{ $row->id }}" href="addreply.php?id={{ $info['id'] }}{{ SID2URL_x }}&amp;qid[]={{ $row->id }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-quote-right"></i> @lang('post_quote')</a>
				<ul class="dropdown-menu" aria-labelledby="popup_mquote_{{ $row->id }}">
					<li><a href="addreply.php?id={{ $info['id'] }}{{ SID2URL_x }}&amp;qid[]={{ $row->id }}">@lang('post_quote_direct')</a></li>
					<li><a href="javascript:MultiQuote.toggle({{ $row->id }})" id="mq_{{ $row->id }}_link">@lang('post_quote_multi')</a></li>
				</ul>
			</li>
			@endif
		</ul>
		<br clear="both"> <!-- ToDo: Remove this br and replace with proper CSS -->
	</div>
</div>

