<h2>
	<span class="pull-right"><a class="btn btn-default" href="showtopic.php?temp=1&amp;id={{ $info['id'] }}&amp;page={{ $_GET['page'] }}{{ SID2URL_x }}">@lang('vote_showresult')</a></span>
	<i class="fa fa-bar-chart"></i> {{ $vote['question'] }}
</h2>

<form name="form2" method="post" action="misc.php?action=vote&amp;id={{ $info['id'] }}&amp;page={{ $_GET['page'] }}{{ SID2URL_x }}">
	<div class="list-group">
		@foreach ($vote['entries'] as $row)
		<label for="vote_{{ $row['id'] }}" class="list-group-item">
			<input type="radio" id="vote_{{ $row['id'] }}" value="{{ $row['id'] }}" name="temp"@checked($vote['voted'] == $row['id']) />
				   {{ $row['answer'] }}
		</label>
		@endforeach
	</div>
	<div class="form-group form-buttons">
		<input type="submit" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>
