<h3><img src="@theme('images/members.gif')" alt="" /> @lang('team')</h3>
<br class="minibr" />
<table class="tables">
    <tr>
		<th colspan="5">@lang('team_admins')</th>
    </tr>
    <tr class="tfoot">
		<td width="40%">@lang('th_name')</td>
		<td width="7%">@lang('th_pm')</td>
		<td width="7%">@lang('th_email')</td>
		<td width="7%">@lang('th_homepage')</td>
		<td width="39%">@lang('th_location')</td>
    </tr>
	@foreach($admin_cache as $row)
	<tr class="tbody">
		<td>
			<a href="profile.php?id={{ $row->id }}{{ SID2URL_x }}">{{ $row->name }}</a>
			@if($row->fullname)
			<br /><em>{{ $row->fullname }}</em>
			@endif
		</td>
		<td class="center"><a href="pm.php?action=new&amp;id={{ $row->id }}{{ SID2URL_x }}"><img src="@theme('images/pm.gif')" alt="" /></a></td>
		<td class="center"><a href="profile.php?action=mail&amp;id={{ $row->id }}{{ SID2URL_x }}"><img src="@theme('images/email.gif')" alt="" /></a></td>
		<td class="center">
			@if($row->hp)
			<a href="{{ $row->hp }}" target="_blank"><img src="@theme('images/homepage.gif')" alt="" /></a>
			@elselang('homepage_no_data')
		</td>
		<td>
			@if($row->location)
			{{ $row->location }}
			@elselang('location_no_data')
		</td>
    </tr>
	@endforeach
</table>
@if(!empty($gmod_cache))
<br class="minibr" />
<table class="tables">
    <tr>
		<th colspan="5">@lang('team_gmods')</th>
    </tr>
    <tr class="tfoot">
		<td width="40%">@lang('th_name')</td>
		<td width="7%">@lang('th_pm')</td>
		<td width="7%">@lang('th_email')</td>
		<td width="7%">@lang('th_homepage')</td>
		<td width="39%">@lang('th_location')</td>
    </tr>
	@foreach($gmod_cache as $row)
	<tr class="tbody">
		<td>
			<a href="profile.php?id={{ $row->id }}{{ SID2URL_x }}">{{ $row->name }}</a>
			@if($row->fullname)
			<br /><em>{{ $row->fullname }}</em>
			@endif
		</td>
		<td class="center"><a href="pm.php?action=new&amp;id={{ $row->id }}{{ SID2URL_x }}"><img src="@theme('images/pm.gif')" alt="" /></a></td>
		<td class="center"><a href="profile.php?action=mail&amp;id={{ $row->id }}{{ SID2URL_x }}"><img src="@theme('images/email.gif')" alt="" /></a</td>
		<td class="center">
			@if($row->hp)
			<a href="{{ $row->hp }}" target="_blank"><img src="@theme('images/homepage.gif')" alt="" /></a>
			@elselang('homepage_no_data')
		</td>
		<td>@if($row->location) {{ $row->location }} @elselang('location_no_data')</td>
    </tr>
	@endforeach
</table>
@endif
@if(!empty($inner['moderator_bit']))
<br class="minibr" />
<table class="tables">
	<tr>
		<th colspan="5">@lang('team_mods')</th>
	</tr>
    <tr class="tfoot">
		<td width="40%">@lang('th_name')</td>
		<td width="7%">@lang('th_pm')</td>
		<td width="7%">@lang('th_email')</td>
		<td width="46%">@lang('team_mod_boards')</td>
    </tr>
	{!! $inner['moderator_bit'] !!}
</table>
@endif
