@include('header')

<h1>@lang('register_title')</h1>
<form method="post" action="register.php?action=save&amp;fid={{ $fid }}{{ SID2URL_x }}">
	<div class="form-group">
		<label for="name">
			@lang('name')
			<small>@lang('minmax_name')</small>
		</label>
		<input class="form-control" type="text" onblur="ajax_doubleudata(this.value);" id="name" name="name" size="40" value="{{ $data['name'] }}" />
		<span class="help-block" id="udata_name"></span>
	</div>
	<div class="form-group">
		<label for="pw">
			@lang('login_password')
			<small>@lang('minmax_password')</small>
		</label>
		<input class="form-control" type="password" id="pw" name="pw" size="40" />
	</div>
	<div class="form-group">
		<label for="pwx">@lang('password_repeat')</label>
		<input class="form-control" type="password" id="pwx" name="pwx" size="40" />
	</div>
	<div class="form-group">
		<label for="email">@lang('email')</label>
		<input class="form-control" type="text" id="email" name="email" size="40" value="{{ $data['email'] }}" />
	</div>
	@foreach ($customfields as $row)
	<div class="form-group">
		<label for="{{ $row['field'] }}">
			{{ $row['name'] }}
			@if(!empty($row['description']))
			<small>{{ $row['description'] }}</small>
			@endif
		</label>
		{{ $row['input'] }}
	</div>
	@endforeach
	@if($captcha !== null)
	<div class="form-group">
		<label for="letter">
			@lang('veriword_check')
			<small>@lang('register_veriword')</small>
		</label>
		<div class="form-control">
			{!! $captcha->generateCode(3) !!}
		</div>
	</div>
	@endif
	@if($config['acceptrules'] == 1)
	<h3>@lang('rules')</h3>
	<ol>
		@foreach($rules as $line)
		<li>{{ $line }}</li>
		@endforeach
	</ol>
	<div class="form-group">
		<label for="temp">
			<input type="checkbox" id="temp" name="temp" value="1"@checked($data['temp']) />
			@lang('register_accept_rules')
		</label>
	</div>
	@endif
	<div class="form-group form-buttons">
		<input type="submit" accesskey="s" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>

@include('footer')