<h1>@lang('register_resend_title')</h1>
<form method="post" action="register.php?action=resend2{{ SID2URL_x }}">
	<p>@lang('register_resend_desc')</p>
	<div class="form-group">
		<label for="name">@lang('name')</label>
		<input tabindex="1" id="name" class="form-control" type="text" name="name" value="{{ $name }}" size="40" />
	</div>
	@if($captcha !== null)
	<div class="form-group">
		<label for="letter">
			@lang('veriword_check')
			<small>@lang('register_veriword')</small>
		</label>
		<div class="form-control">
			{!! $captcha->generateCode(2) !!}
		</div>
	</div>
	@endif
	<div class="form-group form-buttons">
		<input tabindex="3" accesskey="s" type="submit" name="Submit1" value="@lang('submit_form')" />
	</div>
</form>