<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script>document.write("<title>"+window.opener.lblInsertChar+"</title>");</script>
<style>
body { background: #EFEDDE; margin: 0px; }
table { vertical-align: middle; text-align: center; border: 1px solid #e7e7e7; }
td { font-family: tahoma, arial; font-size: 12px; vertical-align: middle; text-align: center; border: 1px solid #e7e7e7; height: 15px; width: 18px; }
</style>
<script language="JavaScript" type="text/javascript">
<!--
if(document.all)
{
  window.resizeTo(450, 180);
} else {
	window.resizeTo(450, 150);
}
function selectChar(ch) {
 window.opener.insertHTML(ch);
 window.close();
}
function InitCharPalette() {
	if (document.getElementsByTagName)
		var x = document.getElementsByTagName('TD');
	else if (document.all)
		var x = document.all.tags('TD');
	for (var i=0; i < x.length; i++) {
		x[i].onmouseover = over;
		x[i].onmouseout = out;
		x[i].onclick = click;
		x[i].bgColor = 'lightyellow';
		x[i].innerHTML = x[i].id;
	}
}
function over() {
	this.style.border = '1px dotted #696969';
	this.bgColor = '#ffff99';
}
function out() {
	this.style.border = '1px solid #e7e7e7';
	this.bgColor = 'lightyellow';
}
function click() {
	selectChar(this.id);
}
//-->
</script>
</head><body onLoad="InitCharPalette();"><table cellpadding="0" cellspacing="2" border="0">
<tr><td id="&cent;"></td><td id="&euro;"></td><td id="&pound;"></td>
<td id="&curren;"></td><td id="&yen;"></td><td id="&copy;"></td>
<td id="&reg;"></td><td id="&trade;"></td><td id="&divide;"></td>
<td id="&times;"></td><td id="&plusmn;"></td><td id="&frac14;"></td>
<td id="&frac12;"></td><td id="&frac34;"></td><td id="&deg;"></td>
<td id="&sup1;"></td><td id="&sup2;"></td><td id="&sup3;"></td>
<td id="&micro;"></td><td id="&laquo;"></td>
</tr><tr>
<td id="&raquo;"></td><td id="&quot;"></td><td id="&lsquo;"></td>
<td id="&rsquo;"></td><td id="&lsaquo;"></td><td id="&rsaquo;"></td>
<td id="&sbquo;"></td><td id="&bdquo;"></td><td id="&ldquo;"></td>
<td id="&rdquo;"></td><td id="&iexcl;"></td><td id="&brvbar;"></td>
<td id="&sect;"></td><td id="&not;"></td><td id="&macr;"></td>
<td id="&para;"></td><td id="&middot;"></td><td id="&cedil;"></td>
<td id="&iquest;"></td><td id="&fnof;"></td>
</tr><tr>
<td id="&mdash;"></td><td id="&ndash;"></td><td id="&bull;"></td>
<td id="&hellip;"></td><td id="&permil;"></td><td id="&ordf;"></td>
<td id="&ordm;"></td><td id="&szlig;"></td><td id="&dagger;"></td>
<td id="&Dagger;"></td><td id="&eth;"></td><td id="&ETH;"></td>
<td id="&oslash;"></td><td id="&Oslash;"></td><td id="&thorn;"></td>
<td id="&THORN;"></td><td id="&oelig;"></td><td id="&OElig;"></td>
<td id="&scaron;"></td><td id="&Scaron;"></td>
</tr><tr>
<td id="&acute;"></td><td id="&circ;"></td><td id="&tilde;"></td>
<td id="&uml;"></td><td id="&agrave;"></td><td id="&aacute;"></td>
<td id="&acirc;"></td><td id="&atilde;"></td><td id="&auml;"></td>
<td id="&aring;"></td><td id="&aelig;"></td><td id="&Agrave;"></td>
<td id="&Aacute;"></td><td id="&Acirc;"></td><td id="&Atilde;"></td>
<td id="&Auml;"></td><td id="&Aring;"></td><td id="&AElig;"></td>
<td id="&ccedil;"></td><td id="&Ccedil;"></td>
</tr><tr>
<td id="&egrave;"></td><td id="&eacute;"></td><td id="&ecirc;"></td>
<td id="&euml;"></td><td id="&Egrave;"></td><td id="&Eacute;"></td>
<td id="&Ecirc;"></td><td id="&Euml;"></td><td id="&igrave;"></td>
<td id="&iacute;"></td><td id="&icirc;"></td><td id="&iuml;"></td>
<td id="&Igrave;"></td><td id="&Iacute;"></td><td id="&Icirc;"></td>
<td id="&Iuml;"></td><td id="&ntilde;"></td><td id="&Ntilde;"></td>
<td id="&ograve;"></td><td id="&oacute;"></td>
</tr><tr>
<td id="&ocirc;"></td><td id="&otilde;"></td><td id="&ouml;"></td>
<td id="&Ograve;"></td><td id="&Oacute;"></td><td id="&Ocirc;"></td>
<td id="&Otilde;"></td><td id="&Ouml;"></td><td id="&ugrave;"></td>
<td id="&uacute;"></td><td id="&ucirc;"></td><td id="&uuml;"></td>
<td id="&Ugrave;"></td><td id="&Uacute;"></td><td id="&Ucirc;"></td>
<td id="&Uuml;"></td><td id="&yacute;"></td><td id="&yuml;"></td>
<td id="&Yacute;"></td><td id="&Yuml;"></td>
</tr></table></body></html>
