<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--Thanks to Tom Bovingdon and Rob Rix-->
<html>
<head> 
<script>document.write("<title>"+window.opener.lblSearch+"</title>");</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<!-- 
body { background-color: #EFEDDE; margin: 10px;}
table { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; }
legend { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px; padding-left: 5px; padding-right: 8px; }
.style2 {font-size: 18px; background:black; font-wieght:bold; color:white; display:block; width:100%; }
.show {left:auto;top:auto;position:auto;}
.hide {left:-1000px;top:-1000px;position:absolute;}
-->
</style>
<script language="JavaScript" type="text/javascript"> 
<!-- 
if(opener.isIE7) {
  window.resizeTo(515, 250);
} else if(document.all) {
  window.resizeTo(515, 240);
} else {
	window.resizeTo(503, 236);
}

function submitForm() {
	if(document.getElementById("searchText").value == ""){
    alert(window.opener.lblSearchVal0);
		return;
	}
  var searchText = document.getElementById("searchText").value;
  var replaceText = document.getElementById("replaceText").value;
  window.opener.SearchAndReplace(searchText, replaceText, document.getElementById("matchCase").checked, document.getElementById("wholeWord").checked);
	window.close();
	return false;
}
//--> 
</script> 
</head><body><form name="linkForm">
<table cellpadding="0" cellspacing="0" border="0" width=100%><tr>
<td><fieldset style="margin-left: 5px;"><legend><script>document.write(window.opener.lblSearch);</script></legend>
<div style="padding: 2px;"></div><table cellpadding="4" cellspacing="0" border="0" width=100%>
   <tr>
      <td align="right" nowrap><script>document.write(window.opener.lblSearchFind);</script>:&nbsp;</td>
      <td><input name="searchText" type="text" id="searchText" style="width:250px;height:18px;font-size:14px" value=""></td>
   </tr>
   <tr>
      <td align="right" nowrap><script>document.write(window.opener.lblSearchReplace);</script>:&nbsp;</td>
      <td><input name="replaceText" type="text" id="replaceText" style="width:250px;height:18px;font-size:14px" value=""></td>
   </tr> 
   <tr>
      <td align="right" nowrap>&nbsp;</td>
      <td align="left">
         <input id=matchCase name=matchCase type=checkbox><script>document.write(window.opener.lblSearchMatch);</script><br>
	 			 <input id=wholeWord name=wholeWord type=checkbox><script>document.write(window.opener.lblSearchWholeWord);</script>
      </td> 
   </tr>
</table> 
<div style="padding: 2px;"></div>
</fieldset></td><td><td align="left" valign="top" style="padding: 8px;">
<input type="button" name="btnsubmit" value="" style="width:100px" onclick="submitForm();"/><br>
<input type="button" name="btncancel" value="" style="width:100px;" onClick="window.close();"/>
</td></tr></table></form></body></html>
<script>
document.linkForm.btnsubmit.value = window.opener.lblSearchSubmit;
document.linkForm.btncancel.value = window.opener.lblSearchCancel;
</script>
