.rteImg {
	background:#EFEDDE;
	border:1px solid #EFEDDE;
	width:23px;
	height:22px;
	margin:1px;
}
.rteImgUp,.rteImg:hover {
	background:#cddbf3;
	border:1px solid #6e9ce6;
	width:23px;
	height:22px;
	margin:1px;
}
.rteImgDn,.rteImg:active {
	background:#C1D2EE;
	border:1px solid #316ac5;
	width:23px;
	height:22px;
	margin:1px;
}
.rteSep {
	margin:0 2px 0 2px;
	width:1px;
	height:20px;
	border:0px;
}
.rteBar {
	margin:0 2px 0 4px;
	width:3px;
	height:15px;
	border:0px;
}
.rteBk {
	background:#EFEDDE;
	border: 1px solid #EFEDDE;
	letter-spacing:0;
	height:24px;
}
.rteBk tbody tr td, .rteBk tr td {
	background:#EFEDDE;
	border-width: 0px;
	height:24px;
	padding: 0px;
	margin: 0px;
}
#rteToolbar {
	display:block;
	position:relative;
}
.show {
	left:auto;
	top:auto;
	position:relative;
}
.hide {
	left:-1000px;
	top:-1000px;
	position:absolute;
}