<form name="form2" method="post" action="log.php?action=login2{{ SID2URL_x }}">
	<div class="border">
		<h3><img src="@theme('images/login.gif')" alt="" /> @lang('login')</h3>
		<div class="bbody">
			<label for="name">
				@lang('login_name')
			</label>
			<input tabindex="1" id="name" class="label" type="text" name="name" size="40" />
			<br class="newinput" /><hr class="formsep" />
			<label for="pw">
				@lang('login_password')<br />
				<span class="stext"><a tabindex="5" href="log.php?action=pwremind{{ SID2URL_x }}">@lang('login_lost_password')</a></span>
			</label>
			<input tabindex="2" id="pw" class="label" type="password" name="pw" size="40" />
			<br class="newinput" /><hr class="formsep" />
			<label for="remember">@lang('login_rememberme')</label>
			<div class="label center"><input type="checkbox" tabindex="3" id="remember" name="remember" value="1" checked="checked" /></div>
			<br class="newinput" />
		</div>
		<div class="bfoot center">
			<input type="hidden" name="redirect" value="{{ $loc }}" />
			<input tabindex="4" type="submit" accesskey="s" name="Submit1" value="@lang('submit_form')" />
		</div>
	</div>
</form>
<br class="minibr" />
<div class="border">
	<h3><img src="@theme('images/register.gif')" alt="" /> @lang('why_register')</h3>
	<div class="bbody">
		<p>@lang('why_register_desc')</p>
		<p class="center">
			[<a tabindex="6" href="misc.php?action=rules{{ SID2URL_x }}">@lang('rules')</a>]
			@if (!$config['disableregistration'])
			&nbsp; [<a tabindex="7" href="register.php{{ SID2URL_1 }}">@lang('login_registered')</a>]
			@endif
			&nbsp; [<a tabindex="8" href="register.php?action=resend{{ SID2URL_x }}">@lang('register_resend_title')</a>]
		</p>
	</div>
</div>
