<div class="border">
<h3><?php echo $lang->phrase('bbhelp_title'); ?></h3>
<div class="bbody">
<strong><?php echo $lang->phrase('what_are_bbcodes'); ?></strong><br />
<?php echo $lang->phrase('what_are_bbcodes_answer'); ?>
</div>
</div>
<br class="minibr" />
<div class="border">
<h3><?php echo $lang->phrase('bbcode_help_overview'); ?><a name="top"></a></h3>
<div class="bbody">
<ul>
<li><strong><a href="#standard"><?php echo $lang->phrase('standard_bbcodes'); ?></a>:</strong>
	<ul>
	<?php foreach ($sbb as $bb) { ?>
	<li><a href="#bb_<?php echo $bb['tag']; ?>">[<?php echo $bb['tag']; ?>] <?php echo $bb['title']; ?></a></li>
	<?php } ?>
	</ul>
</li>
<li><strong><a href="#extended"><?php echo $lang->phrase('extended_bbcodes'); ?></a>:</strong>
	<ul>
	<?php foreach ($ebb as $bb) { ?>
	<li><a href="#bb_<?php echo $bb['tag']; ?>">[<?php echo $bb['tag']; ?>] <?php echo $bb['title']; ?></a></li>
	<?php } foreach ($cbb as $bb) { ?>
	<li><a href="#cbb_<?php echo $bb['id']; ?>">[<?php echo $bb['bbcodetag']; ?>] <?php echo $bb['title']; ?></a></li>
	<?php } ?>
	</ul>
</li>
<li><strong><a href="#smileys"><?php echo $lang->phrase('bbcode_help_smileys'); ?></a></strong></li>
</ul>
</div>
</div>
<br />
<div class="border">
<h3><?php echo $lang->phrase('standard_bbcodes'); ?><a name="standard"></a></h3>
</div>
<?php foreach ($sbb as $bb) { ?>
<br class="minibr" />
<table class="tables">
<tr>
	<th colspan="2">
		<a name="bb_<?php echo $bb['tag']; ?>" href="#top" class="right">
			<img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('top_of_page'); ?>" />
		</a>
		<?php echo $bb['title']; ?>
	</th>
</tr>
<tr>
	<td class="tbody" colspan="2"><?php echo $bb['description']; ?></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_syntax'); ?></td>
	<td class="tbody" width="80%"><code><?php foreach ($bb['syntax'] as $syntax) { ?>
	<?php echo str_replace('{param}', '<em>'.$lang->phrase('bbcodes_param').'</em>', 
					str_replace('{option}', '<em>'.$lang->phrase('bbcodes_option').'</em>', $syntax)
				); ?><br />
	<?php } ?></code></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_example'); ?></td>
	<td class="tbody" width="80%"><?php foreach ($bb['example'] as $example) { ?><p><code><?php echo nl2br($example); ?></code></p><?php } ?></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_output'); ?></td>
	<td class="tbody" width="80%"><?php foreach ($bb['example'] as $example) { ?><div><?php echo $bbcode->parse($example); ?></div><?php } ?></td>
</tr>
</table>
<?php } ?>
<br />
<div class="border">
<h3><?php echo $lang->phrase('extended_bbcodes'); ?><a name="extended"></a></h3>
</div>
<?php foreach ($ebb as $bb) { ?>
<br class="minibr" />
<table class="tables">
<tr>
	<th colspan="2">
		<a name="bb_<?php echo $bb['tag']; ?>" href="#top" class="right">
			<img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('top_of_page'); ?>" />
		</a>
		<?php echo $bb['title']; ?>
	</th>
</tr>
<tr>
	<td class="tbody" colspan="2"><?php echo $bb['description']; ?></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_syntax'); ?></td>
	<td class="tbody" width="80%"><code><?php foreach ($bb['syntax'] as $syntax) { ?>
	<?php echo str_replace('{param}', '<em>'.$lang->phrase('bbcodes_param').'</em>', 
					str_replace('{option}', '<em>'.$lang->phrase('bbcodes_option').'</em>', $syntax)
				); ?><br />
	<?php } ?></code></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_example'); ?></td>
	<td class="tbody" width="80%"><?php foreach ($bb['example'] as $example) { ?><p><code><?php echo nl2br($example); ?></code></p><?php } ?></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_output'); ?></td>
	<td class="tbody" width="80%"><?php foreach ($bb['example'] as $example) { ?><div><?php echo $bbcode->parse($example); ?></div><?php } ?></td>
</tr>
</table>
<?php } foreach ($cbb as $bb) { ?>
<br class="minibr" />
<table class="tables">
<tr>
	<th colspan="2">
		<a name="cbb_<?php echo $bb['id']; ?>" href="#top" class="right">
			<img src="<?php echo $tpl->img('asc'); ?>" alt="<?php echo $lang->phrase('top_of_page'); ?>" />
		</a>
		<?php echo $bb['title']; ?>
	</th>
</tr>
<tr>
	<td class="tbody" colspan="2"><?php echo $bb['bbcodeexplanation']; ?></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_syntax'); ?></td>
	<td class="tbody" width="80%"><code>
	<?php echo str_replace('{param}', '<em>'.$lang->phrase('bbcodes_param').'</em>', 
					str_replace('{option}', '<em>'.$lang->phrase('bbcodes_option').'</em>', $bb['syntax'])
				); ?>
	</code></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_example'); ?></td>
	<td class="tbody" width="80%"><p><code><?php echo $bb['bbcodeexample']; ?></code></p></td>
</tr>
<tr>
	<td class="tbody" width="20%"><?php echo $lang->phrase('bbcodes_help_output'); ?></td>
	<td class="tbody" width="80%"><?php echo $bbcode->customBB($bb['bbcodeexample']); ?></td>
</tr>
</table>
<?php } ?>
<br />
<table class="tables">
<tr>
	<th colspan="3"><?php echo $lang->phrase('bbcode_help_smileys'); ?><a name="smileys"></a></th>
</tr>
<tr>
	<td class="tfoot" colspan="3"><?php echo $lang->phrase('bbcode_help_smileys_desc'); ?></td>
</tr>
<?php foreach ($smileys as $smiley) { ?>
<tr class="tbody">
	<td class="center"><img src="<?php echo $smiley['replace']; ?>" alt="<?php echo htmlspecialchars($smiley['desc']); ?>" /></td>
	<td class="center"><input type="text" class="center" size="10" value=" <?php echo $smiley['search']; ?> " /></td>
	<td><?php echo $smiley['desc']; ?></td>
</tr>
<?php } ?>
</table>