<div class="border">
<h3><?php echo $lang->phrase('bbhelp_title'); ?></h3>
<div class="bbody">
<strong>Was sind BB-Codes überhaupt?</strong><br />
Mit BB-Codes können Sie Ihren, im Forum geschriebenen Text, formatierten. Es sind dafür nur Kürzel notwendig. Eine Übersicht über die Möglichkeiten die Ihnen BB-Codes in diesem Forum bieten, sehen Sie, in der nun folgenden Übersicht.
</div>
<h3 class="inlineheader">Übersicht<a name="top"></a></h3>
<div class="bbody">
<ul>
<li><strong><a href="#standard">Standard-BB-Codes</a>:</strong>
	<ul>
    <li><a href="#b">[b]Text[/b]</a></li>
    <li><a href="#i">[i]Text[/i]</a></li>
    <li><a href="#u">[u]Text[/u]</a></li>
    <li><a href="#color">[color=#??????]Text[/color]</a></li>
    <li><a href="#img">[img]Bildadresse[/img]</a></li>
	<li><a href="#url">[url]Adresse[/url] und [url=Adresse]Linkname[/url]</a></li>
	<li><a href="#email">[email]Emailadresse[/email]</a></li>
	<li><a href="#ot">[ot]Text[/ot]</a></li>
	<li><a href="#quote">[quote]Zitat[/quote] und [quote=Quelle]Zitat[/quote]</a></li>
	<li><a href="#list">[list]Listenpunkte[/list] und [list=??]Listenpunkte[/list]</a></li>
	</ul>
</li>
<li><strong><a href="#extended">Erweiterte BB-Codes</a>:</strong>
	<ul>
	<li><a href="#size">[size=?]Text[/size]</a></li>
	<li><a href="#h">[h=?]Text[/h]</a></li>
	<li><a href="#align">[align=?]Ausgerichteter Text[/align]</a></li>
	<li><a href="#code">[code]Syntax[/code]</a></li>
	<li><a href="#note">[note=Erklärung]Wort[/note]</a></li>
	<li><a href="#edit">[edit]Nachträgliche Anmerkung[/edit] und [edit name=Editor]Nachträgliche Anmerkung[/edit]</a></li>
	<li><a href="#hide">[hide]unsichtbarer Text[/hide]</a></li>
	<li><a href="#subsup">[sub]Text[/sub] und [sup]Text[/sup]</a></li>
	<li><a href="#reader">[reader]</a></li>
	<li><a href="#tabletab">[table]Text[/table] und [tab]</a></li>
	<li><a href="#tt">[tt]Text[/tt]</a></li>
	</ul>
</li>
<li><strong><a href="#smileys">Smileys</a></strong></li>
</ul>
</div>
</div>
<br class="minibr" />
<div class="border">
<h3>Standard-BB-Codes<a name="standard"></a></h3>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[B]Text[/B]<a name="b"></a></div>
<div class="bbody">Hiermit kann ein Text fett dargestellt werden.<br /><br />Aus [B]Text[/B] wird <strong>Text</strong></div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[I]Text[/I]<a name="i"></a></div>
<div class="bbody">Hiermit kann ein Text kursiv dargestellt werden.<br /><br />Aus [I]Text[/I] wird <em>Text</em></div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[U]Text[/U]<a name="u"></a></div>
<div class="bbody">Hiermit kann ein Text unterstrichen dargestellt werden.<br /><br />Aus [U]Text[/U] wird <u>Text</u></div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[COLOR=#??????]Text[/COLOR]<a name="color"></a></div>
<div class="bbody">Hiermit kann ein Text farbig dargestellt werden.<br /><br />Aus [COLOR=#ff9900]Text[/COLOR] wird <span style="color: #ff9900">Text</span></div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[IMG]Bildadresse[/IMG]<a name="img"></a></div>
<div class="bbody">Hiermit kann ein Bild eingefügt werden.<br /><br />Aus [IMG]<?php echo $tpl->img('user'); ?>[/IMG] wird <img alt="" src="<?php echo $tpl->img('user'); ?>" /></div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>1. [URL]Adresse[/URL] und 2. [URL=Adresse]Linkname[/URL]<a name="url"></a></div>
<div class="bbody">
  1. Hiermit kann eine URL als klickbarer Link dargestellt werden.<br />
  2. Hiermit kann auch eine URL als klickbarer Link dargestellt werden, jedoch kann der Linkname selbst bestimmt werden.<br /><br />
  1. Aus [URL]http://www.mamo-net.de[/URL] wird <a href="http://www.mamo-net.de/" target=_blank>http://www.mamo-net.de/</a><br />
  2. Aus [URL=http://www.mamo-net.de]MaMo Net[/URL] wird <a href="http://www.mamo-net.de/" target=_blank>MaMo Net</a><br />  
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[EMAIL]Emailadresse[/EMAIL]<a name="email"></a></div>
<div class="bbody">Hiermit kann eine Email-Adresse als klickbarer Link dargestellt werden. Die Emailadresse wird zum Schutz vor Emailsammlern verschlüsselt!<br /><br />Aus [EMAIL]user@provider.com[/EMAIL] wird <?php echo $bbcode->cb_mail("user","provider.com"); ?></div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[OT]Text[/OT]<a name="ot"></a></div>
<div class="bbody">
  Hiermit kann man Text der nicht zum Thema passt (Off-Topic) markieren.<br /><br />
  Aus [OT]Dieser Text passt nicht zum Thema.[/OT] wird <div class="bb_ot"><strong>Off-Topic:</strong><br /><span>Dieser Text passt nicht zum Thema.</span></div>
</div>
</div>
<br class="minibr" />
<div class="border">
<h3>Erweiterte BB-Codes<a name="extended"></a></h3>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>1. [quote]Zitat[/quote] und 2. [quote=Quelle]Zitat[/quote]<a name="quote"></a></div>
<div class="bbody">
  1. Hiermit kann ein einfaches Zitat ohne Quellenangabe eingefügt werden.<br />
  2. Hiermit kann ein Zitat jedoch mit Quellenangabe eingefügt werden. Die Quellenangabe kann sowohl ein Link als auf ein Name sein.
  <br /><br />
  1. Aus [QUOTE]Dieser Text wird zitiert.[/QUOTE] wird <br /><blockquote class="bb_quote"><strong>Zitat:</strong><br /><cite>Dieser Text wird zitiert.</cite></blockquote><br />
  2. Aus [QUOTE=http://www.mamo-net.de]Viscacha ist cool![/QUOTE] wird <br /><blockquote class="bb_quote"><strong>Zitat von <a href="http://www.mamo-net.de" target="_blank">http://www.mamo-net.de</a>:</strong><br /><cite>Viscacha ist cool!</cite></blockquote>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>1. [list]Listenpunkte[/list] und 2. [list=??]Listenpunkte[/list]<a name="list"></a></div>
<div class="bbody">
  1. Hiermit kann eine normale Liste eingefügt werden.<br />
  Aus [list][*]Punkt 1 [*]Punkt 2 [/list] wird <ul><li>Punkt 1 </li> <li>Punkt 2 </li></ul><br />
  2. Hiermit kann man eine erweitere Liste mit anderen Aufzählungszeichen eingefügt werden. Möglichkeiten für Aufzählungszeichen sind "a", "A", "I", "i" und "ol".<br />
  Aus [list=ol][*]Punkt 1 [*]Punkt 2 [/list] wird <ol><li>Punkt 1 </li> <li>Punkt 2 </li></ol>
  Aus [list=A][*]Punkt 1 [*]Punkt 2 [/list] wird <ol type="A"><li>Punkt 1 </li> <li>Punkt 2 </li></ol>
  Aus [list=a][*]Punkt 1 [*]Punkt 2 [/list] wird <ol type="a"><li>Punkt 1 </li> <li>Punkt 2 </li></ol>
  Aus [list=I][*]Punkt 1 [*]Punkt 2 [/list] wird <ol type="I"><li>Punkt 1 </li> <li>Punkt 2 </li></ol>
  Aus [list=i][*]Punkt 1 [*]Punkt 2 [/list] wird <ol type="i"><li>Punkt 1 </li> <li>Punkt 2 </li></ol>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[SIZE=?]Text[/SIZE]<a name="size"></a></div>
<div class="bbody">
  Hiermit kann ein Text vergrößert (large), verkleinert (small) oder erweitert (extended) werden.<br /><br />
  Aus [SIZE=small]Text[/SIZE] wird <span style="font-size: 0.8em">Text</span><br />
  Aus [SIZE=extended]Text[/SIZE] wird <span style="letter-spacing: 3px;">Text</span><br />
  Aus [SIZE=large]Text[/SIZE] wird <span style="font-size: 1.3em">Text</span>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[H=?]Überschrift[/H]<a name="h"></a></div>
<div class="bbody">
  Hiermit können Überschiften erzeugt werden. Mögliche Werte von Überschrift (Groß) bis Unterunterüberschrift (Klein): large, middle, small
  <br /><br />
  Aus [h=large]Überschrift[/h] wird <h4 style="font-size: 14pt; margin: 0px; margin-top: 10px;">Überschrift</h3>
  Aus [h=middle]Unterüberschrift[/h] wird <h5 style="font-size: 13pt; margin: 0px; margin-top: 10px;">Unterüberschrift</h4>
  Aus [h=small]Unterunterüberschrift[/h] wird <h6 style="font-size: 12pt; margin: 0px; margin-top: 10px;">Unterunterüberschrift</h5>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[ALIGN=?]Ausgerichteter Text[/ALIGN]<a name="align"></a></div>
<div class="bbody">
  Hiermit können Elemente wie Text, Grafiken usw. ausgerichtet werden. Mögliche Werte sind "right", "left", "center" und "justify".<br /><br />
  Aus [ALIGN=right]rechtsbündiger Text[/ALIGN] wird <div style="text-align: right">rechtsbündiger Text</div><br />
  Aus [ALIGN=center]zentrierter Text[/ALIGN] wird <div style="text-align: center">zentrierter Text</div><br />
  Aus [ALIGN=left]linksbündiger Text[/ALIGN] wird <div style="text-align: left">linksbündiger Text</div><br />
  Aus [ALIGN=justify]Die Entwicklung des Computers ...[/ALIGN] wird <p style="text-align: justify">Die Entwicklung des Computers begann während des 2.Weltkriegs (1939-1945) in Deutschland, England und den USA. In den 30er Jahren speicherten Lochstreifen Daten. 1937 konstruierte Konrad Zuse den ersten Computer, den Z1. Der Z3, der erste programmgesteuerte Rechner, folgte 1941. Zur gleichen Zeit wurden mehrere Spezialrechner (z.B. der Colosseum) für die Entzifferung militärischer Nachrichten entwickelt. Auch in den USA gab es mehrere Entwicklungen. Eine der bedeutendsten war der ENIAC. John von Neumann entwickelte ihn 1945 zum Universalrechner weiter. Diese Weiterentwicklung des ENIACs konnte man mit dem Computer im heutigen Sinne vergleichen. 1948 wurden die ersten Computer mit von-Neumann-Architektur in England vorgestellt (MADM, EDSAC). Die USA bestimmte die weitere Entwicklung.</p>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[CODE]Syntax[/CODE]<a name="code"></a></div>
<div class="bbody">
  Hiermit kann Quelltext eingefügt werden. Einzeiliger Code wird im Fließtext <code style="color: #880000;">Kastanienrot</code> markiert.<br /><br />Aus<br />[CODE]&lt;?php<br />echo phpinfo();<br />?&gt;[/CODE]<br />wird z.B. 
  <blockquote class="bqleft"><span class="mtext"><strong>Quelltext:</strong></span><br /><div class="code" style="padding: 2px; overflow: scroll; width:600;"><table border="0" width="100%" cellspacing="1" cellpadding="1"><tr><td width="1%" valign="top" align="right" nowrap="nowrap"><code>1:<br />2:<br />3:<br /></code></td><td width="99%" valign="top" nowrap="nowrap"><code>&lt;?php<br />echo phpinfo();<br />?&gt;</code></td></tr></table></div></blockquote>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[NOTE=Erklärung]Wort[/NOTE]<a name="note"></a></div>
<div class="bbody">
  Hiermit kann eine kurze Erklärung zu einer Textstelle (Wort) eingefügt werden.<br /><br />
  Aus [note=Abkürzung für Hypertext Markup Language]HTML[/note] wird z.B. <acronym title='Abkürzung für Hypertext Markup Language'>HTML</acronym>.
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>1. [edit]Nachträgliche Anmerkung[/edit] und 2. [edit name=Editor]Nachträgliche Anmerkung[/edit]<a name="edit"></a></div>
<div class="bbody">
  1. Hiermit kann eine nachträgliche Bemerkung im Text merkiert werden. Eingesetzt werden sollte der Tag beim Editieren eines Beitrags.<br />
  2. Auch hiermit kann eine nachträgliche Bemerkung im Text merkiert werden, jedoch wird der Name des "Editors" zusätzlich angezeigt wird. Eingesetzt werden sollte der Tag (von Admins, Moderatoren etc.) beim Editieren eines fremden Beitrags.<br /><br />
  Beispiel: <br />
  Aus [edit]Blablabla[/edit] wird<br />
  <div class="bb_edit"><strong>Nachträgliche Anmerkung des Autors:</strong><br /><ins>Blablabla</ins></div>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[hide]unsichtbarer Text[/hide]<a name="hide"></a></div>
<div class="bbody">Mit diesem Befehl kann man Text vorerst unsichtbar machen. Es ist gedacht für Bemerkungen für eine spätere Editierung oder Fortsetzung.</div>
<div class="bfoot">1. [sub]Text[/sub] und 2. [sup]Text[/sup]<a name="subsup"></a></div>
<div class="bbody">
  1. Hiermit kann Text hochgestellt werden.<br />
  2. Hiermit kann Text tiefgestellt werden.<br /><br />
  1. Aus <code>km[sup]2[/sup]</code> wird zum Beispiel km<sup>2</sup><br />
  2. Aus <code>H[sub]2[/sub]O</code> wird zum Beispiel H<sub>2</sub>O
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[reader]<a name="reader"></a></div>
<div class="bbody">
  Hiermit kann man jeden Nutzer persönlich ansprechen.<br /><br />
  Aus "Hi [reader]" wird z.B. "Hi <?php echo $my->name; ?>".
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[table]...[/table] und [tab]<a name="tabletab"></a></div>
<div class="bbody">
  Hiermit kann man Tabellen erstellen. Mit [tab] kann man zusätzlich noch Text einrücken (Tabulator).
  <br /><br />
  Beide Tags zusammen kann man so benutzen, dass man damit einfache Tabellen erstellen kann.<br />
  Beispiel:<br />
[table][b]#[tab]Homepage[tab]Traffic[/b]<br />
1.[tab]MaMo Net[tab]500 MB<br />
2.[tab]Smileyarchiv[tab]4 GB<br />
3.[tab]Viscacha[tab]1000 KB
[/table]<br />
<br />
Ausgabe:<br />
<tt class="bb_table"><strong>#&nbsp;&nbsp;&nbsp;Homepage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traffic</strong><br />
1.&nbsp;&nbsp;MaMo Net&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500 MB<br />
2.&nbsp;&nbsp;Smileyarchiv&nbsp;&nbsp;&nbsp;&nbsp;4 GB<br />
3.&nbsp;&nbsp;Viscacha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1000 KB<br />
</tt>
</div>
<div class="bfoot"><a href="#top" class="right"><img src="<?php echo $tpl->img('asc'); ?>" alt="Nach oben" /></a>[tt]Text[/tt]<a name="tt"></a></div>
<div class="bbody">Hiermit kann ein Text im Schreibmaschinenstil dargestellt werden.<br /><br />Aus [tt]Schreibmaschinenähnlicher Text[/tt] wird <tt>Schreibmaschinenähnlicher Text</tt></div>
</div>
<br class="minibr" />
<div class="border">
<h3>Smileys<a name="smileys"></a></h3>
<div class="bbody">
  Folgende Smileys stehen auf dem Board zur Verfügung:
  <table>
  <?php foreach ($smileys as $smiley) { ?>
  <tr>
    <td><img src="<?php echo $smiley['replace']; ?>" /></td>
    <td><input type="text" size="8" value=" <?php echo $smiley['search']; ?> " /></td>
    <td><?php echo $smiley['desc']; ?></td>
  </tr>
  <?php } ?>
  </table>
</div>
</div>
