<table class="tables">
<tr><th colspan="3"><?php echo $lang->phrase('edithistory'); ?></th></tr>
<tr><td class="tbody" colspan="3">
	<?php echo $lang->phrase('showtopic_subject'); ?> <strong><?php echo $row['topic']; ?></strong>
</td></tr>
<tr class="tfoot">
	<td width="20%"><?php echo $lang->phrase('date'); ?></td>
	<td width="30%"><?php echo $lang->phrase('author'); ?></td>
	<td width="50%"><?php echo $lang->phrase('edithistory_reason'); ?></td>
</tr>
<tr class="tbody">
	<td><?php echo $row['date']; ?></td>
	<td><?php echo $row['name']; ?><?php echo iif($my->p['admin'] == 1, '<br /><span class="stext">'.$lang->phrase('ipadress').$row['ip'].'</span>'); ?></td>
	<td><em><?php echo $lang->phrase('edithistory_topicstart'); ?></em></td>
</tr>
<?php foreach ($edit as $line) { ?>
<tr class="tbody">
	<td><?php echo $line['date']; ?></td>
	<td><?php echo $line['name']; ?><?php echo iif($my->p['admin'] == 1, '<br /><span class="stext">'.$lang->phrase('ipadress').$line['ip'].'</span>'); ?></td>
	<td><?php echo $line['reason']; ?></td>
</tr>
<?php } ?>
</table>
