<form name="form2" method="post" action="misc.php?action=report_post2&amp;id=<?php echo $info['id'].SID2URL_x; ?>">
<div class="border">
	<h3><img src="<?php echo $tpl->img('rules'); ?>" alt="" /> <?php echo $lang->phrase('report_post'); ?></h3>
	<div class="bbody">
		<label for="comment">
			<?php echo $lang->phrase('report_message'); ?><br />
			<span class="stext"><?php echo $lang->phrase('report_message_desc'); ?></span>
		</label>
		<textarea tabindex="1" name="comment" id="comment" class="label" cols="70" rows="10"></textarea>
		<br class="newinput" /><br class="minibr" />
	</div>
	<div class="bfoot center"><input type="submit" tabindex="2" name="Submit" value="<?php echo $lang->phrase('submit_form'); ?>" /></div>
</div>
</form>