<tr class="tbody">
<td width="45%">
<span class="right"><?php echo $time; ?></span>
<?php if ($row->mid >= 1) { ?>
    <a href='profile.php?id=<?php echo $row->mid; ?>'><?php echo $row->name; ?></a>
<?php } elseif ($row->is_bot > 0) {
    echo $bot['name'];
} else {
    echo $lang->phrase('wiw_guest');
}
if($my->p['admin'] == 1) {
?>
<span class="stext">
<br />
<?php echo $lang->phrase('wiw_ip'); ?>&nbsp;
<?php echo iif(check_ip($row->ip), '<a href="admin.php?page='.rawurlencode('admin.php?action=members&job=ips&ipaddress='.$row->ip).'" target="_blank">'.$row->ip.'</a>', $lang->phrase('ip_unknown')); ?>
<br />
<?php echo $lang->phrase('wiw_useragent'); ?>&nbsp;
<?php echo $row->user_agent; ?>
</span>
<?php } ?>
</td>
<td width="55%"><?php echo $loc; ?></td>
</tr>
