@if(!empty($data['formatted_comment']))
<div class="border">
	<h3><img src="@img('addreply')" alt="" /> @lang('preview_title')</h3>
	<div class="bbody">
		<span class="stext">@lang('showtopic_subject') <strong>{{ $data['topic'] }}</strong></span>
		<hr />
		{!! $data['formatted_comment'] !!}
	</div>
</div>
<br class="minibr" />
@else
@if($last['message_active'] == '1')
<div class="border">
	<h3><img id="img_rules_{{ $info['board'] }}" alt="switch" src="@img('minus')" title="@lang('box_collapse')" /> {{ $last['message_title'] }}</h3>
	<div id="part_rules_{{ $info['board'] }}" class="bbody">{!! $last['message_text'] !!}</div>
</div>
<br class="minibr" />
@endif
@endif
<form method="post" action="addreply.php?action=save&amp;fid={{ $fid }}{{ SID2URL_x }}">
	<div class="border">
		<h3><img src="@img('addreply')" alt="" /> @lang('addreply_title')</h3>
		<div class="bbody">
			<label>@lang('logged_in_as')</label>
			<span>{{ $my->name }} [<a href="log.php?action=logout{{ SID2URL_x }}">@lang('logout')</a>]</span>
			<br class="newinput" /><hr class="formsep" />
			@if($last['message_active'] == '2')
			<label>@lang('board_rules'):</label>
			<a class="label" href="misc.php?action=board_rules&amp;id={{ $info['board'] }}{{ SID2URL_x }}" target="_blank">{{ $last['message_title'] }}</a>
			<br class="newinput" /><hr class="formsep" />
			@endif
			<label for="topic">@lang('title')</label>
			<input class="label" type="text" name="topic" id="topic" size="40" tabindex="5" value="{{ $data['topic'] }}" />
			<br class="newinput" /><hr class="formsep" />
			<label for="comment">@lang('post')</label>
			<div class="label textright"><a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><img src="@img('help')" alt="" /> <strong>@lang('bbcode_help')</strong></a></div>
			<br class="newinput" /><br class="minibr" />
			{!! $bbcode->getEditorArea('comment', $data['comment'], 'cols="75" rows="9" tabindex="6"') !!}
			<hr class="formsep" />
			<label for="dosmileys">@lang('post_settings')</label>
			<div class="label">
				<input type="checkbox" name="dosmileys" tabindex="7" value="1"@checked($data['dosmileys'] == 1) /> @lang('post_settings_smileys')
			</div>
			<br class="newinput" />
			@if($p_upload == 1)
			<hr class="formsep" />
			<label>@lang('attachments')&nbsp;</label>
			<div class="label">
				<a href="attachments.php?type=addreply&amp;id={{ $_GET['id'] }}&amp;location=comment{{ SID2URL_x }}" tabindex="9" target="adduploads" onclick="adduploads(this);"><strong>@lang('manage_uploads')</strong></a><br />
				<span class="stext">@lang('max_uploads')</span>
			</div>
			<br class="newinput" />
			@endif
			<hr class="formsep" />
			<label for="digest">@lang('topic_abo')</label>
			<select class="label" name="digest" id="digest" tabindex="10">
				<option value="-1"@selected($data['digest'] == -1)>@lang('digest_none')</option>
				<option value="1"@selected($data['digest'] == 1)>@lang('digest_s')</option>
				<option value="2"@selected($data['digest'] == 2)>@lang('digest_d')</option>
				<option value="3"@selected($data['digest'] == 3)>@lang('digest_w')</option>
				<option value="9"@selected($data['digest'] == 9)>@lang('digest_f')</option>
			</select>
			<br class="newinput" />
		</div>
		<div class="bfoot center">
			<input type="submit" accesskey="s" tabindex="11" name="Submit" value="@lang('submit_form')" />
			<input type="submit" accesskey="p" tabindex="12" name="Preview" value="@lang('preview_form')" />
			<input type="hidden" name="id" value="{{ $_GET['id'] }}" />
		</div>
	</div>
	@if($my->mp[0] == 1 && $info['status'] == 0)
	<br class="minibr" />
	<div class="border">
		<h3>@lang('admin_options')</h3>
		<div class="bbody">
			<label for="close">@lang('admin_addpost_close')</label>
			<div class="label"><input type="checkbox" id="close" name="close" value="1" tabindex="13" /> @lang('admin_addpost_close_desc')</div>
			<br class="newinput" />
		</div>
	</div>
	@endif
</form>
