	<?php echo iif ($tpl->tplsent('menu'), $tpl->parse('menu_noscript')); ?><br />
    <?php echo iif ($config['benchmarkresult'] == 1, $tpl->parse('admin/benchmark')); ?>
    <div class="center"><?php ($code = $plugins->navigation('bottom')) ? eval($code) : null; ?></div>
    <div class="center stext"><?php echo $lang->phrase('timestamps_gmt_diff'); ?></div>
</div><br class="invclear" />
</div>
<div id="copyright">
    Powered by <strong><a href="http://www.viscacha.org" target="_blank">Viscacha <?php echo $config['version']; ?></a></strong><br />
    Copyright &copy; 2004-2009, The Viscacha Project
    <?php echo iif($config['pccron'] == 1, '<img src="cron.php" width="0" height="0" alt="" />'); ?>
</div>
</body>
</html>
