	<?php echo iif ($tpl->tplsent('menu'), $tpl->parse('menu_noscript')); ?><br />
    <?php echo iif ($config['benchmarkresult'] == 1, $tpl->parse('admin/benchmark')); ?>
    <div class="center"><a href="docs.php?id=1<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('imprint'); ?></a> - <a href="docs.php?id=2<?php echo SID2URL_x; ?>"><?php echo $lang->phrase('credits'); ?></a></div>
    <div class="center stext"><?php echo $lang->phrase('timestamps_gmt_diff'); ?></div>
</div><br class="invclear" />
</div>
<div id="copyright">
    <strong><a href="http://www.viscacha.org" target="_blank">Viscacha <?php echo $config['version']; ?></a></strong><br />
    Copyright &copy; by MaMo Net
    <?php echo iif($config['pccron'] == 1, '<img src="cron.php" width="0" height="0" alt="" />'); ?>
</div>
</body>
</html>
