<div class="border">
	<h3>
		<span class="right">@lang('hello_user')
			&nbsp;(<a href="search.php?action=active&amp;type=lastvisit{{ SID2URL_x }}">@lang('new_posts')</a>)</span>
		<a href="forum.php{{ SID2URL_1 }}">@lang('forumname')</a>
	</h3>
	<ul class="topmenu">
		@if($my->p['search'] == 1)
		<li><a href="search.php{{ SID2URL_1 }}"><img src="@img('suchen')" alt="" /> @lang('search')</a></li>
		@endif
		@if($my->p['members'] == 1)
		<li><a href="members.php{{ SID2URL_1 }}"><img src="@img('members')" alt="" /> @lang('members_short')</a></li>
		@endif
		@if($my->p['members'] == 0 && $my->p['team'] == 1)
		<li><a href="members.php?action=team{{ SID2URL_x }}"><img src="@img('members')" alt="" /> @lang('team_short')</a></li>
		@endif
		@if($my->p['pm'] == 1)
		<li><a href="pm.php{{ SID2URL_1 }}"><img src="@img('pm')" alt="" /> @lang('pm_short')</a></li>
		@endif
		@if($my->vlogin)
		<li><a href="editprofile.php{{ SID2URL_1 }}"><img src="@img('profile')" alt="" /> @lang('editprofile_short')</a></li>
		@elseif($config['disableregistration'] == 0)
		<li><a href="register.php{{ SID2URL_1 }}"><img src="@img('register')" alt="" /> @lang('register_title')</a></li>
		@endif
		<li>
			<a id="menu_generallinks" href="#generallinks" onmouseover="RegisterMenu('generallinks');"><img src="@img('desc')" alt="@lang('box_collapse')" /> @lang('menu_links')</a>
			<div class="popup" id="popup_generallinks">
				<strong>@lang('menu_links_misc')</strong>
				<ul>
					<li><a href="misc.php?action=markasread{{ SID2URL_x }}">@lang('mark_all_posts_read')</a></li>
					<li><a href="misc.php?action=rules{{ SID2URL_x }}">@lang('rules')</a></li>
				</ul>
				<strong>@lang('search_active_topics')</strong>
				<ul>
					<li><a href="search.php?action=active&amp;type=days-1{{ SID2URL_x }}">@lang('sat_24h')</a></li>
					@if($my->vlogin)
					<li><a href="search.php?action=active&amp;type=abo{{ SID2URL_x }}">@lang('sat_abo')</a></li>
					<li><a href="search.php?action=active&amp;type=fav{{ SID2URL_x }}">@lang('sat_fav')</a></li>
					@endif
					<li><a href="search.php?action=active&amp;type=lastvisit{{ SID2URL_x }}">@lang('sat_lastvisit')</a></li>
				</ul>
			</div>
		</li>
		@if($my->vlogin)
		<li><a href="log.php?action=logout{{ SID2URL_x }}&amp;redirect={{ getRequestURI() }}"><img src="@img('logout')" alt="" /> @lang('logout')</a></li>
		@else
		<li><a href="log.php?action=login{{ SID2URL_x }}"><img src="@img('login')" alt="" /> @lang('login')</a></li>
		@endif
	</ul>
</div>
<noscript>
<br />
<div class="popup_noscript">
	<a name="generallinks"></a><strong>@lang('menu_links_misc')</strong>
	<ul>
		<li><a href="misc.php?action=markasread{{ SID2URL_x }}">@lang('mark_all_posts_read')</a></li>
		<li><a href="misc.php?action=rules{{ SID2URL_x }}">@lang('rules')</a></li>
	</ul>
	<strong>@lang('search_active_topics')</strong>
	<ul>
		<li><a href="search.php?action=active&amp;type=days-1{{ SID2URL_x }}">@lang('sat_24h')</a></li>
		@if($my->vlogin)
		<li><a href="search.php?action=active&amp;type=abo{{ SID2URL_x }}">@lang('sat_abo')</a></li>
		<li><a href="search.php?action=active&amp;type=fav{{ SID2URL_x }}">@lang('sat_fav')</a></li>
		@endif
		<li><a href="search.php?action=active&amp;type=lastvisit{{ SID2URL_x }}">@lang('sat_lastvisit')</a></li>
	</ul>
</div>
</noscript>
<br />
@hook(template_forum_menu)