<noscript>
<br />
<div class="popup_noscript">
	<a name="generallinks"></a><strong>@lang(menu_links_misc)</strong>
	<ul>
		<li><a href="misc.php?action=markasread{{ SID2URL_x }}">@lang(mark_all_posts_read)</a></li>
		<li><a href="misc.php?action=rules{{ SID2URL_x }}">@lang(rules)</a></li>
	</ul>
	<strong>@lang(search_active_topics)</strong>
	<ul>
		<li><a href="search.php?action=active&amp;type=days-1{{ SID2URL_x }}">@lang(sat_24h)</a></li>
		@if($my->vlogin)
		<li><a href="search.php?action=active&amp;type=abo{{ SID2URL_x }}">@lang(sat_abo)</a></li>
		<li><a href="search.php?action=active&amp;type=fav{{ SID2URL_x }}">@lang(sat_fav)</a></li>
		@endif
		<li><a href="search.php?action=active&amp;type=lastvisit{{ SID2URL_x }}">@lang(sat_lastvisit)</a></li>
	</ul>
</div>
</noscript>