<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $lang->phrase('html_read_direction'); ?>">
  <head>
    <title><?php echo $breadcrumb->OutputPLAIN(' &raquo; '); ?></title>
    <meta http-equiv="content-type" content="text/html; charset=<?php echo $lang->charset(); ?>" />
    <meta http-equiv="content-language" content="<?php echo $lang->phrase('lang_code'); ?>" />
    <link rel="stylesheet" type="text/css" href="designs/<?php echo $my->cssid; ?>/standard.css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="designs/<?php echo $my->cssid; ?>/ie.css" />
    <![endif]-->
    <?php echo $htmlhead; ?>
  </head>
  <body<?php echo $htmlbody; ?>>
    <div id="container">
      <h1><a href="index.php"><?php echo $config['fname']; ?></a></h1>
      <div id="blank">
	    <div class="border">
          <h3><?php echo $lang->phrase('offline_head'); ?></h3>
          <div class="bbody">
            <?php echo $offline; ?>
          </div>
          <div class="bfoot center">
			<?php if($my->vlogin) { ?>
			<a href="admin.php?action=logout" rel="nofollow"><?php echo $lang->phrase('logout'); ?></a>
			<?php } else { ?>
			<a href="admin.php" rel="nofollow"><?php echo $lang->phrase('offline_adminlogin'); ?></a>
			<?php } ?>
		  </div>
	    </div>
	  </div>
    </div>
    <div id="copyright">
      Powered by <strong><a href="http://www.viscacha.org" target="_blank">Viscacha <?php echo $config['version']; ?></a></strong><br />
      Copyright &copy; 2004-2009, The Viscacha Project
    </div>
  </body>
</html>