<table class="tables">
	<tr> 
	  <th colspan="2">
	  <?php echo iif($vcard,'<span class="right">[<a href="profile.php?action=vcard&amp;id='.$row->id.SID2URL_x.'">'.$lang->phrase('profile_vcard').'</a>]</span>'); ?>
	  <img src="<?php echo $tpl->img('user'); ?>" alt="" /> <?php echo $lang->phrase('profile'); ?>
	  </th>
	</tr>
	<tr> 
	  <td class="tbody" colspan="2" valign="middle">
	    <?php echo iif(@file_exists($row->pic) && $row->p['usepic'],"<img class='right' src='$row->pic' alt='".$row->name."' />"); ?>
	    <span class='btext'><?php echo $row->name; ?></span>
	    <?php echo iif($row->fullname,"<br />".$row->fullname); ?>
	  </td>
	</tr>
	<tr> 
	  <th width="50%"><?php echo $lang->phrase('profile_board_info'); ?></th>
	  <th width="50%"><?php echo $lang->phrase('profile_user_info'); ?></th>
	</tr>
	<tr class="tbody profiledata"> 
	  <td valign="top">
	  <h5><?php echo $lang->phrase('profile_registered_since'); ?></h5>
	  <em><?php echo $row->regdate; ?></em>
	  <br />
	  <h5><?php echo $lang->phrase('profile_group'); ?></h5>
	  <?php if (count($row->level) == 1) { ?>
	  <em><?php echo current($row->level); ?></em>
	  <br />
	  <?php } else { ?>
	  <ul>
	  <?php foreach ($row->level as $level) {?>
	  <li><em><?php echo $level; ?></em></li>
	  <?php } ?>
	  </ul>
	  <?php } ?>
	  <h5><?php echo $lang->phrase('profile_lastvisit'); ?></h5>
	  <em><?php echo $row->lastvisit; ?></em>
	  <?php if ($config['showpostcounter']) { ?>
	  <br />
	  <?php if ($config['memberrating'] == 1 && $ratingcounter >= $config['memberrating_counter']) { ?>
	  <h5><?php echo $lang->phrase('profile_rating'); ?></h5>
	  <em><img src="images.php?action=memberrating&amp;id=<?php echo $row->id.SID2URL_x; ?>" alt="<?php echo $lang->phrase('postrating_rating').$row->rating; ?>" /></em>
	  <br />
	  <?php } ?>
	  <h5><?php echo $lang->phrase('profile_posts'); ?></h5>
	  <em><?php echo $anz[0].$lang->phrase('profile_posts_perday'); ?></em>
	  <?php } if ($config['osi_profile'] == 1) { ?>
	  <br />
	  <h5><?php echo $lang->phrase('profile_osi'); ?></h5> 
	  <?php echo iif($osi, '<em class="highlight_pos" title=" '.$lang->phrase('profile_osi_lastactivity').$wwo[1].'">'.$lang->phrase('profile_online'), '<em>'.$lang->phrase('profile_offline')); ?></em>
	  <?php } ?>
	  <?php foreach ($customfields['2'] as $field) { ?>
	  <br />
	  <h5><?php echo $field['name']; ?>:</h5>
	  <em><?php echo $field['value']; ?></em>
	  <?php } ?>
	  </td>
	  <td valign="top">
	  <h5><?php echo $lang->phrase('profile_homepage'); ?></h5>
	  <em><?php echo iif($row->hp,"<a href='".$row->hp."' target='_blank'>".$row->hp."</a>",'-'); ?></em>
	  <br />
	  <h5><?php echo $lang->phrase('profile_gender'); ?></h5>
	  <em><?php echo $gender; ?></em>
	  <br />
	  <h5><?php echo $lang->phrase('profile_bday'); ?></h5>
	  <em><?php echo iif($show_bday, iif( $bday[0] > 0 , $lang->phrase('profile_bday_full') , $lang->phrase('profile_bday_short') ) , $lang->phrase('profile_na') ); ?></em>
	  <br />
	  <h5><?php echo $lang->phrase('profile_location'); ?></h5>
	  <em><?php echo iif($row->location,$row->location,'-'); ?></em>
	  <?php foreach ($customfields['1'] as $field) { ?>
	  <br />
	  <h5><?php echo $field['name']; ?>:</h5>
	  <em><?php echo $field['value']; ?></em>
	  <?php } ?>
      </td>
	</tr>
	<tr>
	  <th><?php echo $lang->phrase('profile_contact'); ?></th>
	  <th><?php echo $lang->phrase('profile_instantmessenger'); ?></th>
	</tr>
	<tr class="tbody profiledata">
	  <td valign="top">
	  <ul class="hiddenl">
		<li><strong><?php echo $lang->phrase('profile_mail'); ?>:</strong> 
		<?php if($row->opt_hidemail == 2) { ?>
		<a href="profile.php?action=mail&amp;id=<?php echo $row->id.SID2URL_x; ?>"><?php echo $lang->phrase('profile_mail_2'); ?></a>
		<?php } else { echo $lang->phrase('profile_mail_1'); } ?>
		</li>
		<li><strong><?php echo $lang->phrase('profile_pm'); ?>:</strong> <a href="pm.php?action=new&amp;name=<?php echo $row->id.SID2URL_x; ?>"><?php echo $lang->phrase('profile_pm_send'); ?></a></li>
	  <?php foreach ($customfields['3'] as $field) { ?>
	  <li><strong><?php echo $field['name']; ?>:</strong> <?php echo $field['value']; ?></li>
	  <?php } ?>
      </ul>
      </td>
	  <td valign="top">
    <?php 
    if($imanz > 0) {
    	echo iif($row->icq > 0, '<a style="display: block;" href="profile.php?action=ims&amp;type=icq&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('icq').'" alt="'.$lang->phrase('im_icq').'" /> '.$row->icq.'</a>');
    	echo iif($row->aol,'<a style="display: block;" href="profile.php?action=ims&amp;type=aol&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('aol').'" alt="'.$lang->phrase('im_aol').'" /> '.$row->aol.'</a>');
    	echo iif($row->msn,'<a style="display: block;" href="profile.php?action=ims&amp;type=msn&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('msn').'" alt="'.$lang->phrase('im_msn').'" /> '.$row->msn.'</a>');
    	echo iif($row->yahoo,'<a style="display: block;" href="profile.php?action=ims&amp;type=yahoo&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('yahoo').'" alt="'.$lang->phrase('im_yahoo').'" /> '.$row->yahoo.'</a>');
    	echo iif($row->jabber,'<a style="display: block;" href="profile.php?action=ims&amp;type=jabber&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('jabber').'" alt="'.$lang->phrase('im_jabber').'" /> '.$row->jabber.'</a>');
    	echo iif($row->skype,'<a style="display: block;" href="profile.php?action=ims&amp;type=skype&amp;id='.$row->id.SID2URL_x.'"><img src="'.$tpl->img('skype').'" alt="'.$lang->phrase('im_skype').'" /> '.$row->skype.'</a>');
	} 
    else {
        echo $lang->phrase('profile_no_im');
    }
    ?>
      </td>
	</tr>  
</table>
<?php if (strxlen($row->signature) > 3 && $row->p['usesignature']) { ?>
<br class="minibr" />
<div class="border">
<h3><img src="<?php echo $tpl->img('signature'); ?>" alt="" /> <?php echo $lang->phrase('profile_signature'); ?></h3>
<div class="bbody"><?php echo $row->signature; ?></div>
</div>
<?php } if (strxlen($row->about) > 3 && $row->p['useabout']) { ?>
<br class="minibr" />
<div class="border">
<h3><img src="<?php echo $tpl->img('about'); ?>" alt="" /> <?php echo $lang->phrase('profile_about'); ?></h3>
<div class="bbody"><?php echo $row->about; ?></div>
</div>
<?php } if ($my->p['admin'] == 1) { ?>
<br class="minibr" />
<div class="border">
<h3><?php echo $lang->phrase('admin_options'); ?></h3>
<div class="bbody">
	<a href="managemembers.php?action=delete&amp;id=<?php echo $_GET['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_user_delete'); ?></a> | 
	<a href="managemembers.php?action=edit&amp;id=<?php echo $_GET['id'].SID2URL_x; ?>"><?php echo $lang->phrase('admin_user_edit'); ?></a>
</div>
</div>
<?php } ?>
