<h2>@lang('last_posts_reply')</h2>
@if($info['posts'] >= $num)
<p>
	@lang('last_posts_info_reply')
	<a href="showtopic.php?id={{ $info['id'] }}" target="_blank">@lang('last_posts_info_reply2')</a>
</p>
@endif

@foreach ($data as $row)
<div class="panel panel-default">
	<div class="panel-heading">
		<span class="pull-right">
			<i class="fa fa-clock-o"></i> @reldatetime($row->date)
		</span>
		<h3 class="panel-title">
			{{ $row->name }}
		</h3>
	</div>
	<div class="panel-body">
		@lang('subject') <strong>{{ $row->topic }}</strong>
		<hr />
		{!! $row->comment !!}
	</div>
</div>
@endforeach