<form method="post" action="log.php?action=login2{{ SID2URL_x }}">
	<div class="navigation_cat">
		<h3>@lang('login')</h3>
		<div class="navigation_inner">
			<p>
				<label for="nav_name" class="plainlabel"><strong>@lang('login_name')</strong></label><br />
				<input type="text" name="name" id="nav_name" size="20" /><br />
				<label for="nav_pw" class="plainlabel"><strong>@lang('login_password')</strong></label><br />
				<input type="password" name="pw" id="nav_pw" size="20" /><br />
				<input type="checkbox" name="remember" id="nav_remember" value="1" checked="checked" /> <label for="nav_remember" class="plainlabel">@lang('login_rememberme')</label><br />
				<input type="submit" name="Submit" value="@lang('mymenu_send')" />
				<input type="hidden" name="redirect" value="{{ $request_uri }}" />
			</p>
			<ul class="nav">
				<li><a href="log.php?action=pwremind{{ SID2URL_x }}">@lang('login_lost_password')</a></li>
				@if($config['disableregistration'] == 0)
				<li><a href="register.php{{ SID2URL_1 }}">@lang('register_title')</a></li>
				@endif
			</ul>
		</div>
	</div>
</form>