tr.open_prio1 td, .open_prio1 {
	background: #FFFFC0;
}
tr.open_prio2 td, .open_prio2 {
	background: #FFEBC1;
}
tr.open_prio3 td, .open_prio3 {
	background: #FFD8C1;
}
tr.open_prio4 td, .open_prio4 {
	background: #FFC0C0;
}
tr.resolved td, .resolved {
	background: #D5FFD5;
}
tr.closed td, .closed {
	background: #EEEEEE;
}