* html body {
	text-align: center;
}
* html #container, * html #window {
	text-align: left;
}
* html #content {
	width: 603px;
}
.breadcrumb {
	float: right;
	margin-left: -170px;
	margin-right: 1px;
}
* html .tooltip {
	width: 300px;
}
* html .border {
	width: 100%;
}
* html .popup li {
	float: left;
	width: 100%;
}
* html .editprofile_index li {
	width: 30%;
}
* html .editprofile_index ul {
	margin-bottom: 0px;
}
* html .iefix_left {
	float: left;
}
* html .iefix_br {
	line-height: 2px;
}
* html .editor_textarea_outer .popup {
	height: expression( this.scrollHeight > 249 ? "250px" : "auto" );
	overflow-x: expression( this.scrollHeight > 249 && this.scrollWidth <= 200 ? "hidden" : "auto" );
}
* html .editor_textarea_outer .popup strong {
	width: 196px;
}
* html .editor_textarea_outer .popup li {
	width: 194px;
}
.bb_blockcode li {
	white-space: normal;
}