* {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
body {
	background-color: #cccccc;
	font-size: 9pt;
	margin: 5px;
	padding: 0px;
}
#container {
	width: 767px;
	margin: auto;
}
#window {
	margin: auto;
}
a {
	text-decoration: none;
	color: #336699;
}
a:hover {
	color : #000000;
}
form {
	margin: 0px;
}
input, select, textarea {
	z-index: 0;
	font-size: 9pt;
	background-color: #F5F8FA;
	border: 1px solid #336699;
	padding: 1px 2px 1px 2px;
}
acronym {
	border-bottom: 1px dotted #8B8060;
	cursor: help;
}
.tooltip {
	left: -1000px;
	top: -1000px;
	visibility: hidden;
	position: absolute;
	max-width: 300px;
	max-height: 300px;
	overflow: auto;
	border: 1px solid #336699;
	background-color: #ffffff;
	font-size: 8pt;
}
.tooltip_header {
	display: block;
	background-color: #E1E8EF;
	color: #24486C;
	padding: 3px;
	border-bottom: 1px solid #839FBC;
}
.tooltip_body {
	padding: 3px;
}
img {
	vertical-align: middle;
	border: 0px;
}
hr {
	height: 1px;
	border: 0;
	border-bottom: 1px #839FBC solid;
}

.stext {
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
}
.btext {
	font-size: 12pt;
	color: #336699;
	font-weight: bold;
}
.minibr {
	line-height: 5px;
}
.sep {
	margin-left: 16px;
}

/* Header und Breadcrumb-Navigation */
h1 {
	margin: 0px;
	padding: 0px;
	background-image: url('standard/header.jpg');
	height: 73px;
	width: 765px;
	border: 1px solid #839FBC;
}
h1 a, h1 a:hover {
	font-size: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: normal;
	padding-top: 15px;
	padding-bottom: 8px;
	display: block;
	text-decoration: none;
	color: #fefefe;
}
.breadcrumb {
 	border: 0px;
	border-top: 1px solid #fefefe;
	height: 22px;
	line-height: 17px;
	margin: -25px auto 0px auto;
	width: 757px;
	padding: 3px 4px 4px 4px;
 	font-size: 11px;
 	color: #fefefe;
}
.breadcrumb a {
	color: #fefefe;
	border-bottom: 1px dotted #ffffff;
}
.breadcrumb a:hover {
	color: #fefefe;
	border-bottom: 1px solid #ffffff;
}

/* Offline und Banned-Seite */
#blank {
	width: 100%;
	margin-top: 1em;
}

/* Inhalt */
#content {
	float: right;
	width: 605px;
	margin-left: 5px;
}
.bbody {
	background-color: #ffffff;
	padding: 4px;
	border-top: 1px solid #839FBC;
}
.bbody ul, .bbody ol, .tbody ul, .tbody ol {
	margin: 2px 0px 2px 0px;
	padding: 0px 0px 0px 26px;
}
.bbody ul, .tbody ul {
	list-style-image: url(standard/list.gif);
}
.bfoot {
	background-color: #E1E8EF;
	font-size: 8pt;
	color: #24486C;
	padding: 4px;
	border-top: 1px solid #839FBC;
}
.border {
	border: 1px solid #839FBC;
	background-color: #ffffff;
}
#blank h3 img, #content h3 img, #window h3 img, .tables th img, .h3 img {
	vertical-align: middle;
}
.inlineheader {
	border-top: 1px solid #839FBC;
}
.topfooter {
	border-top: 0px solid;
}
.tables {
	border-collapse: collapse;
	margin-bottom: 5px;
	width: 100%;
}
.tables td, .tables th {
	border: 1px solid #839FBC;
	padding: 4px;
}
.tables th {
	background-color: #BCCADA;
	background-image: url(standard/obox.png);
	text-align: left;
	font-size: 10pt;
	color: #336699;
	font-weight: bold;
}
.tbody {
	background-color: #ffffff;
	font-size: 9pt;
}
.tfoot {
	background-color: #E1E8EF;
	font-size: 8pt;
	color: #24486C;
}

.notice_box {
	border: 1px solid #839FBC;
	background-color: #ffffff;
	padding: 4px;
	font-size: 8pt;
}
.notice_box strong {
	float: left;
	display: block;
	width: 70px;
	text-align: center;
	color: maroon;
}
.notice_box span {
	margin-left: 75px;
	display: block;
}

/* Navigation */
#navigation {
	float: left;
	width: 157px;
}
.navigation_cat {
	border: 1px solid #839FBC;
	background-color: #ffffff;
	margin-top: 5px;
}
.navigation_cat p, .navigation_cat form {
	padding: 4px;
	margin: 0px;
}
.navigation_cat h3, #content h3, #window h3, #blank h3, .h3 {
	padding: 4px;
	margin: 0px;
	background-color: #BCCADA;
	background-image: url(standard/obox.png);
	font-size: 10pt;
	color: #336699;
}
.navigation_cat ul ul, .navigation_cat ul {
	list-style: none;
	margin: 0px;
	margin-left: 10px;
}
.navigation_cat ul ul {
	font-size: 8pt;
	padding: 0px;
	padding-left: 8px;
	list-style-image: url(standard/list.gif);
}
.navigation_cat ul {
	padding: 4px;
	padding-left: 10px;
	list-style-image: url(standard/list2.gif);
}
.navigation_cat li {
	padding: 2px;
}

.navigation_cat h3 {
	border-bottom: 1px solid #839FBC;
}

#blank h3, #content h3, .outline {
	border: 1px solid #839FBC;
}
#blank .border h3, #content .border h3 {
	border-width: 0px;
}
.h3 {
	font-weight: bold;
}


/* Oberes Menü im Forum */
.topmenu {
	margin: 0px;
	list-style-type: none;
	text-align: center;
	display: block;
	background-color: #ffffff;
	padding: 4px;
	border-top: 1px solid #839FBC;
}
.topmenu li {
	display: inline;
	font-weight: bold;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

/* Footer */
#copyright {
	padding-top: 1.5em;
	clear: both;
	font-size: 8pt;
	text-align: center;
}

/* Tabellenlose Formulare */
.label, label, .labeldiv {
	float: left;
	display: block;
	vertical-align: middle;
}
.label_inner {
	width: 100%;
}
.label {
	width: 65%;
}
label, .labeldiv {
	width: 28%;
	padding-right: 16px;
	font-weight: bold;
}
.newinput {
	clear: left;
}
.formsep {
	height: 1px;
	line-height: 1px;
	border: 0;
	border-bottom: 1px #839FBC dotted;
}

/* I-Frames der Dokumente */
.iframe {
	width: 595px;
	height: 450px;
	overflow: auto;
	border: 0px solid #ffffff;
}

/* Themen- und PN-Ansicht */
.uploadbox {
	border: 1px solid #839FBC;
	background-color: #F5F8FA;
	margin: 2px;
	padding: 4px;
	width: auto;
	min-width: 24%;
	position: relative;
	float: left;
}
.signature {
	font-size: 0.9em;
	color: #555555;
}
.uploadbox_br {
	clear: left;
}

/* Pagination */
.pagination .page_number {
	border: 1px solid #B6BCC1;
	color: #24486C;
	padding: 0px 2px;
	margin: 0px 2px;
	text-decoration: none;
}
.pagination .page_number_current, .pagination .page_number:hover {
	border: 1px solid #336699;
	background-color: #336699;
	color: #FFFFFF;
	padding: 0px 2px;
	margin: 0px 2px;
}
.pagination .page_more {
	margin: 0px 2px;
}
.pagination .page_separator {
	display: none;
}

/* Bars / Charts */
.votebar {
	background-color: #BCCADA;
	font-size: 8px;
	height: 8px;
	border: solid #839FBC 1px;
}

.fullname {
	font-weight: bold;
	font-style: italic;
	color: #555555;
}
.viewmembername {
	width: 49%;
	float: left;
}
.viewmemberdetails {
	width: 50%;
	float: right;
	text-align: right;
}
.invclear {
	clear: both;
	line-height: 0px;
}

.highlight {
	background-color: yellow;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

/* Profil */
.highlight_pos {
	color: green;
}
.profiledata br {
	line-height: 0px;
}
.profiledata em br {
	line-height: 1em;
}
.profiledata em {
	font-style: normal;
	margin-left: 7px;
	display: block;
}
.profiledata h5 {
	font-weight: bold;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
}

.profiledata ul {
	margin: 0px;
	list-style-type: none;
	list-style-image: none;
}

/* Index der Einstellungen */
.editprofile_index {
	margin: auto;
	text-align: center;
}
.editprofile_index li {
	width: 31%;
	text-align: center;
	display: block;
	margin: 1%;
	float: left;
}
.editprofile_index li br {
	clear: none;
}
.editprofile_index ul {
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	margin-top: 8px;
	margin-bottom: 2px;
	padding: 0px;
}
.editprofile_index br {
	clear: left;
}
/* Dropdown-Menues */
.popup_noscript {
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #839FBC;
	border-top: 0px;
}
.popup_noscript li {
	display: inline;
	font-weight: bold;
	padding-right: 0.8em;
	padding-left: 0.8em;
}
.popup_noscript strong {
	text-align: left;
	display: block;
	padding: 4px;
	background-color: #BCCADA;
	border-top: 1px solid #839FBC;
	border-bottom: 1px solid #839FBC;
	color: #336699;
	font-size: 9pt;
}
.popup_noscript ul {
	padding: 4px;
	margin: 0px;
	list-style-type: none;
}

.popup {
	left: -1000px;
	top: -1000px;
	visibility: hidden;
	width: 200px;
	position: absolute;
	border: 1px solid #336699;
	border-top: 0px solid;
	text-align: left;
	font-weight: normal;
}
.popup select {
	width: 194px;
}
.popup strong {
	display: block;
	padding: 2px;
	font-size: 9pt;
	color: #336699;
	background-color: #BCCADA;
	border-top: 1px solid #336699;
}
.popup ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.popup li, .topmenu .popup li {
	font-size: 9pt;
	background-color: #ffffff;
	font-weight: normal;
	border-top: 1px solid #336699;
	padding: 0px;
	display: block;
}
.popup li form, .popup li p {
	padding: 2px;
	margin: 0px;
}
.popup li a, .popup_line {
	padding: 2px;
	color: #336699;
	text-decoration: none;
	display: block;
	cursor: pointer;
	background-color: #ffffff;
}
.popup li a:hover, .popup_line:hover {
	color: #000000;
	background-color: #F5F8FA;
}

/* Ausrichtung */
.center {
	text-align: center;
}
.right {
	float: right;
}
.block {
	display: block;
}
.textright {
	text-align: right;
}
.left {
	float: left;
}

/* BB-Code Ausgabe */
.bb_table {
	display: block;
	border-collapse: collapse;
	margin: 2px;
}
.bb_table td, .bb_table th {
	border: 1px solid #839FBC;
	padding: 3px;
	background-image: none;
}
.bb_table th {
	background-color: #E1E8EF;
	color: #24486C;
	text-align: center;
	font-size: 9pt;
}

.bb_inlinecode {
	color: #880000;
	white-space: normal;
}

.bb_blockcode {
	border: 1px solid #839FBC;
	background-color: #F5F8FA;
	padding: 4px;
	margin-left: 15px;
	overflow: auto;
	max-height: 400px;
	min-height: 50px;
	width: 560px;
}
.bb_blockcode li {
	white-space: pre;
	font-family: 'Courier New', monospace;
	font-weight: normal;
	font-style: normal;
	margin-left: 4px;
}
.bb_blockcode a {
	border-bottom: 1px dotted #000000;
}
.bb_blockcode a:hover {
	border-bottom: 1px solid #000000;
}
.bb_blockcode_options {
	float: right;
	margin: 0px 40px -1px 0px;
	border: 1px solid #839FBC;
	border-bottom: 0px;
	background-color: #F5F8FA;
	padding: 1px 5px 1px 5px;
	font-size: 8pt;
}
.bb_blockcode_options:hover, .bb_blockcode_options:focus {
	background-color: #E1E8EF;
}

.bb_header {
	margin: 0px;
	margin-top: 10px;
}
.bb_size_extended {
	letter-spacing: 3px;
}
.bb_quote {
	margin: 0px;
	width: 98%;
	padding-left: 5px;
}
.bb_quote blockquote {
	border-bottom: 1px solid #839FBC;
	border-top: 1px solid #839FBC;
	padding-left: 10px;
	font-size: 9pt;
	margin: 1px;
}
.bb_ot span {
	border-top: 1px dashed #BCCADA;
	border-bottom: 1px dashed #BCCADA;
	padding-left: 10px;
	color: #7E9AB8;
	font-size: 9pt;
	display: block;
	margin: 1px;
}
.bb_edit ins {
	display: block;
	margin: 1px;
	padding-left: 5px;
	text-decoration: none;
	border-left: 2px solid #BCCADA;
}
.bb_hide {
	color: #aaaaaa;
	font-size: 9pt;
}
.bb_hide span {
	margin-left: 10px;
	display: block;
}

.nowrap {
	white-space: nowrap;
}
.plainlabel {
	float: none;
	display: inline;
	width: auto;
	padding-right: 0px;
	font-weight: normal;
}

/* BB-Code-Editor */
.editor_textarea_outer {
	border: 1px solid #888888;
	width: 100%;
	border-collapse: collapse;
}
.editor_textarea_outer td {
	padding: 4px;
}
.editor_toolbar {
	border-bottom: 1px solid #C9C9C9;
	background-color: #F4F4F4;
	height: 28px;
}
.editor_toolbar_dropdown {
	border: 1px solid #F4F4F4;
	padding: 2px;
	color: #000000;
	font-size: 9pt;
}
.editor_toolbar_dropdown:hover {
	border: 1px solid #999999;
}
.editor_toolbar_smiley {
	border: 1px solid #F4F4F4;
	padding: 2px;
}
.editor_toolbar_smiley_on {
	border: 1px solid #999999;
	padding: 2px;
}
.editor_toolbar_button {
	width: 20px;
	height: 20px;
	border: 1px solid #F4F4F4;
}
.editor_toolbar_button_on {
	width: 20px;
	height: 20px;
	border: 1px solid #999999;
}
.editor_textarea_inner {
	background-color: #FFFFFF;
	font-size: 9pt;
	border-width: 0px;
	width: 100%;
	overflow: auto;
	margin: -4px;
	padding: 4px;
}
.editor_statusbar {
	font-size: 8pt;
	background-color: #F4F4F4;
	border-top: 1px solid #C9C9C9;
}
.editor_statusbar a {
	color: #000000;
	text-decoration: none;
}
.editor_statusbar a:hover {
	text-decoration: underline;
}

.editor_textarea_outer .popup {
	border: 1px solid #888888;
	max-height: 250px;
	width: 200px;
}
.editor_textarea_outer .popup ul {
	list-style-type: none;
}
.editor_textarea_outer .popup strong {
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
	border-width: 0px;
	border-bottom: 1px solid #888888;
	padding: 2px;
	font-size: 9pt;
}
.editor_textarea_outer .popup li {
	border-width: 0px;
	padding: 2px 3px 1px 3px;
	background-color: #ffffff;
	font-size: 9pt;
}
.editor_textarea_outer .popup li a, .editor_textarea_outer .popup_line {
	color: #000000;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding: 2px;
}
.editor_textarea_outer .popup li a:hover, .editor_textarea_outer .popup_line:hover {
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	color: #000000;
}

.bbcolor {
	padding: 10px;
	background-color: #ffffff;
	line-height: 13px;
	font-size: 13px;
}
.bbcolor span {
	width: 10px;
	height: 13px;
	display: block;
	float: left;
	cursor: pointer;
}
.bbcolor img {
	width: 10px;
	height: 13px;
	border-width: 0px;
}
.bbcolor img:hover {
	width: 8px;
	height: 11px;
	border: 1px solid #ffffff;
}

.bbtable {
	background-color: #ffffff;
	padding: 4px;
}
.bbtable input {
	width: 35px;
	float: left;
	background-color: #ffffff;
	border: 1px solid #888888;
	text-align: center;
	margin-right: 5px;
}

.bbsmileys img {
	margin: 2px 8px 2px 4px;
}

/* IE Fix */
.iefix_br {
	line-height: 0px;
}