@include('header')

<a name="top"></a>
<h1>@lang('bbhelp_title')</h1>
<h2>@lang('what_are_bbcodes')</h2>
<p>@lang('what_are_bbcodes_answer')</p>

<h2>@lang('bbcode_help_overview')</h2>
<ul>
	<li><strong><a href="#standard">@lang('standard_bbcodes')</a></strong>
		<ul>
			@foreach ($nativebb as $bb)
			<li><a href="#bb_{{ $bb['tag'] }}">[{{ $bb['tag'] }}] {{ $bb['title'] }}</a></li>
			@endforeach
		</ul>
	</li>
	<li><strong><a href="#smileys">@lang('bbcode_help_smileys')</a></strong></li>
</ul>

<a name="standard"></a>
<h2>@lang('standard_bbcodes')</h2>
@foreach ($nativebb as $bb)
	<a name="bb_{{ $bb['tag'] }}"></a>
	<h3>
		{{ $bb['title'] }}
		<a href="#top" title="@lang('top_of_page')" class="pull-right"><i class="fa fa-chevron-up"></i></a>
	</h3>
	<div class="bb-help-explanation">
		<p>{{ $bb['description'] }}</p>
		<h4>@lang('bbcodes_help_syntax')</h4>
		<p><code>@foreach($bb['syntax'] as $syntax) {!! str_replace('{param}', '<em>'.$lang->phrase('bbcodes_param').'</em>', str_replace('{option}', '<em>'.$lang->phrase('bbcodes_option').'</em>', $syntax)) !!} @endforeach</code></p>

		<h4>@lang('bbcodes_help_example')</h4>
		@foreach($bb['example'] as $example)
		<p><code>{!! nl2br($example) !!}</code></p>
		@endforeach

		<h4>@lang('bbcodes_help_output')</h4>
		@foreach($bb['example'] as $example)
		<div>{!! $bbcode->parse($example) !!}</div>
		@endforeach
	</div>
@endforeach

<a name="smileys"></a>
<h2>@lang('bbcode_help_smileys')</h2>
<p>@lang('bbcode_help_smileys_desc')</p>
<table class="table table-striped">
	<tbody>
	@foreach ($smileys as $smiley)
		<tr>
			<td class="text-center"><img src="{{ $smiley['replace'] }}" alt="{{ $smiley['desc'] }}" /></td>
			<td class="text-center"><input type="text" class="text-center" size="10" value=" {{ $smiley['search'] }} " /></td>
			<td>{{ $smiley['desc'] }}</td>
		</tr>
	@endforeach
	</tbody>
</table>

@include('footer')