<form name="form2" method="post" action="misc.php?action=report_post2&amp;id={{ $info['id'] }}{{ SID2URL_x }}">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><img src="@theme('images/rules.gif')" alt="" /> @lang('report_post')</h3></div>
		<div class="panel-body">
			<label for="comment">
				@lang('report_message')<br />
				<span class="stext">@lang('report_message_desc')</span>
			</label>
			<textarea tabindex="1" name="comment" id="comment" class="label" cols="70" rows="10"></textarea>
			<br class="newinput" />
		</div>
		<div class="panel-footer center"><input type="submit" tabindex="2" name="Submit" value="@lang('submit_form')" /></div>
	</div>
</form>