@include('header')

<h1>
	@lang('wiw')
	<span class="badge">{{ $wwo['i'] }}</span>
</h1>
@if($wwo['r'] > 0)
<h2>
	@lang('wiw_r')
	<span class="badge">{{ $wwo['r'] }}</span>
</h2>
<table class="table table-striped">
	{!! $inner['wwo_bit_member'] !!}
</table>
@endif

@if($wwo['g'] > 0)
<h2>
	@lang('wiw_g')
	<span class="badge">{{ $wwo['g'] }}</span>
</h2>
<table class="table table-striped">
	{!! $inner['wwo_bit_guest'] !!}
</table>
@endif

<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>

@include('footer')