<h1>@lang('newtopic_title')</h1>
@if($_GET['action'] == 'preview')
<h2>@lang('preview_title')</h2>
<div class="well">
	@lang('showtopic_subject') <strong>@if(!empty($prefix)) @lang('showtopic_prefix_title') @endif {{ $data['topic'] }}</strong>
	<hr />
	{!! $data['formatted_comment'] !!}
</div>
@elseif($last['message_active'] == 1)
<div class="panel panel-warning">
	<div class="panel-heading"><h3 class="panel-title">{{ $last['message_title'] }}</h3></div>
	<div class="panel-body">
		{!! $last['message_text'] !!}
	</div>
</div>
@endif
<form method="post" action="newtopic.php?id={{ $board }}&amp;fid={{ $fid }}{{ SID2URL_x }}&amp;action=save">
	@if($last['message_active'] == '2')
	<div class="form-group">
		<label>@lang('board_rules'):</label>
		<span class="form-control-static"><a href="misc.php?action=board_rules&amp;id={{ $info['board'] }}{{ SID2URL_x }}" target="_blank">{{ $last['message_title'] }}</a></span>
	</div>
	@endif
	<div class="form-group">
		<label for="topic">@lang('title')</label>
		@if(count($prefix_arr) > 0)
		<div class="input-group">
			<div class="input-group-addon">[</div>
			<select name="opt_0" class="form-control" tabindex="4">
				@foreach ($prefix_arr as $id => $value)
				<option value="{{ $id }}"@selected($sel == $id)>{{ $value['value'] }}</option>
				@endforeach
			</select>
			<div class="input-group-addon">]</div>
			<input type="text" class="form-control" id="topic" name="topic" size="40" tabindex="5" value="{{ $data['topic'] }}" />
		</div>
		@else
		<input type="text" class="form-control" id="topic" name="topic" size="40" tabindex="4" value="{{ $data['topic'] }}" />
		@endif
	</div>
	<div class="form-group">
		<label for="comment">
			@lang('post')
			<small><a href="misc.php?action=bbhelp{{ SID2URL_x }}" target="_blank"><i class="fa fa-question-circle"></i> @lang('bbcode_help')</a></small>
		</label>
		{!! $bbcode->getEditorArea('comment', $data['comment'], 'cols="75" rows="9" tabindex="6"') !!}
	</div>
	<div class="form-group">
		<label for="dosmileys">
			<input type="checkbox" name="dosmileys" tabindex="7" value="1"@checked($data['dosmileys'] == 1) />
				   @lang('post_settings_smileys')
		</label>
	</div>
	@if($p_upload == 1)
	<div class="form-group">
		<label>@lang('attachments')</label>
		<div class="form-control-static">
			<a href="attachments.php?type=newtopic&amp;id={{ $_GET['id'] }}&amp;location=comment{{ SID2URL_x }}" tabindex="9" target="adduploads" onclick="adduploads();"><strong>@lang('manage_uploads')</strong></a><br />
			<small>@lang('max_uploads')</small>
		</div>
	</div>
	@endif
	@if($my->p['addvotes'] == 1)
	<div class="form-group">
		<label for="temp">@lang('add_vote')</label>
		<div class="form-control-static">
			<label>
				<input type="checkbox" tabindex="10" name="opt_2" value="1"@checked($data['vote'] == 1) /> @lang('yes_add_vote')
			</label>
			@lang('vote_replies') <input tabindex="11" type="text" id="temp" name="temp" size="4" value="{{ $data['replies'] }}" />
		</div>
	</div>
	@endif
	<div class="form-group">
		<label for="digest">@lang('topic_abo')</label>
		<select class="form-control" name="digest" id="digest" tabindex="10">
			<option value="-1"@selected($data['digest'] == -1)>@lang('digest_none')</option>
			<option value="1"@selected($data['digest'] == 1)>@lang('digest_s')</option>
			<option value="2"@selected($data['digest'] == 2)>@lang('digest_d')</option>
			<option value="3"@selected($data['digest'] == 3)>@lang('digest_w')</option>
			<option value="9"@selected($data['digest'] == 9)>@lang('digest_f')</option>
		</select>
	</div>
	<div class="form-group form-buttons">
		<input tabindex="13" type="submit" name="Preview" value="@lang('preview_form')" class="btn btn-default" />
		<input accesskey="s" tabindex="14" type="submit" name="Submit" value="@lang('submit_form')" class="btn btn-primary">
	</div>
	@if($my->mp[0] == 1)
	<div class="panel panel-danger">
		<div class="panel-heading"><h3 class="panel-title">@lang('admin_options')</h3></div>
		<div class="panel-body">
			<div class="form-group">
				<label for="close">
					<input type="checkbox" tabindex="15" id="close" name="close" value="1" />
					@lang('admin_addpost_close_desc')
				</label>
			</div>
			<div class="form-group">
				<label for="pin">
					<input type="checkbox" tabindex="16" id="pin" name="pin" value="1" />
					@lang('admin_addpost_pin_desc')
				</label>
			</div>
		</div>
	</div>
	@endif
</form>