<h1>@lang('add_vote_to_thread')</h1>
<form method="post" action="newtopic.php?action=savevote&amp;id={{ $board }}&amp;topic_id={{ $_GET['topic_id'] }}{{ SID2URL_x }}">
	<div class="form-group">
		<label for="question">
			@lang('title_vote_question_replies')
			<small>@lang('title_vote_question_replies_desc')</small>
		</label>
		<input type="text" size="40" tabindex="3" id="question" class="form-control" name="question" value="{{ $data['question'] }}" />
	</div>
	<h2>@lang('title_vote_replies')</h2>
	<div class="form-group">
		<label for="temp">
			@lang('title_refresh_vote_replies')
			<small>@lang('add_vote_replies_desc')</small>
		</label>
		<input type="text" tabindex="1" size="3" id="temp" name="temp" value="{{ $temp }}" class="form-control" />
	</div>
	<div class="form-group form-buttons">
		<input type="submit" tabindex="2" name="Update" value="@lang('refresh_form')" class="btn btn-default" />
	</div>
	@foreach(range(1, $temp) as $i)
		<div class="form-group">
			@php $lang->assign('i', $i) @endphp <!-- ToDo: Remove this PHP code -->
			<label for="notice_{{ $i }}">@lang('add_vote_reply')</label>
			<input type="text" size="40" tabindex="1{{ $i }}" id="notice_{{ $i }}" class="form-control" name="notice[{{ $i }}]" value="{{ $data[$i] }}" />
		</div>
	@endforeach
	<div class="form-group form-buttons">
		<input type="submit" tabindex="200" accesskey="s" value="@lang('submit_form')" class="btn btn-primary" />
	</div>
</form>